.overview-title {
    background: transparent url(../images/dcim/pos.png) top no-repeat;
    background-size: contain;
    width: 100px;
    height: 80px;
    position: absolute;
}

.overview-title span {
    padding-left: 20px;
    display: block;
    padding-top: 3px;
    color: #000;
    font-weight: 600;
}

.numstatus {
    background-image: none;
    background-color: #00005B;
    min-width: 214px;
    min-height: 110px;
    border-radius: 12px;
    border: 10px solid transparent;
    border-image-source: url(../images/dcim/box2.png);
    border-image-slice: 12;
}

.numstatus>div {
    width: 100%;
    line-height: 20px;
    color: #fff;
}
.numstatus>div img{margin-right: 5px;}

.numstatus table {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin: 10px;
    width: calc(100% - 20px);
    float: left;
}
.numstatus table tr:hover{background-color: transparent!important;}

b {
    color: #00FF00;
    font-weight: 500;
    padding: 0 3px;
}
table b{padding: 0;}
.numstatus-btn{width:100px;height:38px;text-align: center;background: transparent url(../images/dcim/btn.png) center no-repeat; background-size: 100% 100%;margin:8px auto;}
.numstatus-input{width: 60px;height:34px;margin:8px auto;text-align: center;}
.dcim-area{background: #001966;}
.dcim-area-title{height: 36px;}
.overview-title2{position: absolute;font-weight: 600;color:#000;font-size: 18px;}
.numstatus .able,.numstatus .unable{float: right;width:6px;margin-top:0px}
.overview-chart{width: 100%;height:95%;}
