.dcim-body{background: #0F1379 url(../images/dh/bodybg.png) bottom center no-repeat; background-size: cover;padding:0 15px;width:calc(100% - 30px);background-attachment:fixed;min-width:1280px}
.dcim-head{ width: 100%; height:80px;background: url(../images/maphead.png) bottom center no-repeat;background-size: contain;font-size: 26px;line-height: 2.1;text-align: center;color: #B9D1FF;}
.dcim-center{text-align: center;}
.dcim-txtleft{text-align: left!important;}
.dcim-left{float: left;}
.dcim-right{float: right;}

.dcim-bgtitle{background: url(../images/dh/title-bg.png) top right no-repeat; width: 100%;height: 32px;text-align: right;font-size: 17px;color:#09C8E5;line-height:34px;margin-bottom: 10px;background-size: 270px 32px!important;}
.dcim-bgtitle-left{background: url(../images/dh/title-bg-left.png) top left no-repeat;text-align: left;padding-left:10px}
.dcim-bgtitle2{height:42px;background-color:#1A1C5D;color:#09C8E5;font-size: 16px;text-align: center;line-height: 42px;}

.dcim-bg{background-color: #0E1476;overflow: hidden;text-align: center;}
.dcim-bg2{background-color: rgba(24,17,115,0.6);}

.layui-table{background-color: transparent!important;}
.layui-table tr{background: transparent!important;}
.dcim-table tr td,.dcim-table tr th{background-color:transparent;text-align: center;font-size: 16px;color:#B9D1FF;min-width:30px;}
.dcim-table td.notrun, .dcim-table td.able, .dcim-table td.unable, .dcim-table td.run{padding-left: 55px!important; background-position-x: 10px!important;background-size: 26px;text-align: left;}
.unable,.able,.notrun,.run{font-size:17px;color:#09C8E5;width:150px;background: transparent left center no-repeat;padding:15px 3px 15px 35px;margin: auto;background-size: 26px;}
.unable{background-image: url(../images/dh/unable.png);}
.able{background-image: url(../images/dh/able.png);}
.notrun{background-image: url(../images/dh/run.png);}
.run{background-image: url(../images/dh/notrun.png);}

.dcim-table2 tr td{width:15%}

.tblast {width: calc(100% - 20px); border-collapse: collapse;margin:10px;background: transparent;}
.tblast thead{position:relative;}
.tblast thead:before,.tblast thead:after{content:'';position:absolute;left:0;height:7px;background:#001052 url(../images/dcim/line1.jpg) left no-repeat;background-size: 100%;width:100%}
.tblast thead:before{top:-5px;}
.tblast thead:after{background-image:url(../images/dcim/line2.jpg);bottom:4px}
.tblast thead tr td{position: relative;top:2px;background:#0A1964}
.tblast tr{line-height: 45px;font-size:16px;border-bottom: 10px solid rgba(24,17,115,1);background-color: #122479;}
.tblast tr td{color: #09C8E5;text-align: center;}
.tblast tbody tr td span{color:#B9D1FF;padding:0 5px}
.tblast tbody tr td text{color:#EC8B46}
.tblast td.tdbg{background: #0E43A6;width:32px;min-width:36px;padding: 0;text-align: center;font-weight: 600;height:100%;}

.tblast1 tbody tr:nth-child(2n+1) td{color:#EC8B46}
.tblast1 tbody tr:nth-child(2n+1) td:first-child{color:#09C8E5!important}
.tblast1 tbody tr:last-child{border-bottom: 0px;}

.tblast2 td{color:#B9D1FF!important}
.tblast2 tr{line-height: 32px;}
.tblast2 tbody tr td:nth-child(3){color:#EC8B46!important}

.tblast3 td{color:#B9D1FF!important;padding: 8px 0;}
.tblast3 tr{line-height: 32px;border-bottom: 1px solid #5E7AA2;}
.tblast3 tr span{color: #09C8E5!important;padding:0 10px!important}
.tblast3 button{background-color: #4169E3;outline: none;padding: 5px 8px;color:#B9D1FF;border: none;margin: 0 10px;cursor: pointer;white-space: nowrap;}

.tblast4 td{color:#B9D1FF!important}
.tblast4 tr{line-height: 32px;border-bottom-width:8px ;}
.tblast4 tbody tr td:nth-child(3),.tblast4 tbody tr td:nth-child(4){color:#09C8E5!important}

.tblast5 tr{border-bottom: 0;}/*继承3的样式*/

.tblast6{width:auto}
.tblast6 tr{border-bottom: 0;background-color: transparent;}
.tblast6 img{width:32px;height:32px;padding:0 20px}
.tblast6 button{background-color: #4169E3;outline: none;padding: 5px 8px;color:#B9D1FF;border: none;margin: 0 10px;cursor: pointer;white-space: nowrap;}

.tblast7 tr td{padding:5px 6px}

.tblast8 tr{line-height: 26px;}
.tblast2 tbody tr:last-child{border-bottom: none;}

.tblast9{margin: 0;}

.dcim-ups-loadrate{float:left; width:200px;margin-right: 10px;}
.dcim-ups-img{height:220px;margin: 33px auto;}
.dcim-ups-mainnumber{float:left; width: calc(100% - 220px); margin-right: 8px;}
.dcim-ups-mainnumber table{width:50%;float: left;}
.dcim-ups-mainnumber table tr th{font-size: 14px;}
.dcim-ups-mainnumber table tr td{color:#09C8E5;}
.dcim-ups-mainnumber table tr td:first-of-type{color:#B9D1FF}
.dcim-ups-mainnumber table:first-of-type{border-right: 1px solid #B9D1FF;}
.dcim-ups-param{clear:both;padding-top: 20px;width:40%;float: left;margin-right: 10px;}
.dcim-ups-param table tr td{text-align: left;}
.dcim-ups-param table tr td:nth-child(2),.dcim-ups-param table tr td:nth-child(5){color:#09C8E5;text-align: center;}
.dcim-ups-status{padding-top: 20px;width:calc(60% - 20px);float: left;}

.dcim-power-left{float: left; width: 24%;margin: auto 10px;padding-bottom: 20px;text-align: center;}
.dcim-power-img{margin: 45px auto 30px;max-width:100%;max-height:278px}
.dcim-power-text{font-size:35px;color:#09C8E5;line-height: 1;}
.dcim-power-text2{font-size:20px;color:#09C8E5;position: relative;top:20px}
.dcim-power-text2 span{font-weight: 600;color:#B9D1FF;padding:0 8px}
.dcim-power-img2{margin-bottom: 20px;}
.dcim-power-center{float: left; width: 35%;margin-right: 29px;padding-bottom: 20px;}
.dcim-power-right{float: left; width: calc(41% - 108px);padding-bottom: 20px;}
.dcim-power-right{float: left; width: calc(41% - 108px);padding-bottom: 20px;}
.power-table-color td{color:#09C8E5!important}
.power-table-color td:nth-child(2),.power-table-color td:nth-child(5){color:#EC8B46!important;}
.power-table-color td:nth-child(3n){color:#B9D1FF!important;font-size: 12px;}
#changeChart{height:330px}

.dcim-ups-model{margin-right: 10px;}
.dcim-ups-model table tr th{font-size: 16px;}
.dcim-ups-model table tr td{color:#09C8E5;}
.dcim-ups-model table tr td:first-of-type{color:#B9D1FF}

.dcim-jifang{padding-right:10px}
.dcim-jifang .img{width:30px;}
.dcim-jifangimg-box{background: url(../images/dh/jifang.png) top center no-repeat; width: 825px;height: 398px; background-size: 100% 100%;position: relative;position: relative;margin-top: 30px;margin-bottom: 10px;}
.dcim-jifang .dcim-jifang-text:nth-of-type(1){top:38px;left:76px}
.dcim-jifang .dcim-jifang-status:nth-of-type(2){top:90px;left:53px}
.dcim-jifang .dcim-jifang-status:nth-of-type(3){top:90px;left:141px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(1){top:160px;left:110px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(2){top:353px;left:111px}
.dcim-jifang .dcim-jifang-status:nth-of-type(4){top:-12px;left:348px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(3){top:46px;left:307px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(4){top:46px;left:407px}
.dcim-jifang .dcim-jifang-status:nth-of-type(5){top:95px;left:286px}
.dcim-jifang .dcim-jifang-status:nth-of-type(6){top:95px;left:390px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(5){top:164px;left:407px}
.dcim-jifang .dcim-jifang-status:nth-of-type(7){top:236px;left:345px}
.dcim-jifang .dcim-dianchijian-img:nth-of-type(6){top:353px;right:61px}

.dcim-jifang-status{position:absolute;width:73px;height:36px;background:transparent url(../images/dh/status.png) center no-repeat;padding:5px 1px 5px 2px;background-size: 100% 100%;}
.dcim-jifang-status>div{float: left;width:16px;color:#E3F8F9;line-height: 36px;font-size: 16px;}
.dcim-jifang-status span{float: left;width:16px;color:#B9D1FF;}
.dcim-jifang-status span:nth-child(2n){width:40px;text-align: center;color:#03DFFB;font-size: 15px;}

#wetchatmain{height:280px;width:100%}
.dcim-col2{float: left;width:50%}
.dcim-col2:last-of-type{margin-top: 25px;margin-left: -18px;}

.dcim-dianchijian-box{background-image: url(../images/dh/dianchijian.png);height:680px; width: 896px; background-size: 100% 100%; margin: 30px auto;}
td.dcim-table-title{font-size:22px;color:#09C8E5!important;line-height: 50px;}
.dcim-col50 {width:50%;text-align: center;float: left;}
.dcim-col50 button,.dcim-col25 button{display: block;margin-bottom: 5px;cursor: pointer;white-space: nowrap;}
.dcim-col25{width:25%;text-align: center;float: left;}
.dcim-col25 img{width:32px;margin-top: 12px;}
.dcim-dianchijian tr:nth-child(2n){border-bottom: 1px solid #5E7AA2;}
.dcim-dianchijian tr:last-child{border-bottom: 0px;}
.dcim-col33{width:calc(100%/3);text-align: center;float: left;line-height: 66px;}
.dcim-col33 img{width:58px;padding: 5px 10px;}
.dcim-dianchijian-desc{position:absolute;color:#03DFFB;font-size:13px;line-height:36px;min-width:56px;padding:0 8px;height:36px;background: transparent url(../images/dh/pao.png) center no-repeat; background-size: 100% 100%;text-align: center;}
.dcim-dianchijian-img{position:absolute;width:36px;}
.dcim-jifang-text{position:absolute;font-size:18px;color:#B9D1FF;}
.dcim-jifang-text span{color:#03DFFB;padding:0 10px;display: inline-block;}

.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(1){top:90px;left:145px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(2){top:90px;left:245px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(3){top:90px;left:335px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(4){top:90px;left:430px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(5){top:90px;left:530px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(6){top:150px;left:282px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(1){top:189px;left:300px}
.dcim-dianchijian-box .dcim-jifang-status:nth-of-type(7){top:227px;left:278px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(9){top:382px;left:282px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(2){top:422px;left:300px}
.dcim-dianchijian-box .dcim-jifang-status:nth-of-type(10){top:458px;left:278px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(11){top:62px;left:760px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(3){top:106px;left:780px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(12){top:158px;left:770px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(4){top:201px;left:788px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(13){top:307px;left:743px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(5){top:352px;left:762px}
.dcim-dianchijian-box .dcim-dianchijian-desc:nth-of-type(14){top:478px;left:675px}
.dcim-dianchijian-box .dcim-dianchijian-img:nth-of-type(6){top:520px;left:664px}
.dcim-dianchijian-box .dcim-jifang-text{top:318px;left:232px}

.dcim-kongtiao{padding-right:10px}
.dcim-kongtiao-img{width:170px;float: left;}
.dcim-kongtiao-desc{text-align: center;margin: 25px 10px 10px;width:110px;height:266px;float: left;color:#09C8E5;font-size:17px;position: relative;}
.dcim-kongtiao-desc>div{background: transparent center no-repeat;background-size: cover;width:100%;position: absolute;top:58px;}
.dcim-kongtiao-desc>div:first-child{background-image: url(../images/dh/yuan.png);height:110px;font-size:25px;font-weight: 600;line-height: 110px;top:0}
.dcim-kongtiao-desc>div:nth-child(2){background-image: url(../images/dh/zhu.png);height:175px;color:#B9D1FF;line-height: 175px;;top:74px}
.dcim-kongtiao-desc>div:last-child{bottom:5px;top:auto}
.dcim-kongtiao table{width:calc(100% - 440px);float: left;margin-top: 50px;min-width:242px}
.dcim-kongtiao table tr td{background-color: transparent;}
.dcim-kongtiao table tr td:nth-child(1){text-align: right;}
.dcim-kongtiao table tr td:nth-child(2){color:#09C8E5;text-align: center;}
.dcim-kongtiao-lianluimg{background: transparent url(../images/dh/ktline.png);width:370px;height:215px;margin: 44.5px auto;background-size: 100% 100%;position: relative;}
.dcim-kongtiao-lianluimg .dcim-dianchijian-img:nth-of-type(1){top:105px;left:47px}
.dcim-ktparam-box{height:calc(100vh - 496px);overflow-y: auto;}

.dcim-kongtiao-title{position: relative;}
.dcim-kongtiao-title>div{position: absolute;top:-16px;left:200px}
.dcim-kongtiao-title>div:nth-child(2){position: absolute;left:300px}
.dcim-kongtiao-title>div:nth-child(3){position: absolute;left:400px}
.dcim-kongtiao-title>div:nth-child(4){position: absolute;left:500px}

.dcim-kongtiao2{padding-right:10px}
.dcim-kongtiao2 .dcim-kongtiao-img{padding: 5px 25px;}
.dcim-kongtiao2 .dcim-kongtiao-desc{margin: 10px 20px;}
.dcim-kongtiao2 .dcim-table-col2{width:60%;float: left;border-left:2px solid #1E90FF}
.dcim-kongtiao2 .dcim-table-col2:first-of-type{width:40%;border: none;}

.dcim-kongtiao-status{border:16px solid; border-image-source: url(../images/dh/lang.png);border-image-slice: 13;border-image-width: 9px;margin-top:20px;background-color: #0F173B;width:calc(100% - 32px);height:calc(100vh - 170px);}
.dcim-kongtiao-statustitle{color:#9FCCFF;font-size:15px;text-align: center;height:40px;line-height: 38px;overflow: hidden;border-left:1px solid #1A3151;margin-top: 5px;}
.dcim-kongtiao-statustitle div{width:131px;float: left;cursor: pointer;border:2px solid #1A3151;box-shadow:0 0 8px 5px #1a3151 inset;position: relative;left:-30px;}
.dcim-kongtiao-statustitle div:first-child{width:161px}
.dcim-kongtiao-statustitle div{transform: skewX(-45deg);}
.dcim-kongtiao-statustitle div span{transform: skewX(45deg);display: block;}
.dcim-kongtiao-statustitle-check{font-size: 120%;}
.dcim-kongtiao-statusbox{height:calc(100% - 50px);overflow: auto;}
.dcim-table3, .dcim-table3 thead tr,.dcim-table3 tr,.dcim-table3 tr:hover{background-color: transparent!important;}
.dcim-table3 tr td,.dcim-table3 tr th{color:#9FCCFF;font-size:17px;width:38px;padding:12px;font-weight: 500;}
.dcim-table3 thead tr{background-image: none;}
.dcim-table3 thead tr th{border:2px solid #1A3151;box-shadow:0 0 8px 5px #1a3151 inset;text-align: center;font-size:15px;padding:3px}
.dcim-table4 tr td{text-align: center;font-size: 15px;padding:5px}

.dcim-dianchidetail{padding-right:10px}
.dcim-dianchidetail table tr td{color:#09C8E5;}
.dcim-dianchidetail table tr td:first-of-type{color:#B9D1FF}
.dcim-table2 tr td{color:#B9D1FF!important;}
.dcim-dianchidetail tbody tr td span{color:#09C8E5!important}
.dcim-dianchidetail-img{background: url(../images/dh/bigzhu.png) top center no-repeat;background-size:100% 300px;width:100%; background-position-y:272px;height:700px}
.dcim-dianchidetail-img img{width:540px}

.dcim-param{padding:10px}
.dcim-param-title{text-align: center;font-size: 18px;line-height: 2;color: #B9D1FF;}
.dcim-param .dcim-bg{padding:10px 30px 20px}
.dcim-param .dcim-table{border-spacing: 0;}
.dcim-param .dcim-table tr td,.dcim-param .dcim-table tr th{border:1px solid #96CEE7}
.dcim-param .dcim-table tr td{color:#5CB1FF}
.dcim-param .dcim-table tr td:first-of-type,.dcim-param .dcim-table tr th{color:#B9D1FF;font-weight: 500;}

.dcim-weiindex{background: #0A1168 url(../images/dh/index-bg.png) top center no-repeat;background-size: cover;position: relative;background-attachment:fixed;}
.dcim-weiindex-bg{position: absolute;z-index: 2;width:100%;height:100%}
.dcim-weiindex-bg>img{position: absolute;}
.dcim-weiindex-bg img:nth-child(1){top:60px;left:0}
.dcim-weiindex-bg img:nth-child(2){top:0;right:0;width:550px}
.dcim-weiindex-bg img:nth-child(3){top:-110px;width:1500px;left:calc(50% - 750px)}
.dcim-weiindex-con{position: absolute;z-index: 3;width:100%;height:100%}
.dcim-weiindex-con>*{position: absolute;}
.dcim-weiindex-title{line-height: 1.2;color:#fff;width: 350px;left:calc(50% - 220px);top:calc(50vh - 170px);font-weight: 600;}
.dcim-weiindex-title div:nth-child(1){font-size: 49px;margin-top: 20px}
.dcim-weiindex-title div:nth-child(2){font-size: 25px;text-align: right;}
.dcim-weidata-box{background: transparent top center no-repeat;background-size: cover;font-size: 30px;line-height: 1.3;text-align: center;font-weight: 600;}
.dcim-weidata-box:nth-child(3){background-image: url(../images/dh/index-green.png);width:165px;color:#80FF80;height:319px;left:calc(10% - 60px);top:193px}
.dcim-weidata-box:nth-child(4){background-image: url(../images/dh/index-yellow.png);width:185px;color:#FFFFC0;height:353px;left:calc(25% - 100px);top:110px}
.dcim-weidata-box:nth-child(5){background-image: url(../images/dh/index-blue.png);width:165px;color:#80FFFF;height:315px;left:calc(65% - 30px);top:115px}
.dcim-weidata-box:nth-child(6){background-image: url(../images/dh/index-orange.png);width:185px;color:#FFC080;height:325px;left:calc(80% - 55px);top:223px}
.dcim-weidata-box div{margin-top: 32px;}
.dcim-weidata-box:nth-child(4) div{margin-top:48px;}
.dcim-weidata-box:nth-child(6) div{margin-top:45px;}
.dcim-weidata-box span:last-child{font-size: 25px;}
.dcim-weidata-bottombox{top:590px;left:10%;width:80%}
.dcim-weidata-bottombox li{width:calc(25% - 5px);background: transparent center no-repeat;background-size: contain;color:#fff;line-height: 1.2;font-size: 30px;text-align: center;display: inline-block;height:103px;padding-top: 33px;}
.dcim-weidata-bottombox li:nth-child(1){background-image: url(../images/dh/index-q-btnab.png);}
.dcim-weidata-bottombox li:nth-child(2){background-image: url(../images/dh/index-g-btnab.png);}
.dcim-weidata-bottombox li:nth-child(3){background-image: url(../images/dh/index-b-btnab.png);}
.dcim-weidata-bottombox li:nth-child(4){background-image: url(../images/dh/index-y-btnab.png);}
.dcim-weidata-bottombox li:nth-child(1):hover{background-image: url(../images/dh/index-q-btn.png);}
.dcim-weidata-bottombox li:nth-child(2):hover{background-image: url(../images/dh/index-g-btn.png);}
.dcim-weidata-bottombox li:nth-child(3):hover{background-image: url(../images/dh/index-b-btn.png);}
.dcim-weidata-bottombox li:nth-child(4):hover{background-image: url(../images/dh/index-y-btn.png);}
.dcim-weiindex-desc{width:350px;right:100px;top:-5px}
.dcim-weiindex-desc>div{font-size: 18px; line-height: 1.3;color:#fff;width:50%;text-align: center;float: left;}
.dcim-weiindex-desc>div div:nth-child(2){color:#00FF00}
.dcim-weiindex-desc>div:nth-child(2) div:nth-child(2){color:#FF8000}
.dcim-weiindex-desc>div img{max-width: 100%;position: relative;top: -20px;}

.dcim-kaiguan-title{padding: 8px 0;background-color: #0F248F;}
.dcim-kaiguan-title span{display: inline-block;position: relative;left:120px}
.dcim-kaiguan-title div{position: relative; float: right;font-size:16px;width:120px;text-align: left;}
.dcim-kaiguan-title div::after{content: '';position: absolute;width:42px;background-color: #FE0103;height:12px;left:45px;top:10px;}
.dcim-kaiguan-title div:last-child:after{background-color: #83FD04;}
.dcim-body-minwidth{min-width: 1430px;}
.tbline{width:calc((50% - 80px));color:#B9D1FF;font-size:16px;line-height:36px;border-top:5px solid #B7BC18;float: left;position: relative;text-align: center;padding:10px;padding-left: 0;margin-top: 50px; }
.tbline:first-of-type{margin:50px;}
.tbline thead::before{content: '';position: absolute;height:12px;background-color: #FE0103;width:42px;left:40px;top:-7px}
.green::before,.tdgreen::after{background-color: #83FD04!important;}
.tbline tr td,.tbline tr th{padding:0 8px;border-left:3px solid #B7BC18;font-weight: 500;}
.tbline tr td:first-child,.tbline tr th:first-child{border:none}
.tbline tr td:nth-child(2){border-left:none;}
.tbline tr td:nth-child(3),.tbline tr td:nth-child(4),.tbline tr td:nth-child(5){position: relative;}
.tbline tr td:nth-child(3) div,.tbline tr td:nth-child(4) div,.tbline tr td:nth-child(5) div{position: absolute;height:12px;background-color: #FE0103;width:42px;left:32px;bottom:14px;z-index: 2;}
.tbline tr td:nth-child(3)::after,.tbline tr td:nth-child(4)::after,.tbline tr td:nth-child(5)::after{content: '';position: absolute;height:2.5px;background-color: #B7BC18;width:92px;left:0;bottom:18px;}
.tbline tr td:nth-child(3) span,.tbline tr td:nth-child(4) span,.tbline tr td:nth-child(5) span{display: inline-block;padding-left:50px;}
.tbline tr:nth-child(1) td:nth-child(2){position: relative;}
.tbline tr:nth-child(1) td:nth-child(2)::after{content: '';position: absolute;width:12px;background-color: #FE0103;height:42px;left:-6px;bottom:0;z-index: 2}
.tbline tr:nth-child(2) td:nth-child(1){text-align: right;}
.tbline tr:nth-child(2) td:nth-child(2){position: relative;border-left:3px solid #B7BC18;}
.tbline tr:nth-child(2) td:nth-child(2) img{position: absolute;left:-18px;top:35px}

.dcim-weiview table{margin-left: 20px;}
.dcim-weiview-nav{display:inline-block;width:820px;background: transparent url(../images/dh/nav.png) center no-repeat;background-size: cover;color:#B9D1FF;line-height: 1.5;font-size: 18px;height:115px;margin-left: calc(30% - 410px);}
.dcim-weiview-nav>*{text-align: center;margin: auto;}
.dcim-weiview-nav div{margin-top: 25px;}
.dcim-weiview-nav ul li{display: inline-block;width:calc((100% - 100px)/8)}
.dcim-weiview-nav ul li img{width:32px;height:32px;margin-left: 8px;}
.dcim-weiview-conbox{background: transparent url(../images/dh/total-boder.png) center no-repeat;background-size: 100% 100%;height:620px;width:1500px;margin: auto;}
.dcim-weiview-con{width:1200px; margin: auto;}
.dcim-weiview-line{float: left;margin-top:160px}
.dcim-weiview-line:last-of-type{float: right;}
.dcim-weiview-line div{width:6px;height:136px;background-color: #1E90FF;margin:2px auto;}
.dcim-weiview-line img{width:32px;padding-left:20px}
.dcim-weiview-line div:last-of-type img{padding-top: 90px;width:38px}
.dcim-weiview-box{width:1000px;margin:60px 94px;float: left;}
.dcim-weiview-box ul{display: flex;}
.dcim-weiview-box li{width:130px;background: transparent url(../images/dh/box-bg\(2\).png) center no-repeat;background-size: contain;margin: 0 5px;height:157px;font-size: 14px;color:#B9D1FF;text-align: center;line-height: 5;padding:8px 0;position: relative;}
.dcim-weiview-box li:nth-child(3n){width:75px;background: transparent url(../images/dh/box-bg\(1\).png) center no-repeat;background-size: 100% 100%;}
.dcim-weiview-box li img{width:40px;display: block;margin: auto;}
.dcim-weiview-box li:nth-child(3n) img{width:75px}
.dcim-weiview-box li:nth-child(3n) .img{width:40px}
.dcim-weiview-box img.top1{position: absolute;top:-35px}
.dcim-weiview-box img.next1{position: absolute;bottom:-38px}
.dcim-weiview-box .yuan1{position: absolute;bottom:-65px;line-height: 0;left:0;}
.dcim-weiview-box .yuan1 img,.dcim-weiview-box .yuan2 img{position: relative;top:-8px;z-index: -1;}
.dcim-weiview-box .yuan1 span,.dcim-weiview-box .yuan2 span{color:#03DFFB}
.dcim-weiview-box img.next2{position: absolute;top:-38px;;transform: rotate(180deg);}
.dcim-weiview-box .yuan2{position: absolute;top:-50px;line-height: 0;left:0;}
.dcim-weiview-box img.top2{position: absolute;bottom:-50px}
.dcim-weiview-wetbox{width:192px;background: transparent url(../images/dh/box-bg\(2\).png) center no-repeat;background-size: 100% 100%;height:100px;font-size: 14px;float: left;margin:20px auto;}
.dcim-weiview-wetbox div{width:130px;background: transparent center no-repeat;background-size: 100% 100%;height:40px;margin-left:15px;float: left;}
.dcim-weiview-wetbox div:first-child{background-image: url(../images/dh/databg\(1\).png);padding-top: 10px;}
.dcim-weiview-wetbox div:nth-child(2){background-image: url(../images/dh/databg\(2\).png);}
.dcim-weiview-wetbox div span{display: block;color:#00FF00;padding-left: 23px;line-height: 1.4;font-size: 12px;width: calc(100% - 55.5px);float: left;}
.dcim-weiview-wetbox div:nth-child(2) span{color:#03DFFB}
.dcim-weiview-wetbox div img{width:16px;} 
.dcim-weiview-wetbox>img{width:35px;margin-top: 35px;}
.dcim-weiview-wetbox:last-of-type{float: right;}
.dcim-weiview-box>img{width:56px;position: relative;left:calc(50% - 220px);top:40px}
.dcim-weiview-bottom{width:1200px;margin: auto;}
.dcim-weiview-bottom>div{float: left;background: transparent center no-repeat; background-size: 100% 100%;height:82px;width:248px;margin-right: calc(25% - 232px);}
.dcim-weiview-bottom>div:nth-child(1){background-image: url(../images/dh/wei\(1\).png);}
.dcim-weiview-bottom>div:nth-child(2){background-image: url(../images/dh/wei\(2\).png);}
.dcim-weiview-bottom>div:nth-child(3){background-image: url(../images/dh/wei\(3\).png);}
.dcim-weiview-bottom>div:nth-child(4){background-image: url(../images/dh/wei\(4\).png);margin-right: 0;}
.dcim-weiview-bottom img{ width: 16px;float: left;padding-top: 16px;padding-left: 33px;}
.dcim-weiview-bottom>div>div{color:#B9D1FF;font-size: 22px;text-align: center;line-height: 2;}
.dcim-weiview-bottom>div>div:last-of-type{padding-left: 30px;font-size: 32px;line-height: 1.5;color:#00FF00}

.dcim-screen{color: #148cf1;position: absolute;z-index:99;right: 27px; top: 12px;cursor: pointer;}
.dcim-screen i{font-size: 25px}
/* @media screen and (max-width:1400px){
    .dcim-power-left{width:calc(50% - 40px);margin-right: 20px;}
    .dcim-power-center{width:calc(50% - 20px);margin-right:20px;}
    .dcim-power-right{width:calc(100% - 40px);margin-left: 20px;margin-right: 20px;}
} */