/* 机房总览 */
.jifang-state .layui-col-md4{text-align:center;line-height:2;margin-top:10px}
.jifang-state .layui-col-md4 img{width:50px}
.jifang-chart{height:200px;}
.jifang-pue .layui-col-md12{margin-top:18px}
.jifang-pue .layui-col-md12 div{float:right;text-align:center;line-height:31px}
.jifang-pue .layui-col-md12 div:nth-child(2){padding:0 5px}
.jifang-pue .layui-col-md12 div:first-child{background:rgba(22,59,163,0.6) url() center no-repeat;background-size:cover;max-width:90px;height:31px;border-radius:5px;padding:0 8px}
.jifang-center{text-align:center;position:relative;padding:50px;margin:20px 50px}
.jifang-center::before,.jifang-center::after{position:absolute;content:'';width:100%;height:172px;background:url(../images/dcim/jixiebox.png) top center no-repeat;background-size:100% 100%}
.jifang-center::before{left:0;top:0}
.jifang-center::after{left:0;bottom:0;transform:rotate(180deg)}
.jifang-center>img{max-height:162px;max-width:100%}
.jifang-center>img:last-of-type{margin-top:50px}
.jifang-center div{position:absolute;left:20%;color:#09C8E5;margin-top:20px}
.jifang-center div>img{padding-right:8px}
.jifang-dianci{background:url(../images/dcim/dianchibox.png) center no-repeat;background-size:100% 100%;width:100%;height:190px}
.jifang-diancicon{padding:20px 30%;text-align:center}
.jifang-diancicon .layui-col-md4{margin-top:20px}
.jifang-wet{text-align:center}
.jifang-wet .layui-col-md4>div:nth-child(2){background:url(../images/dcim/bluebox.png) center no-repeat;height:95px;background-size:100% 100%;margin:5px 20px;line-height:3;padding:35px 0}
.jifang-wet .layui-col-md4>div:last-child{height:1px;background:#00C0FF;margin:0 20px}
.jifang-wet .layui-col-md4 img{width:12px;line-height:2;padding-right:5px}
.jifang-upschart{height:200px;border:1px solid #99B4D1}
.jifang-dian>div{border:2px solid #018AF1;box-shadow:0 0 20px inset #018AF1;height:40px;width:calc(100% - 20px);margin-bottom:10px;position:relative;float:right}
.jifang-dian>div::before{position:absolute;content:'';width:4px;height:100%;background:#018AF1;box-shadow:0 0 3px #018AF1;left:-12px}
.jifang-dian>div>*{float:left;display:block;height:100%;line-height:40px}
.jifang-dian .img img{width:40px}
.jifang-dian .img{background:rgba(9,64,155,0.8);width:60px}
.jifang-dian .title{width:calc(100% - 220px);padding-left:10px}
.jifang-dian .num{width:100px}
.jifang-dian .unit{width:50px}

/* 环境监测 */
.overview-img1{background:url(../images/lz/1-2.png) top center no-repeat;height:325px;width:480px;background-size:100% 100%;position:relative;margin:10px auto 0}
.overview-img2{background:url(../images/lz/1-1.png) top center no-repeat;height:350px;width:1618px;background-size:100% 100%;position:relative;margin:20px auto 0}
.overview-title{position:absolute;font-size:16px;font-weight:600;line-height:1}
.overview-title img{margin-right:5px}
.overview-chart{border:1px solid #fff;margin-right:10px;height:290px}
.overview-tips{margin:auto;line-height:32px;width:952px;margin-top: 10px;font-size: 18px;}
.overview-tips div{float:left;margin-right:30px}
.overview-tips div:first-child{font-weight:600;margin-right:10px}
.overview-tips img{width:45px;margin-right:20px}

/* 精密空调 */
.kongtiao-left>img{width:144px;float:left;margin-right:30px;height: 300px;}
.kongtiao-left .ktWw{margin-right:30px}
.kongtiao-left table{float: right;width:calc(100% - 230px);line-height: 2;}
.kongtiao-left table .trpos{position: relative;}
.kongtiao-left table .trpos img{position: absolute;left: -79px;height: 25px;width: 300px;top: 0;}
.kongtiao-center{margin:42px 20px 0}
.kongtiao-bottom div:first-child{border-right:1px solid #78B2D8}
.kongtiao-bottom div:nth-child(1) td{line-height:2.5}
.kongtiao-bottom div:nth-child(2) td{padding-left:15px}
.kongtiao-bottom div:nth-child(2) td:nth-child(2n+1){width:128px}

.kongtiao-bottom2>div:first-child{border-right:1px dashed #78B2D8;line-height: 2.59;}
.kongtiao-bottom2>div div{padding-bottom:4.5px;padding-top:4.5px}

/* 配电柜 */
.power-device img{margin:45px auto 30px;width:265px;display:block}
.power-device table{width:60%;margin:auto;line-height:2}
.power-chart div{height:330px}
.power2-device img{width:120px}
.power2-device table{float: right;width:calc(100% - 150px);line-height: 2.5;margin-top: 10px;}

/* 支路 */
.kaiguan-tuli>div{margin-top: 8px;}
.kaiguan-tuli div div{background:transparent center no-repeat; background-size: 100% 100%; width:50px;height:22px;float: right;}

/* ups */
.ups{line-height: 2.2;}
.ups-onetop .imgbox{position: relative;}
.ups-onetop img{position: absolute;}
.ups-onetop img:first-child{width: 95px;top:0;left:calc(50% - 47.5px);z-index: 2;}
.ups-onetop img:nth-child(2){width: 94px;top:145px;left:calc(50% - 47px);z-index: 1;height:102px ;}
.ups-onetop img:nth-child(3){width: 96px;top:159px;left:calc(50% - 48px);z-index: 2;}
.ups #ups{height:218px}
.ups-onebottom{text-align: center;line-height: 1.5;}
.ups-onebottom .layui-col-md3{margin: 30px 0;}
.ups-onebottom span{font-weight: 600;}
.ups-onebottom .img{width:56px;padding:17px 0}
.ups-onebottom .img2{height: 84px;width:56px;}

/* 微模块 */
.dcim-view{width: 1170px;margin: auto;background: transparent url(../images/dcim/bottom.png) bottom center no-repeat; background-size: 100% 100%;height:205px}
.weiview-chart{height:200px;}
.weiview-desc{font-size: 14px;margin-top: 36px;margin-left: 10px;}
.weiview-desc div:nth-child(2n+1){position: relative;}
.weiview-desc div:nth-child(2n+1)::before{position: absolute;content: '';width:8px;height:8px;background-color: #80FFFF;left:-12px;top:8px}
.weiview-box .layui-col-md2{text-align: center;font-size: 14px;line-height: 1.5;margin-top: 32px;}
.weiview-box .layui-col-md2 img{width:60px;margin-bottom: 8px;}
.weiview-box .layui-col-md2 span{padding: 0 5px;}

/* 蓄电池 */
.dianchi .layui-col-md4 {padding:0 20px;}
.dianchi .layui-col-md4 thead th{font-weight: 500;}
.dianchi .layui-col-md4 thead tr:nth-child(2){background: transparent url(../images/dcim/title-bg-blue.png) top center no-repeat; height: 32px;background-size: 100% ;}

.dianchi .layui-col-md6 {padding:0 20px;text-align: center;line-height: 2.54;}
.dianchi .layui-col-md6 thead th{font-weight: 500;}