.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: hidden;
    height: 445px !important;
    margin: 10px 10px 0px 10px;
}

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-container .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(168, 168, 168);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.video-container .arrow-button-left {
    left: 10px;
}

.video-container .arrow-button-right {
    right: 10px;
}

.video-buttom {
    height: 50px;
    line-height: 50px;
    color: #fff !important;
    border-color: #535151;
    border-radius: 50%;
}

.fancybox-nav {
    top: 35%!important;
    height: 15%!important;
    width: 8%;
}