
html,body,#map { width: 100%;height: 100%;margin: 0;padding: 0;position: relative;z-index:1;min-height:980px}
.map-head{width:100%;height:100px;background: url(../images/maphead.png) top center no-repeat;background-size: contain;font-size:30px;line-height:2.1;font-weight:700;text-align: center;color:#fff;position: absolute;left:0;top:0;z-index:2}
.map-left,.map-right{width:404px;height:100%;position: absolute;bottom:0;top:20px;z-index:6;}
.map-left{left:0;background:url(../images/mapleftbg.png) center left no-repeat;background-size: contain;padding-left:42px}
.map-right{right:0;background:url(../images/maprigtbg.png) center right no-repeat;background-size: contain;padding-right:42px}
.map-con-box{width:100%;height:calc((100% - 185px)/3);background: url(../images/conbg.png) bottom left no-repeat;background-size: cover;margin-top:15px;min-height:260px}
.map-left .map-con-box:first-child,.map-right .map-con-box:first-child{margin-top:50px;}
.map-con-box .title{font-size:17px;line-height:2;font-weight: 600;color:#fff;padding-left: 36px;}
.map-bottom{position: absolute;z-index:99;display:block;left: 0;bottom:0;right:0;height:154px;background: url(../images/mapbottombg.png) bottom center no-repeat;background-size: contain;}
.map-bottom ul{width:820px;margin: auto;}
.map-bottom li{width:65px;float: left;padding: 0 13px 10px;text-align: center;cursor: pointer;white-space: unset!important;}
.map-bottom li.check{background:url(../images/check-shadow.png) center bottom no-repeat;background-size: contain;}
.map-bottom text{color:#A2CAE1;font-size:15px;line-height: 1;}
#levelChart,#statusChart{height:calc(100% - 40px)}
.wait-1{margin:8px 12px 0; width:calc(100% - 104px);height:60px;background:url(../images/wait-1.png) center center no-repeat;background-size: contain;font-size: 14px;color:#fff;line-height: 60px;text-align: center;padding-left:80px}
.wait-1 span{color:#F4CF51;font-size: 24px;margin: 0 15px;}
.wait-2{margin:8px 12px 0;width:calc(50% - 18px);float: left;height:58px;background:url(../images/wait-2.png) center center no-repeat;background-size: contain;}
.wait-2:nth-child(2n+1){margin-right: 0;}
.wait-2>div:first-child{color:#A2CAE1;font-size: 14px;margin-left:90px;line-height:1.5;}
.wait-2>div:last-child{color:#46657A;font-size: 14px;margin-left:90px;line-height:3;}
.wait-2>div div{color:#16E7FF;font-size: 24px;font-weight: 700;width:45px;float: left;line-height:1.75;}
.wait-3bg{background-image: url(../images/wait-3.png);}
.wait-4bg{background-image: url(../images/wait-4.png);}
.wait-5bg{background-image: url(../images/wait-5.png);}
.event,.msg{margin: 5px 10px 10px;background-color: transparent;width:calc(100% - 20px)}
.layui-table td, .layui-table th{background-color: transparent;padding: 4px 15px;font-size: 14px;color:#A2CAE1;border:none;}
.layui-table th{font-weight: 700;text-align: center;}
.layui-table thead tr{height:32px;width:100%;background:url(../images/list-head.png) center center no-repeat;background-size: contain;}
.layui-table tbody tr{height:32px;width:100%;background:transparent center center no-repeat;background-size: cover;position: relative;}
.layui-table tbody tr:nth-child(2n+1){background-image:url(../images/list-1.png)}
.layui-table tbody tr:nth-child(2n){background-image:url(../images/list-2.png)}
.layui-table tbody tr:hover{background-color: transparent;}
.event tbody tr:hover,.msg tbody tr:hover{background-image:url(../images/list-check.png);}
.day{margin:0 20px;height:calc(100% - 40px);width:calc(100% - 40px);background:url(../images/day-bg.png) center center no-repeat;background-size: contain;}
.day-time{width:calc(43% - 25px);float: left;font-size:14px;font-weight: 700;color:#A2CAE1;line-height: 1.8;margin:50px 0 0 25px;}
.day-time div:last-child{font-size: 28px;margin-top: 15px;}
.day-num{width:57%;float: left;}
.day-num>div{width:148px;height:118px;margin:40px auto;background:url(../images/run-daybg.png) center center no-repeat;background-size: contain;}
.day-num>div div:first-child{font-size: 19px;font-weight: 700;color:#fff;text-align: center;line-height: 1.5;padding-top: 40px;}
.day-num>div div:last-child{font-size: 24px;font-weight: 700;color:#FCE49D;text-align: center;line-height: 2.5;letter-spacing:3px}