<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                资产管理->查询及报表->备品备件出入库记录
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="two-left three-left-big">
                            <form class="layui-form layui-col-md12">
                                <text>创建时间</text>
                                <div class="layui-input-inline">
                                    <input type="text" id="startDateTime" name="startDateTime" class="layui-input" placeholder="开始日期" >
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" id="endDateTime" name="endDateTime" class="layui-input" placeholder="结束日期" >
                                </div>
                                <text>记录类型</text>
                                <select id="type" name="type" lay-filter="type">
                                    <option value="">全部</option>
                                    <option value="出库">出库</option>
                                    <option value="入库">入库</option>
                                    <option value="回库">回库</option>
                                </select>
                                <text>仓库位置</text>
                                <select id="StoreLocationId" name="StoreLocationId" lay-filter="StoreLocationId">
                                    <option value="">全部</option>
                                </select>
                                <text>关键词</text>
                                <input type="text" name="search"  placeholder="输入备品备件名称" autocomplete="off" class="layui-input">
                                <div class="two-search">
                                    <button class="layui-btn" lay-submit lay-filter="search" type="button">查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="two-right-big">
                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th>备件编号</th>
                                        <th>备件名称</th>
                                        <th>厂商</th>
                                        <th>型号</th>
                                        <th>规格</th>
                                        <th>记录类型</th>
                                        <th>数量</th>
                                        <th>入库时间</th>
                                        <th>出入库类型</th>
                                        <th>归还数量</th>
                                        <th>借用人/领用人</th>
                                        <th>借用日期/领用日期</th>
                                        <th>计划归还日期</th>
                                        <th>创建日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <script type="text/html" id="listtemplate">
                                        {{if data.info.length!=0}} {{each data.info as list i}}
                                        <tr>
                                            <td>{{list.BackupsNumber}}</td>
                                            <td>{{list.BackupsName}}</td>
                                            <td>{{list.BackupsCompany}}</td>
                                            <td>{{list.BackupsModel}}</td>
                                            <td>{{list.BackupsSpec}}</td>
                                            <td>{{list.type}}</td>
                                            <td>{{list.number}}</td>
                                            <td>{{list.BuyTime}}</td>
                                            <td>{{if list.PutoutType=='B'}}借用出库{{else}}领用出库{{/if}}</td>
                                            <td>{{list.ReturnNumber}}</td>
                                            <td>{{list.PersonName}}</td>
                                            <td>{{list.UseTime}}</td>
                                            <td>{{list.PlanReturnTime}}</td>
                                            <td>{{list.create_time}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                            <div id="bottomPaging"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
       var url = "GetSparePartsChangeDetailKey";
        $(function(){
            param.startDateTime='';
            param.endDateTime='';
            list.get(url, param);
            layui.use(["form",'laydate'], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#startDateTime',
                    type:'datetime' 
                });
                laydate.render({
                    elem: '#endDateTime',
                    type:'datetime'  
                });
                //仓库
                getStoreLocation(form);
                //监听提交
                form.on("submit(search)", function (data) {
                    delete(param['ComboBox']);
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    param.type = data.field.type;
                    param.StoreLocationId = data.field.StoreLocationId;
                    list.get(url, param);
                    return false;
                });
            });
        });
        //分页回调
        function pagechange(curr) {
            delete(param['ComboBox']);
            param.pageNo = curr;
            list.get(url, param);
        }
    </script>
</body>
</html>