<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入备件名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>备件编号</th>
                                    <th>备件名称</th>
                                    <th>备件类型</th>
                                    <th>借用人</th>
                                    <th>计划归还时间</th>
                                    <th>待归还数量</th>
                                    <th>归还数量</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    {{if list.number!=list.ReturnNumber}}
                                    <tr>
                                        <td>{{list.BackupsNumber}}</td>
                                        <td>{{list.BackupsName}}</td>
                                        <td>{{list.AssetsTypeName}}</td>
                                        <td>{{list.PersonName}}</td>
                                        <td>{{list.PlanReturnTime}}</td>
                                        <td id="old{{list.id}}">{{list.number}}</td>
                                        <td><input class="layui-input" id="{{list.id}}" type="text" name="number" value=""/></td>
                                        <td>
                                            <a title="归还" onclick="returnBackup('{{list.number}}','{{list.id}}','{{list.SpareId}}',this)" href="javascript:;">
                                                <i class="layui-icon">&#xe601;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/if}}
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetSparePartsChangeDetailKey";
        $(function(){
            //初始化数据
            param.startDateTime='';
            param.endDateTime='';
            param.PutoutType='B';
            list.get(url, param);
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    list.get(url, param);
                    return false;
                });    
            });
        })
        //取消提示
        function returnBackup(number,id,SpareId,obj){
            if(number<$('#'+id).val() || !$('#'+id).val() || $('#'+id).val()==0){
                layer.msg('回库数量不正确！', {
                    icon: 5,
                    time: 1000
                });
                return false;
            }
            layer.confirm('确认归还？', function (index) {
                list.info('ReturnSparePartsKey',{
                    token: token,
                    id: id,
                    SpareId: SpareId,
                    number: $('#'+id).val()
                },function(r){
                    layer.msg("已归还", {
                        icon: 1,
                        time: 1000
                    });
                    layer.close(index);
                })
            });
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param);
        }
    </script>
</body>

</html>