<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>资产管理->其他业务->资产回库</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入资产描述、资产编号" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AssetStatus" name="AssetStatus" lay-filter="AssetStatus">
                                    <option value="">资产状态</option>
                                    <option value="B">借用</option>
                                    <option value="L">领用</option>
                                    <option value="W">待上架</option>
                                    <option value="O">待安装</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" style="margin-right: 10px;" type="button"
                            onclick="x_admin_dealall(dealAll)">批量回库</button>

                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="checkall" lay-filter="checkall" lay-skin="primary">
                                    </th>
                                    <th>编号</th>
                                    <th>资产编号</th>
                                    <th>资产类型</th>
                                    <th>型号</th>
                                    <th>资产描述</th>
                                    <th>资产状态</th>
                                    <th>领用人/借用人</th>
                                    <th>出库日期</th>
                                    <th>计划归还日期</th>
                                    <th>管理部门</th>
                                    <th>管理人员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr> 
                                        <td width="70">
                                            <input type="checkbox" value="{{list.id}}" name="id"  lay-filter="checkone" lay-skin="primary" data-param="{{list.DeviceName}}">
                                        </td>
                                        <td>{{(data.page.p-1)*15+(i+1)}}</td>
                                        <td>{{list.AssetsNumber}}</td>
                                        <td>{{list.AssetsTypeName}}</td>
                                        <td>{{list.BrandModel}}</td>
                                        <td>{{list.AssetsDescribe}}</td>
                                        <td>{{if list.AssetStatus=='I'}}入库
                                            {{else if list.AssetStatus=='W'}}待上架
                                            {{else if list.AssetStatus=='F'}}在架 
                                            {{else if list.AssetStatus=='FR'}}在架维修
                                            {{else if list.AssetStatus=='IR'}}在库维修
                                            {{else if list.AssetStatus=='L'}}领用
                                            {{else if list.AssetStatus=='G'}}赠送
                                            {{else if list.AssetStatus=='Y'}}遗失
                                            {{else if list.AssetStatus=='R'}}报废
                                            {{else if list.AssetStatus=='DF'}}外送维修（在架）
                                            {{else if list.AssetStatus=='DI'}}外送维修（在库）
                                            {{else if list.AssetStatus=='O'}}待安装
                                            {{else if list.AssetStatus=='T'}}安装
                                            {{else if list.AssetStatus=='B'}}借用
                                            {{else}}下架
                                            {{/if}}
                                        </td>
                                        <td>{{list.PersonName}}</td>
                                        <td>{{list.PutoutTime}}</td>
                                        <td>{{list.PlanReturnTime}}</td>
                                        <td>{{list.DeptName}}</td>
                                        <td>{{list.PersonName}}</td>
                                        <td>
                                            <a title="回库" onclick="xadmin.open('回库','asset-return-add.html','','','{{list.id}}&AssetsId={{list.AssetsId}}&type=back')" href="javascript:;">
                                                <i class="layui-icon">&#xe601;</i>
                                            </a>
                                            <a title="生成二维码" id="img{{list.id}}" download="回库-{{list.AssetsTypeName}}-{{list.BrandModel}}" href="{{list.ewm}}" class="fancybox-view">
                                                <i class="layui-icon">&#xe857;</i>
                                                <div id="{{list.id}}" style="display:none"></div>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetAssetsPutoutListKey";
        var dataArray = [];
        $(function () {
            param.PutoutStatus = 'false';

            layui.use(["form", "tree"], function () {
                $ = layui.jquery;
                var form = layui.form;
                list.get(url, param, dealdata, function (r) {
                    dealEwm(r);
                    checkall(form);
                });
                function dealdata(r) {
                    dataArray = r.data.info
                    $.each(r.data.info, function (n, val) {
                        if (val.PutoutTime) {
                            val.PutoutTime = val.PutoutTime.substring(0, 10)
                        }
                    });
                }
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.AssetStatus = data.field.AssetStatus;
                    list.get(url, param, '', function (r) {
                        dealEwm(r)
                        checkall(form);
                    });
                    return false;
                });
            });
        })
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param, '', function (r) {
                dealEwm(r);
                checkall(form);
            });
        }
        //批量回库
        function dealAll(id, param) {
            var obj = {
                "id": '',
                "AssetsId": '',
                "type": 'back',
            };
            var data = [];
            if (id.length > 0) {
                $.each(id, function (n, val) {
                    var index = dataArray.findIndex(x => x.id == val)
                    if (index != -1) {
                        data.push({
                            "id": dataArray[index].id,
                            "AssetsId":dataArray[index].AssetsId,
                            "type": 'back',
                            "StoreLocationId":dataArray[index].StoreLocationId,
                            "EmpId":dataArray[index].EmpId
                        });
                    }
                });
                localStorage.setItem("batchData", JSON.stringify(data));
            }
            xadmin.open('批量编辑', 'asset-return-batch.html', '', '', id);
        }
        //ewm
        function dealEwm(r) {
            $.each(r.data.info, function (n, val) {
                var data = '资产编号:' + val.AssetsNumber + ',资产类型:' + val.AssetsTypeName + ',型号:' + val.BrandModel + ',资产描述:' + val.AssetsDescribe + ',管理部门:' + val.DeptName + ',管理人员:' + val.PersonName;
                var qrcode = $('#' + val.id).qrcode({
                    width: 128,
                    height: 128,
                    text: toUtf8(data)
                });
                var canvas = $('#' + val.id).find("canvas")[0];
                $('#img' + val.id).attr("href", canvas.toDataURL('image/jpeg'));
            })
        }
    </script>
</body>

</html>