<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                    <div class="two-left">
                        <form class="layui-form layui-col-md12">
                            <div>
                                <text>开始时间(创建时间)</text>
                                <input type="text" id="startDateTime" value="" name="startDateTime" autocomplete="off" class="layui-input">
                                <text>结束时间(创建时间)</text>
                                <input type="text" id="endDateTime" value="" name="endDateTime" autocomplete="off" class="layui-input">
                                <text>记录类型</text>
                                <select id="type" name="type">
                                    <option value="">全部</option>
                                    <option value="出库">出库</option>
                                    <option value="入库">入库</option>
                                    <option value="回库">回库</option>
                                </select>
                                <div class="two-search">
                                    <button class="layui-btn" lay-submit lay-filter="search" type="button">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="two-right">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>备件编号</th>
                                    <th>备件名称</th>
                                    <th>记录类型</th>
                                    <th>数量</th>
                                    <th>入库时间</th>
                                    <th>出入库类型</th>
                                    <th>归还数量</th>
                                    <th>借用人/领用人</th>
                                    <th>借用日期/领用日期</th>
                                    <th>计划归还日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td>{{list.BackupsNumber}}</td>
                                        <td>{{list.BackupsName}}</td>
                                        <td>{{list.type}}</td>
                                        <td>{{list.number}}</td>
                                        <td>{{list.BuyTime}}</td>
                                        <td>{{if list.PutoutType=='B'}}借用出库{{else}}领用出库{{/if}}</td>
                                        <td>{{list.ReturnNumber}}</td>
                                        <td>{{list.PersonName}}</td>
                                        <td>{{list.UseTime}}</td>
                                        <td>{{list.PlanReturnTime}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetSparePartsChangeDetailKey";
        $(function(){
            //初始化数据
            param.startDateTime='';
            param.endDateTime='';
            param.id= GetString("id");
            list.get(url, param);
            layui.use(["form","laydate"], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate=layui.laydate;
                laydate.render({
                    elem:'#startDateTime',
                    type:'datetime'
                });
                laydate.render({
                    elem:'#endDateTime',
                    type:'datetime'
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.startDateTime = data.field.startDateTime?data.field.startDateTime:'';
                    param.endDateTime = data.field.endDateTime?data.field.endDateTime:'';
                    param.type = data.field.type;
                    list.get(url, param);
                    return false;
                });    
            });
        })
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param);
        }
    </script>
</body>
</html>