<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card" >
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5" id="formNow">
                            <div class="layui-inline layui-show-xs-block">
                                <label class="layui-form-label">开始时间<span class="x-red">*</span></label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="TenantStartTime" value="" name="TenantStartTime" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <label class="layui-form-label">租用天数<span class="x-red">*</span></label>
                                <div class="layui-input-inline">
                                    <input type="number" id="TenantDuration" value="" name="TenantDuration" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="layui-form layui-card-body" id="choose">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>服务器</th>
                                    <th>区域</th>
                                    <th>机柜列</th>
                                    <th>机柜</th>
                                    <th>U位</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr>
                                        <td><input type="checkbox" name="TenantUlocation" lay-skin="primary" value="{{list.ULocation}}" {{if list.UStatus!=null}}disabled{{/if}}></td>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>{{list.column}}</td>
                                        <td>{{list.position}}</td>
                                        <td>{{list.ULocation}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                    </form>
                    <div class="layui-card-body">
                        <button class="layui-btn x-right" style="margin-bottom: 15px;" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            var id = GetString("id");
            var tenantid = GetString("tenantid");
            //请求地址
            var url = "GetCabinetUKey";
            //初始化数据
            param.id=id;
            list.info(url, param,function(r){
                var lists = template("listtemplate", r);
                $("tbody").html(lists);
                
                layui.use(["form",'laydate'], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    var laydate = layui.laydate;
                    form.render();
                    laydate.render({
                        elem: '#TenantStartTime',
                        done: function(value, date){}
                    });
                    //监听提交
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("TenantId", tenantid);
                        strformData.append("CabinetId", id);
                        strformData.append("TenantUlocation", new FormData($("#choose")[0]).getAll('TenantUlocation'));
                        list.form("CreateTenantUKey", strformData, function (r) {
                            backToparent("添加成功");
                        });
                    })
                });
            });
        })
    </script>
</body>

</html>