<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>资产管理->资产管理->机柜列管理</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入机柜名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" onclick="xadmin.open('添加机柜','asset-cabinet-add.html')">
                            <i class="layui-icon"></i>添加机柜
                        </button>
                        <button class="layui-btn x-right" style="margin-right: 10px;" type="button" onclick="x_admin_dealall(dealAll)">批量安装</button>
                    </div>
                    <div class="layui-card-body">
                        <div id="tree"></div>
                        <table class="layui-table layui-col-tree layui-form">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="checkall" lay-filter="checkall" lay-skin="primary">
                                    </th>
                                    <th>编号</th>
                                    <th>机柜列</th>
                                    <th>机柜</th>
                                    <th>机柜安装</th>
                                    <th>所属服务器</th>
                                    <th>所属区域</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td width="70">
                                            {{if !list.AssetsId || list.AssetsId==0}}
                                            <input type="checkbox" value="{{list.id}}" name="id"  lay-filter="checkone" lay-skin="primary" data-param="{{list.AreaId}}" data-column="{{list.column}}" data-position="{{list.position}}">
                                            {{/if}}
                                        </td>
                                        <td>{{(data.page.p-1)*15+(i+1)}}</td>
                                        <td>{{list.column}}</td>
                                        <td>{{list.position}}</td>
                                        <td>{{if list.AssetsId && list.AssetsId!=0}}{{list.AssetsTypeName}},资产编号:{{list.AssetsNumber}}{{/if}}</td>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>
                                            <a title="编辑" onclick="xadmin.open('编辑','asset-cabinet-edit.html','','','{{list.id}}')" href="javascript:;">
                                                <i class="layui-icon">&#xe642;</i>
                                            </a>
                                            <a title="删除" onclick="x_admin_del('确认删除吗？','DelCabinetKey','{{list.id}}',this)" href="javascript:;">
                                                <i class="layui-icon">&#xe640;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetCabinetListKey";
        var form,search;
        $(function(){
            
            layui.use(["form","tree"], function () {
                $ = layui.jquery;
                form = layui.form;
                var tree = layui.tree;

                //初始化数据
                list.get(url, param,'',function(r){
                    checkall(form);
                });

                getArray(tree);
                //服务器
                getServer(form,function(){
                    form.on("select(ServerCode)", function (data) {
                        param.ServerCode=data.value;
                        param.ComboBox = "all";
                        delete(param['search']);
                        getArea(form,data,function(){
                            form.on("select(AreaId)", function (data) {
                                param.AreaId=data.value;
                            })
                        });
                    });
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = search = data.field.search;
                    param.column='';
                    getArray(tree);
                    delete(param['ComboBox']);
                    list.get(url, param,'',function(r){
                        checkall(form);
                    });
                    return false;
                });  
            });
        })
        //批量安装
        function dealAll(id,dataparam){
            var arr = dataparam;
            var newArr = [];
            for (var i = 0; i < arr.length; i++) {
                if (arr.indexOf(arr[i]) == i) {
                    newArr.push(arr[i]);
                }
                if(arr.length==i+1){
                    if(newArr.length>1){
                        layer.msg("只能批量安装同区域的机柜！", {
                            icon: 5,
                            time: 2000
                        });
                        return false;
                    }
                    var listinfo=[];
                    $.each($(".layui-form input[name=id]"),function(n,val){
                        if(val.checked == true){
                            listinfo.push({
                                id:$(val).val(),
                                column:$(val).attr('data-column'),
                                position:$(val).attr('data-position')
                            });
                        };
                        if(n==$(".layui-form input[name=id]").length-1){
                            localStorage.removeItem('cabinetcheckall');
                            localStorage.setItem('cabinetcheckall',JSON.stringify(listinfo));
                            xadmin.open('批量安装','asset-cabinet-checkalllist.html','','',id+'&areaid='+encodeURI(encodeURI(newArr.toString())),'',function(){
                                delete(param['ComboBox']);
                                console.log(param);
                                list.get(url, param,'',function(r){
                                    $('#checkall').prop('checked',false);
                                    checkall(form);
                                });
                            })
                        }
                    });
                    
                }
            }
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            delete(param['ComboBox']);
            list.get(url, param,'',function(r){
                checkall(form);
            });
        }
        function getArray(tree){
            list.info('GetArrangeKey',param,function(r){
                var data=[];
                $.each(r.data,function(n,val){
                    data.push({
                        title:val.column,
                        id:val.column,
                        spread:false,
                        other:1,
                    })
                })
                tree.render({
                    elem:"#tree",
                    data:data,
                    id: 'treeId',
                    click: function(obj){
                        if(obj.data.other==1){
                            $('.layui-tree-txt').removeAttr('style');
                            $(obj.elem).find('.layui-tree-txt').css('color','#148cf1');
                            param.column=obj.data.id;
                            param.pageNo = 1;
                            param.search = search;
                            delete(param['ComboBox']);
                            list.get(url, param,'',function(r){
                                checkall(form);
                            });
                        }
                    }
                }); 
            });
        }
    </script>
</body>
</html>