<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="column" name="column" lay-filter="column">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="CabinetId" name="CabinetId" lay-filter="CabinetId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                            <div>
                                <span>待上架资产设置管理人员，起始U位进行上架。管理部门：</span>
                                <div class="layui-inline layui-show-xs-block">
                                    <select id="DeptId" name="DeptId" lay-filter="DeptId">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                                <span>管理人员：</span>
                                <div class="layui-inline layui-show-xs-block">
                                    <select id="EmpId" name="EmpId" lay-filter="EmpId">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <ul id="tree" class="view-box">
                            <script type="text/html" id="utemplate">
                                {{each data as list i}}
                                    <li>
                                        <div>{{list.ULocation}}</div>
                                        <div>{{list.AssetsNumber}}</div>
                                        <div style="
                                            {{if list.UStatus=='在架位'}}
                                                background-color:#3A913D;
                                            {{else if list.UStatus=='预占位'}}
                                                background-color:#216FEC;
                                            {{else if list.UStatus=='维修位'}}
                                                background-color:#FF0003;
                                            {{else if list.UStatus=='上架中'}}
                                                background-color:#109978;
                                            {{else if list.UStatus=='下架中'}}
                                                background-color:#C817CB;
                                            {{else if list.UStatus=='禁用位'}}
                                                background-color:#454543;
                                            {{else if list.UStatus=='标签丢失'}}
                                                background-color:#A00304;
                                            {{else if list.UStatus=='信息不一致'}}
                                                background-color:#A0CA1A;
                                            {{else if list.UStatus=='已出租'}}
                                                background-color:#4D4DFF;
                                            {{/if}}
                                        "></div>
                                    </li>
                                {{/each}}
                            </script>
                        </ul>
                        <table class="layui-table layui-col-tree">
                            <span>图例：</span>
                            <ul class="view-tips">
                                <li>
                                    <label style="background-color:#3A913D;"></label>
                                    <span>在架位</span>
                                </li>
                                <li>
                                    <label style="background-color:#216FEC;"></label>
                                    <span>预占位</span>
                                </li>
                                <li>
                                    <label style="background-color:#FF0003;"></label>
                                    <span>维修位</span>
                                </li>
                                <li>
                                    <label style="background-color:#109978;"></label>
                                    <span>上架中</span>
                                </li>
                                <li>
                                    <label style="background-color:#C817CB;"></label>
                                    <span>下架中</span>
                                </li>
                                <li>
                                    <label style="background-color:#454543;"></label>
                                    <span>禁用位</span>
                                </li>
                                <li>
                                    <label style="background-color:#A0CA1A;"></label>
                                    <span>信息不一致</span>
                                </li>
                                <li>
                                    <label style="background-color:#4D4DFF;"></label>
                                    <span>已出租</span>
                                </li>
                            </ul>
                            <div>
                                
                            </div>
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>资产编号</th>
                                    <th>资产类型</th>
                                    <th>型号</th>
                                    <th>资产描述</th>
                                    <th>U高</th>
                                    <th>起始U位</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr> 
                                        <td>{{(data.page.p-1)*15+(i+1)}}</td>
                                        <td><input class="layui-input" type="text" name="AssetsNumber{{list.id}}" value="{{list.AssetsNumber}}"/></td>
                                        <td>{{list.AssetsTypeName}}</td>
                                        <td>{{list.BrandModel}}</td>
                                        <td><input class="layui-input" type="text" name="AssetsDescribe{{list.id}}" value="{{list.AssetsDescribe}}"/></td>
                                        <td>{{list.UHignt}}</td>
                                        <td><input class="layui-input" id="{{list.id}}" type="text" name="ULocation" value=""/></td>
                                        <td>
                                            <a title="上架" data-id="{{list.id}}" data-assetsid="{{list.AssetsId}}" onclick="chooseOne(this)"  href="javascript:;">
                                                <i class="layui-icon">&#xe646;</i>
                                            </a>
                                            <a title="私有属性" onclick="xadmin.open('私有属性','asset-private-add.html','','','{{list.AssetsId}}')" href="javascript:;">
                                                <i class="layui-icon">&#xe716;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetAssetsPutoutListKey";
        var id=GetString("id");
        var form;
        $(function(){
            //获取原有信息
            list.info('GetGroundingAssetsDetailKey',{
                token:token,
                id:id
            },function(r){
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    form = layui.form;
                    //服务器
                    getServer(form,function(r){
                        //继成上个接口
                        layuiSelected("ServerCode", r.data.ServerName);
                        form.on("select(ServerCode)", function (data) {
                            param.ComboBox = 'all';
                            getArea(form,data);
                        });
                    });
                    getArea(form,{value:r.data.ServerCode},function(){
                        //继成上个接口
                        layuiSelected("AreaId", r.data.AreaName);
                        form.on("select(AreaId)", function (data) {
                            param.ComboBox = 'all';
                            getColumn(form,data);
                            getDept(form,data);
                        });
                    });
                    getColumn(form,{value:r.data.AreaId},function(){
                        //继成上个接口
                        layuiSelected("column", r.data.column);
                        column=r.data.column;
                        form.on("select(column)", function (data) {
                            param.ComboBox = 'all';
                            getCabinet(form,data,function(){
                                delete(param['ComboBox']);
                                //初始化数据
                                param.PutoutWay='W';
                                param.PutoutStatus='false';
                                list.get(url,param);
                                getU();
                            });
                        }); 
                    });
                    getCabinet(form,{value:r.data.column},function(){
                        //继成上个接口
                        layuiSelected("CabinetId", r.data.position);
                        delete(param['ComboBox']);
                        //初始化数据
                        param.PutoutWay='W';
                        param.PutoutStatus='false';
                        list.get(url,param);
                        getU();
                    });
                    getDept(form,{value:r.data.AreaId},function(){
                        //继成上个接口
                        layuiSelected("DeptId", r.data.DeptName);
                        DeptId=r.data.DeptId;
                        form.on("select(DeptId)",function(data){
                            param.ComboBox = 'all';
                            getEmp(form,data);
                        });
                        getEmp(form,{value:r.data.DeptId},function(){
                            //继成上个接口
                            layuiSelected("EmpId", r.data.PersonName);
                        });
                    });
                    //监听提交
                    form.on("submit(search)", function (data) {
                        param.pageNo = 1;
                        delete(param['ComboBox']);
                        list.get(url,param)
                        getU();
                        return false;
                    });
                }) 
            });
        })
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            delete(param['ComboBox']);
            list.get(url, param);
        }
        //获取U位状态
        function getU(){
            list.info('GetCabinetUKey',{
                token:token,
                id:$('#CabinetId').val()
            },function(r){
                var lists = template("utemplate", r);
                $("#tree").html(lists);
            })
        }
        //选择
        function chooseOne(obj){
            if(!$('#EmpId').val()){
                layer.msg('请选择管理人员', {
					icon: 5,
					time: 1000
				});
                return false;
            }
            layer.confirm('确认上架此资产？', function (index) {
                list.info('CreateGroundingAssetsKey',{
                    token:token,
                    AssetsDescribe:$('input[name=AssetsDescribe'+$(obj).data('id')+']').val(),
                    AssetsNumber:$('input[name=AssetsNumber'+$(obj).data('id')+']').val(),
                    AssetsId:$(obj).attr('data-assetsid'),
                    PutoutId:$(obj).attr('data-id'),
                    CabinetId:$('#CabinetId').val(),
                    ULocation:$('#'+$(obj).data('id')).val(),
                    EmpId:$('#EmpId').val()
                },function(r){
                    backToparent("已上架");
                })
            });
        }
    </script>
</body>
</html>