<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>资产管理->基础配置->租户管理->租户U位管理</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入租户名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" onclick="xadmin.open('添加','asset-tenantu-add.html')">
                            <i class="layui-icon"></i>添加
                        </button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>租户</th>
                                    <th>区域</th>
                                    <th>机柜列</th>
                                    <th>机柜</th>
                                    <th>租用U位</th>
                                    <th>租用开始时间</th>
                                    <th>租用时长（天）</th>
                                    <th>租用状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td>{{(data.page.p-1)*15+(i+1)}}</td>
                                        <td>{{list.TenantName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>{{list.column}}</td>
                                        <td>{{list.position}}</td>
                                        <td>{{list.TenantUlocation}}</td>
                                        <td>{{list.TenantStartTime}}</td>
                                        <td>{{list.TenantDuration}}</td>
                                        <td>{{list.TenantStatus}}</td>
                                        <td>
                                            {{if list.TenantStatus!='已结束'}}
                                            <a title="续租" onclick="xadmin.open('续租','asset-tenantu-oil.html','','','{{list.id}}')" href="javascript:;">
                                                <i class="layui-icon">&#xe601;</i>
                                            </a>
                                            <a title="释放" onclick="x_admin_del('确认释放租户的全部U位吗？','ReleaseTenantUDetailKey',{{list.id}},this)" href="javascript:;">
                                                <i class="layui-icon">&#xe663;</i>
                                            </a>
                                            {{else}}
                                            -
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetTenantUListKey";
        $(function(){
            //初始化数据
            list.get(url, param);
            layui.use("form", function () {
                $ = layui.jquery;
                var form = layui.form;
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    list.get(url, param);
                    return false;
                });
            });
        })
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param);
        }
    </script>
</body>

</html>