<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            厂商<span class="x-red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <select id="CompanyId" name="CompanyId" lay-verify="required" lay-filter="CompanyId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            品牌<span class="x-red">*</span>
                        </label>
                        <div class="layui-input-inline">
                            <select id="BrandId" name="BrandId" lay-verify="required" lay-filter="BrandId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产类型<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="AssetsTypeName" value="{{data.AssetsTypeName}}" lay-verify="required" autocomplete="off" class="layui-input" readonly>
                            <input type="hidden" id="AssetsTypeId" value="{{data.AssetsTypeId}}" name="AssetsTypeId" lay-verify="required" autocomplete="off" class="layui-input" readonly>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <a class="layui-btn" onclick="xadmin.open('添加资产类型','choose-asset-type.html')">选择</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">型号<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="BrandModel" value="{{data.BrandModel}}" name="BrandModel" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">质保时长（月）<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="number" id="ModelQa" value="{{data.ModelQa}}" name="ModelQa" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">报废年限（年）<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="number" id="ModelScrap" value="{{data.ModelScrap}}" name="ModelScrap" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">前面板图</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" value="{{data.ModelFrontImg}}" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="{{data.ModelFrontImg}}" name="ModelFrontImg" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.ModelFrontImg}}">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="{{imgUrl+data.ModelFrontImg}}" id="ViewImg" {{if !data.ModelFrontImg}} style="display:none" {{/if}}>预览
                            <img src="{{imgUrl+data.ModelFrontImg}}" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.ModelFrontImg}} style="display:none" {{/if}}>清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">后面板图</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" value="{{data.ModelAfterImg}}" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="{{data.ModelAfterImg}}" name="ModelAfterImg" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.ModelAfterImg}}">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="{{imgUrl+data.ModelAfterImg}}" id="ViewImg" {{if !data.ModelAfterImg}} style="display:none" {{/if}}>预览
                            <img src="{{imgUrl+data.ModelAfterImg}}" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.ModelAfterImg}} style="display:none" {{/if}}>清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">全景图</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" value="{{data.ModelAllImg}}" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="{{data.ModelAllImg}}" name="ModelAllImg" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.ModelAllImg}}">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="{{imgUrl+data.ModelAllImg}}" id="ViewImg" {{if !data.ModelAllImg}} style="display:none" {{/if}}>预览
                            <img src="{{imgUrl+data.ModelAllImg}}" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.ModelAllImg}} style="display:none" {{/if}}>清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">3D模型ID</label>
                        <div class="layui-input-inline">
                            <input type="number" id="ThrDModelId" value="{{data.ThrDModelId}}" name="ThrDModelId" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function(){
            var id = GetString("id");

            //获取详情
            list.info("GetBrandModelDetailKey", {
                token: token,
                id: id
            }, function (r) {
                r.imgUrl=imgUrl;
                var html = template("detail", r);
                $("#formNow").html(html);
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    //厂商
                    param.ComboBox = "all";
                    list.info("GetCompanyListKey", param, function (res) {
                        var comhtml = "<option value=''>请选择</option>";
                        $.each(res.data, function (n, val) {
                            comhtml += "<option value=\"" + val.id + "\">" + val.CompanyName + "</option>";
                        });
                        $("#CompanyId").html(comhtml);
                        form.render("select");
                        //继成上个接口
                        layuiSelected("CompanyId", r.data.CompanyName);
                        form.on("select(CompanyId)", function (data) {
                            getBrand(form,data);
                        })
                        getBrand(form,{value:r.data.CompanyId},function(){
                            //继成上个接口
                            layuiSelected("BrandId", r.data.BrandName);
                        })
                    });
                    //预览图片
                    fnFancyBox('.fancybox-view');
                     //监听提交
				    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        list.form("ChangeBrandModelKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });	
        });
        function getBrand(form,data,callback){
            param.CompanyId=data.value;
            $("#BrandId").html('<option value="">请选择</option>');
            list.info("GetBrandListKey", param, function (res) {
                var brandhtml = "<option value=''>请选择</option>";
                $.each(res.data, function (n, val) {
                    brandhtml += "<option value=\"" + val.id + "\">" + val.BrandName + "</option>";
                });
                $("#BrandId").html(brandhtml);
                form.render("select");
                if(callback)callback();
            });
        }
        
    </script>
</body>

</html>