<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label">全部盘点结果：</label>
                            <div class="layui-input-inline">
                                <select id="AllPlanResult" lay-filter="AllPlanResult">
                                    <option value="待盘">待盘</option>
                                    <option value="正常">正常</option>
                                    <option value="损坏">损坏</option>
                                    <option value="丢失">丢失</option>
                                    <option value="异常">异常</option>
                                    <option value="维修">维修</option>
                                    <option value="标签丢失">标签丢失</option>
                                    <option value="未写入标签">未写入标签</option>
                                    <option value="未放置标签">未放置标签</option>
                                </select>
                            </div>
                            <label class="layui-form-label">全部结果描述：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="Remark" value="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>资产编号</th>
                                    <th>资产类型</th>
                                    <th>型号</th>
                                    <th>资产描述</th>
                                    <th>资产状态</th>
                                    <th>盘点结果</th>
                                    <th>区域</th>
                                    <th>机柜列</th>
                                    <th>机柜</th>
                                    <th>占用U位</th>
                                    <th>结果描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.CheckPlanData.length!=0}} {{each data.CheckPlanData as list i}}
                                    <tr> 
                                        <td>{{list.AssetsNumber}}</td>
                                        <td>{{list.AssetsTypeName}}</td>
                                        <td>{{list.BrandModel}}</td>
                                        <td>{{list.AssetsDescribe}}</td>
                                        <td>{{if list.AssetStatus=='I'}}入库
                                            {{else if list.AssetStatus=='W'}}待上架
                                            {{else if list.AssetStatus=='F'}}在架 
                                            {{else if list.AssetStatus=='FR'}}在架维修
                                            {{else if list.AssetStatus=='IR'}}在库维修
                                            {{else if list.AssetStatus=='L'}}领用
                                            {{else if list.AssetStatus=='G'}}赠送
                                            {{else if list.AssetStatus=='Y'}}遗失
                                            {{else if list.AssetStatus=='R'}}报废
                                            {{else if list.AssetStatus=='DF'}}外送维修（在架）
                                            {{else if list.AssetStatus=='DI'}}外送维修（在库）
                                            {{else if list.AssetStatus=='O'}}待安装
                                            {{else if list.AssetStatus=='T'}}安装
                                            {{else if list.AssetStatus=='B'}}借用
                                            {{else}}下架
                                            {{/if}}
                                        </td>
                                        <td>
                                            <select id="{{list.id}}" name="PlanResult" >
                                                <option value="待盘">待盘</option>
                                                <option value="正常">正常</option>
                                                <option value="损坏">损坏</option>
                                                <option value="丢失">丢失</option>
                                                <option value="异常">异常</option>
                                                <option value="维修">维修</option>
                                                <option value="标签丢失">标签丢失</option>
                                                <option value="未写入标签">未写入标签</option>
                                                <option value="未放置标签">未放置标签</option>
                                            </select>
                                        </td>
                                        <td>{{list.AreaName}}</td>
                                        <td>{{list.column}}</td>
                                        <td>{{list.position}}</td>
                                        <td>{{list.ULocation}}</td>
                                        <td><input type="text" value="" name="remark{{list.id}}" autocomplete="off" class="layui-input"></td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        
                        <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit" type="button">盘点完成</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var id=GetString('id');
        $(function(){
            layui.use(["form","tree"], function () {
                $ = layui.jquery;
                var form = layui.form;
                list.info("GetCheckPlanDetailKey",{
                    token:token,
                    id:id
                },function(r){
                    var lists = template("listtemplate", r);
                    $("tbody").html(lists);
                    form.render();
                    form.on("select(AllPlanResult)", function (data) {
                        $.each( r.data.CheckPlanData,function(n,val){
                            layuiSelected(val.id,data.value);
                        });
                    });
                      //输入框的值改变时触发
                    $('#Remark').on("input",function(e){
                        $.each( r.data.CheckPlanData,function(n,val){
                            $('input[name=remark'+val.id+']').val(e.delegateTarget.value);
                        });
                    });
                     //监听提交
                    form.on("submit(submit)", function (data) {
                        var formdata=[];
                        $.each( r.data.CheckPlanData,function(n,val){
                            if($('#'+val.id).val()=='待盘'){
                                $('#'+val.id).focus();
                                layer.msg('盘点状态不能为待盘！', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            var newdata={
                                "DetailId":val.id,
                                "CheckStatus":$('#'+val.id).val(),
                                "Remark":$('input[name=remark'+val.id+']').val()
                            }
                            formdata.push(newdata);
                            if(n==r.data.CheckPlanData.length-1){
                                list.info("SubmitCheckPlanKey",{
                                    token:token,
                                    PlanId:r.data.id,
                                    PlanStatus:'执行完成',
                                    Remark:'',
                                    CheckPlanData:formdata
                                },function(re){
                                    layer.msg('执行完成!', {
                                        icon: 6,
                                        time: 1000
                                    }, function() {
                                        var parents=parent;
                                        var index = parent.layer.getFrameIndex(window.name);
                                        parent.layer.close(index, function(){
                                            parents.colse();
                                        }); 
                                    });
                                });
                            }
                        });
                    });
                })
            });
        })
    </script>
</body>
</html>