<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .two-left1{margin-left: 0;margin-right: 0;}
    </style>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>容量管理->容量统计</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                                <button class="layui-btn" lay-submit lay-filter="import" type="button" onclick="displayexport('down','capacitystatistics','区域容量统计');displayexport('down','capacitylist','区域机柜容量')" id="down">导出</button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" onclick="xadmin.open('剩余U位查询','capacity-statistics-info.html')">
                            剩余U位查询
                        </button>
                    </div>
                    <div class="layui-card-body">
                        <div class="two-left1 layui-col-md12">
                            <div class="capacity-statistics-title">区域容量统计</div>
                            <table class="layui-table" id="capacitystatistics">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>机柜数量(个)</th>
                                        <th>U位容量(U)</th>
                                        <th>功率(W)</th>
                                        <th>UPS(W)</th>
                                    </tr>
                                </thead>
                                <tbody id="info">
                                    <script type="text/html" id="infotemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    {{if i==0}}
                                    <tr> 
                                        <td>额定总量</td>
                                        {{each list as val i}}
                                        <td>{{val}}</td>
                                        {{/each}}
                                    </tr>
                                    {{/if}}
                                    {{if i==1}}
                                    <tr> 
                                        <td>已使用量</td>
                                        {{each list as val i}}
                                        <td>{{val}}</td>
                                        {{/each}}
                                    </tr>
                                    {{/if}}
                                    {{if i==2}}
                                    <tr> 
                                        <td>可用量</td>
                                        {{each list as val i}}
                                        <td>{{val}}</td>
                                        {{/each}}
                                    </tr>
                                    {{/if}}
                                    {{if i==3}}
                                    <tr> 
                                        <td>使用率</td>
                                        {{each list as val i}}
                                        <td>{{val.toFixed(2)}}%</td>
                                        {{/each}}
                                    </tr>
                                    {{/if}}
                                    {{/each}}{{/if}}
                                </script>
                                </tbody>
                            </table>
                        </div>
                        <div class="two-left1  layui-col-md12">
                            <div class="capacity-statistics-title">区域机柜容量</div>
                            <table class="layui-table" id="capacitylist">
                                <thead>
                                    <tr>
                                        <th>所属服务器</th>
                                        <th>所属区域</th>
                                        <th>机柜</th>
                                        <th>机柜列</th>
                                        <th>空间总量(U)</th>
                                        <th>已用容量(U)</th>
                                        <th>剩余容量(U)</th>
                                        <th>额定功率(W)</th>
                                        <th>已用功率(W)</th>
                                        <th>剩余功率(W)</th>
                                        <th>额定电源插口(个)</th>
                                        <th>已用电源插口(个)</th>
                                        <th>剩余电源插口(个)</th>
                                        <th>额定网口(个)</th>
                                        <th>已用网口(个)</th>
                                        <th>剩余网口(个)</th>
                                        <th>额定光口(个)</th>
                                        <th>已用光口(个)</th>
                                        <th>剩余光口(个)</th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>{{list.column}}</td>
                                        <td>{{list.position}}</td>
                                        <td>{{list.RatedU}}</td>
                                        <td>{{list.UsedU}}</td>
                                        <td>{{list.RatedU-list.UsedU}}</td>
                                        <td>{{list.RatedPower}}</td>
                                        <td>{{list.UsedPower}}</td>
                                        <td>{{list.RatedPower-list.UsedPower}}</td>
                                        <td>{{list.RatedJackPort}}</td>
                                        <td>{{list.UsedJackPort}}</td>
                                        <td>{{list.RatedJackPort-list.UsedJackPort}}</td>
                                        <td>{{list.RatedNetworkPort}}</td>
                                        <td>{{list.UsedNetworkPort}}</td>
                                        <td>{{list.RatedNetworkPort-list.UsedNetworkPort}}</td>
                                        <td>{{list.RatedSmoothPort}}</td>
                                        <td>{{list.UsedNetworkPort}}</td>
                                        <td>{{list.RatedSmoothPort-list.UsedNetworkPort}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            //参数
            var dataparam = {
                token: token,
                ServerCode: '',
                AreaId: '',
                ComboBox:'all'
            }
            //统计
            GetData(dataparam);
            function GetData(dataparam) {
                var RatedCabinet = 0,
                    RatedU = 0,
                    RatedUPS = 0,
                    RatedPower = 0,
                    UsedCabinet = 0,
                    UsedU = 0,
                    UsedUPS = 0,
                    UsedPower = 0;
                //获取机柜数量
                list.info('GetCabinetListKey',dataparam,function(r){
                    RatedCabinet=r.data.length;
                })

                list.info('GetCapacityInfoKey', dataparam, function (r) {
                    UsedCabinet = r.data.length;
                    var html = template("listtemplate", r);
                    $("#list").html(html);

                    $.each(r.data, function (n, val) {
                        RatedU += parseInt(val['RatedU']);
                        RatedUPS += parseInt(val['RatedUPS']);
                        RatedPower += parseInt(val['RatedPower']);
                        UsedU += parseInt(val['UsedU']);
                        UsedUPS += parseInt(val['UsedUPS']);
                        UsedPower += parseInt(val['UsedPower']);
                    });
                    var infodata = {
                        data: []
                    }
                    infodata.data = [
                        [RatedCabinet, RatedU, RatedPower, RatedUPS],
                        [UsedCabinet, UsedU, UsedPower, UsedUPS],
                        [RatedCabinet - UsedCabinet, RatedU - UsedU, RatedPower - UsedPower, RatedUPS - UsedUPS],
                        [(UsedCabinet / (RatedCabinet == 0 ? 1 : RatedCabinet)) * 100, (UsedU /  (RatedU == 0 ? 1 : RatedU)) * 100, (UsedPower / (RatedPower == 0 ? 1 : RatedPower)) * 100, (UsedUPS / (RatedUPS == 0 ? 1 : RatedUPS)) * 100],
                    ]
                    var infodatahtml = template("infotemplate", infodata);
                    $("#info").html(infodatahtml);

                });
                // var cparam = dataparam;
                // cparam.ComboBox = 'all';
                // list.info('GetCabinetListKey', cparam, function (r) {
                //     RatedCabinet = r.data.length;
                // });
            };

            layui.use(["form", "tree"], function () {
                $ = layui.jquery;
                var form = layui.form;
                //服务器
                getServer(form, function (r) {
                    form.on("select(ServerCode)", function (data) {
                        getArea(form, data);
                    });
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    dataparam.ServerCode = data.field.ServerCode;
                    dataparam.AreaId = data.field.AreaId;
                    GetData(dataparam);
                    return false;
                });
            });
        })

    </script>
</body>

</html>