<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入设备名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <a class="layui-btn x-right" id="yes">确定</a>
                    </div>
                    <form class="layui-form layui-card-body" id="formNow">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>设备名称</th>
                                    <th>设备型号</th>
                                    <th>IP:端口/串口地址</th>
                                    <!-- <th>当前值</th> -->
                                    <th>设备分类</th>
                                    <th>所属服务器</th>
                                    <th>所属区域</th>
                                    <th>当前状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr>
                                        <td> <input type="checkbox" name="deviceId" value="{{list.id}}" lay-skin="primary" lay-filter="deviceId" {{if list.check}}checked{{/if}}> </td>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{list.DeviceType}}</td>
                                        <td>{{if list.LinkMode==1}}{{list.DeviceIP}}:{{list.DevicePort}}{{else}}{{list.DeviceIP}}{{/if}}</td>
                                        <!-- <td>{{list.DeviceLastData}}</td> -->
                                        <td>{{list.ClassName}}</td>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>{{if list.DeviceStatus==0}} 离线 {{else}} 在线 {{/if}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetDeviceListKey";
        var alldata = [];//所有数据
        var chooseid=[];//已选择属性的id，方便排除重复选择，提交数据
        var inputid = GetString("inputid");//返回值填充id
        var value = GetString("value");//默认选中的值
        var form;
        $(function () {
            layui.use("form", function () {
                $ = layui.jquery;
                form = layui.form;

                if (value != '') {
                    chooseid = value.split(',');;
                }

                //初始化数据
                param.ComboBox = "all";
                list.info(url, param,function(r){
                    dealdata(r);
                    alldata=r;
                    setTimeout(function(){
                        var html = template("listtemplate", r);
                        $("tbody").html(html);
                        form.render();
                        form.on('checkbox(deviceId)', function (data) {
                            var index = alldata.data.findIndex(x => x.id == data.value)
                            if (data.elem.checked) {//如果当前复选框改为选中状态
                                alldata['data'][index].check=true;
                                chooseid.push(data.value);
                            }else{
                                alldata['data'][index].check=false;
                                var index = chooseid.findIndex(x => x == data.value)
                                if (index) {
                                    chooseid.splice(index, 1)
                                }
                            }
                        }); 
                    },1000)
                });
                

                //搜索
                form.on("submit(search)", function (data) {
                    var search = data.field.search;
                    var newdata={
                        'data':[]
                    };
                    if(alldata.length!=0){
                        $.each(alldata.data,function(n,val){
                            if(val.DeviceName.indexOf(search)>=0){
                                newdata.data.push(val);
                            }
                        })
                    }
                    var html = template("listtemplate", newdata);
                    $("tbody").html(html);
                    form.render();
                    return false;
                });
                //监听提交
                $('#yes').click(function(){
                    var strformData = new FormData($("#formNow")[0]);
                    // $(window.parent.document).find('#DeviceId').val(strformData.getAll('deviceId'));
                    $(window.parent.document).find('#DeviceId').val(String(chooseid));
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                })
            });
        })
        //数据处理
        function dealdata(r) {
            if(chooseid.length != 0){
                var html='';
                $.each(r.data, function (x, y) {
                    y.check=false;
                    $.each(chooseid, function (m, n) {
                        if (y.id == n) {
                            y.check=true;
                            return;
                        }
                    })
                });
            }
        }
    </script>
</body>
</html>