<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div id="tree"></div>
                        <div class="layui-box-tree">
                            <label>可配置属性</label>
                            <table class="layui-table layui-col-tree layui-form">
                                <thead>
                                    <tr>
                                        <th>属性编号</th>
                                        <th>属性名称</th>
                                        <th>数据类型</th>
                                        <th>属性单位</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <script type="text/html" id="listtemplate">
                                        {{if data.info.length!=0}} {{each data.info as list i}}
                                        <tr onclick="chooseOne(this)" data-id="{{list.id}}" data-number="{{list.AttrNumber}}" data-name="{{list.AttrName}}" data-type="{{list.DataType}}" data-unit="{{list.AttrUnit}}">
                                            <td>{{list.AttrNumber}}</td>
                                            <td>{{list.AttrName}}</td>
                                            <td>{{list.DataType}}</td>
                                            <td>{{list.AttrUnit}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                            <div id="bottomPaging"></div>
                            <label>已配置属性</label>
                            <table class="layui-table layui-col-tree layui-form">
                                <thead>
                                    <tr>
                                        <th>操作</th>
                                        <th>属性编号</th>
                                        <th>属性名称</th>
                                        <th>数据类型</th>
                                        <th>属性值</th>
                                        <th>属性单位</th>
                                    </tr>
                                </thead>
                                <tbody id="chooseTable" class="chooseTable">
                                    <script type="text/html" id="attrtemplate">
                                        {{if data.length!=0}} {{each data as list i}}
                                        <tr>
                                            <td>
                                                {{if !list.changeState && (list.AttrName=='U高' || list.AttrName=='机柜容量')}}
                                                -
                                                {{else}}
                                                <a title="移除" onclick="removeChoose(this)" data-id="{{list.AttributeId}}" href="javascript:;">
                                                    <i class="layui-icon">&#xe640;</i>
                                                </a>
                                                {{/if}}
                                            </td>
                                            <td>{{list.AttrNumber}}</td>
                                            <td>{{list.AttrName}}</td>
                                            <td>{{list.DataType}}</td>
                                            {{if !list.changeState  && (list.AttrName=='U高' || list.AttrName=='机柜容量')}}
                                            <td><input class="layui-input" name="attrCheck" value="{{list.AttributeVal}}" id="{{list.AttributeId}}" data-name="{{list.AttrName}}" readonly/></td>
                                            {{else}}
                                            <td><input class="layui-input" name="attrCheck" value="{{list.AttributeVal}}" id="{{list.AttributeId}}" data-name="{{list.AttrName}}"/></td>
                                            {{/if}}
                                            <td>{{list.AttrUnit}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">无选择属性</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                            <div class="layui-form-item">
                                <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit"
                                    type="button">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var chooseid = [];//已选择属性的id，方便排除重复选择，提交数据
        var parentname = decodeURI(GetString("parentName"));
        var grandparentname = decodeURI(GetString("grandparentName"));
        $(function () {
            var id = GetString("id");
            var typeid = GetString("typeid");
            
            //请求地址
            var url = "GetAssetsAttrListKey";
            //初始化数据
            //已有属性
            param.ComboBox = 'all';
            param.ModelId = id;
            list.info('GetBrandModelAttrKey', param, function (r) {
                var data;
                var firstchange=false;//是否是第一次修改，如果是类型属性可再次修改，如果是型号属性不可再次修改，针对特定属性
                if (r.data.length != 0) {
                    data = r;
                    setData(data);
                } else {
                    firstchange=true;
                    param.AssetsTypeId = typeid;
                    list.info('GetAssetsTypeAttrKey', param, function (res) {
                        data = res;
                        setData(data);
                    })
                }
                function setData(res){
                    $.each(res.data, function (n, val) {
                        val.changeState=firstchange;
                        chooseid.push(val.AttributeId);
                    });
                    var lists = template("attrtemplate", res);
                    $("#chooseTable").append(lists);
                    delete (param['ComboBox']);
                    delete (param['AssetsTypeId']);
                    layui.use(["form", "tree"], function () {
                        $ = layui.jquery;
                        var form = layui.form;
                        var tree = layui.tree;
                        tree.render({
                            elem: "#tree",
                            data: [
                                {
                                    title: '资产属性',
                                    spread: true,
                                    children: [
                                        {
                                            title: '物理属性',
                                            checked: true,
                                        },
                                        { title: '功耗属性' },
                                        { title: '端口属性' },
                                        // { title: '私有属性' }
                                    ]
                                },
                                {
                                    title: '配置属性',
                                    spread: true,
                                    children: [
                                        { title: '硬件属性' },
                                        { title: '操作系统' },
                                        { title: '其它' }
                                    ]
                                }
                            ],
                            click: function (obj) {
                                if (!obj.data.children) {
                                    $('.layui-tree-txt').removeAttr('style');
                                    $(obj.elem).find('.layui-tree-txt').css('color', '#148cf1');
                                    param.pageNo = 1;
                                    param.AttrClass = obj.data.title;
                                    list.get(url, param,dealdata);
                                }
                            }
                        });
                        //初始属性列表
                        $('.layui-tree-checkedFirst').find('.layui-tree-txt').css('color', '#148cf1');
                        param.AttrClass = '物理属性';
                        list.get(url, param,dealdata);
                        //监听提交
                        form.on("submit(submit)", function (data) {
                            var attrData = [];
                            var next = true;
                            var haveu = false;
                            var strformData = {
                                'token': token,
                                'ModelId': id,
                                'Attr': []
                            }
                            $.each($('input[name=attrCheck]'), function (n, val) {
                                if ($(val).val() == '') {
                                    layer.msg('属性值不能为空', {
                                        icon: 5,
                                        time: 1000
                                    });
                                    next = false;
                                    return;
                                } else {
                                    if($(val).attr('data-name')=='U高'){
                                        haveu = true;
                                    }
                                    attrData.push({
                                        'AttributeId': $(val).attr('id'),
                                        'AttributeVal': $(val).val(),
                                        'ModelAttrDisable': 1
                                    })
                                }
                            });
                            if (!next) return false;
                            //it设备u高不能为空
                            if (!haveu && grandparentname=='IT设备类'){
                                layer.msg('IT设备类U高不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            };
                            strformData.Attr = attrData;
                            if(firstchange){
                                layer.confirm('U高、机柜容量提交后不可修改！', function (index) {
                                    list.info("CreateBrandModelAttrKey", strformData, function (r) {
                                        backToparent("操作成功");
                                    });
                                })
                            }else{
                                list.info("CreateBrandModelAttrKey", strformData, function (r) {
                                    backToparent("操作成功");
                                });
                            }
                        })
                    });
                }
            })
        })
        //数据处理
        function dealdata(o) {
            if (parentname != '机柜') {// 非机柜不能有机柜容量
                $.each(o.data.info, function (n, val) {
                    var index = o.data.info.findIndex(val => val.AttrName.indexOf('机柜')>-1);
                    if (index !== -1) {
                        o.data.info.splice(index, 1);
                    }
                });
            }else{ // 机柜不能有U高
                $.each(o.data.info, function (n, val) {
                    var index = o.data.info.findIndex(val => val.AttrName.indexOf('U高')>-1);
                    if (index !== -1) {
                        o.data.info.splice(index, 1);
                    }
                });
            }

        }
        //选择一项
        function chooseOne(obj) {
            var id = $(obj).data('id');
            var number = $(obj).data('number');
            var name = $(obj).data('name');
            var type = $(obj).data('type');
            var unit = $(obj).data('unit');

            if (chooseid.length != 0) {
                var next = true;
                $.each(chooseid, function (n, val) {
                    if (id == val) {
                        layer.msg('属性已存在', {
                            icon: 5,
                            time: 1000
                        });
                        next = false;
                        return;
                    }
                })
                if (!next) return false;
            }
            var html = `<tr>
                            <td>
                                <a title="移除" onclick="removeChoose(this)" data-id="`+ id + `" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                            <td>`+ number + `</td>
                            <td>`+ name + `</td>
                            <td>`+ type + `</td>
                            <td><input class="layui-input" name="attrCheck"  value="" id="`+ id + `" data-name="`+ name + `"/></td>
                            <td>`+ unit + `</td>
                        </tr>`;
            $('#chooseTable').append(html);
            chooseid.push(id);
            return chooseid;
        }
        //删除一项
        function removeChoose(obj) {
            $(obj).parents('tr').remove();
            chooseid.splice(chooseid.indexOf($(obj).data('id')), 1);
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param,dealdata);
        }
    </script>
</body>

</html>