<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入设备名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入命令关键词" name="searchKey">
                            </div>

                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>设备名称</th>
                                    <th>所属服务器</th>
                                    <th>所属区域</th>
                                    <th>控制命令</th>
                                </tr>
                            </thead>
                            <tbody id="allTable">
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>
                                        {{if list.CommandData}}
                                            {{each list.CommandData as x y}}
                                                <input type="checkbox" value="{{x.id}}" id="choosebox{{x.id}}" lay-filter="checkone" title="{{x.label}}" lay-skin="primary" data-id="{{x.id}}" data-name="{{list.DeviceName}}" {{if x.commandcheck==1}} checked {{/if}}> 
                                            {{/each}}
                                        {{else}}
                                            &nbsp;
                                        {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <label style="clear:both">已配置项</label>
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>设备名称</th>
                                    <th>已选命令</th>
                                </tr>
                            </thead>
                            <tbody id="chooseTable" class="chooseTable"></tbody>
                        </table>
                        <div class="layui-form-item">
                            <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit"
                                type="button">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetDeviceListKey";
        var form;
        let originalData = [];//所有数据
        var chooseid = [];//已选择属性的id，方便排除重复选择，提交数据
        var inputid = GetString("inputid");//返回值填充id对象
        var value = decodeURI(GetString("value"));//默认选中的值
        $(function () {
            layui.use(["form"], function () {
                $ = layui.jquery;
                form = layui.form;
                if (value != '') {
                    chooseid = value.indexOf(',')>-1?value.split(','):[value];
                }
                //初始化设备数据
                $.ajaxSettings.async = false;
                param.ComboBox = "all";
                list.info(url, param, function (r) {
                    originalData = dealdata(r);
                    $.ajaxSettings.async = true;
                    setTimeout(function () {
                        var html = template("listtemplate", originalData);
                        $("#allTable").html(html);
                        form.render();
                    }, 1000)
                });
                //监听搜索
                form.on("submit(search)", function (data) {
                    var search = data.field.search;
                    var searchKey = data.field.searchKey;
                    var newdata = {
                        'data': []
                    };
                    // console.log(JSON.parse(JSON.stringify(originalData)));
                    // console.log(search);
                    // console.log(searchKey);
                    const originalDataArr = JSON.parse(JSON.stringify(originalData));
                    // console.log(originalDataArr)
                    if (originalDataArr && originalDataArr.data.length != 0) {
                        if (search && !searchKey) {//search是搜索设备  searchKey是搜索设备参数
                            newdata.data = originalDataArr.data.filter(function (element) {
                                return element.DeviceName.indexOf(search) >= 0;
                            });
                        } else if (!search && searchKey) {
                            newdata.data = originalDataArr.data.filter(function (element) {
                                let newarrr = element.CommandData.filter(function (ele) {
                                    return ele.label.indexOf(searchKey) >= 0;
                                });
                                if (newarrr.length > 0) {
                                    element.CommandData = newarrr;
                                    return element
                                }
                            });
                        } else if (search && searchKey) {
                            newdata.data = originalDataArr.data.filter(function (element) {
                                let newarrr = element.CommandData.filter(function (ele) {
                                    return ele.label.indexOf(searchKey) >= 0;
                                });
                                if (newarrr.length > 0 && element.DeviceName.indexOf(search) >= 0) {
                                    element.CommandData = newarrr;
                                    return element
                                }
                            });
                        } else {
                            newdata.data = originalDataArr.data;
                        }
                    }
                    newdata = dealDataCheck(newdata);
                    var html = template("listtemplate", newdata);
                    $("#allTable").html(html);
                    form.render();
                    return false;
                });
                //监听选择
                form.on('checkbox(checkone)', function (data) {
                    if (data.elem.checked) {
                        chooseOne(data.elem)
                    } else {
                        removeChoose('#choose' + $(data.elem).val());
                    }
                });
                //监听提交
                form.on("submit(submit)", function (data) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    $(window.parent.document).find('#' + inputid).val(chooseid.join(','));
                    if (window.parent.setParam) window.parent.setParam();
                })
            });
        })
        //初始化全部数据处理 只保留有控制命令的设备
        function dealdata(r) {
            let resData={
                data:[]
            };
            resData.data = $.grep(r.data, function (value) {
                return value.CommandData.length > 0;
            });
            if (chooseid.length != 0) {
                let html = '';
                $.each(resData.data, function (n, val) {
                    $.each(val.CommandData, function (x, y) {
                        y.commandcheck = -1;
                        //查询命令数组中是否在存在已经选择的数据
                        let hasCommonElement = chooseid.findIndex(element => element == y.id);
                        if (hasCommonElement !== -1) {
                            y.commandcheck = 1;
                            html += `<tr>
                                <td width="70">
                                    <a title="移除" onclick="removeChoose(this)" data-id="`+ y.id + `"  href="javascript:;" id="choose` + y.id + `">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                </td>
                                <td>`+ val.DeviceName + `</td>
                                <td>`+ y.label + `</td>
                            </tr>`;
                        }
                    });
                })
                $('#chooseTable').html(html);
            }
            return resData;
        }
        //chooseid 有值数据搜索选中处理
        function dealDataCheck(data) {
            $.each(data.data, function (n, val) {
                $.each(val.CommandData, function (x, y) {
                    y.commandcheck = -1;
                    //查询命令数组中是否在存在已经选择的数据
                    let hasCommonElement = chooseid.findIndex(element => element === y.id);
                    if (hasCommonElement !== -1) {
                        y.commandcheck = 1;
                    }
                });
            })
            return data;
        }
        //选择一项 存值[2,3,4]
        function chooseOne(obj) {
            let id = $(obj).val();//命令id
            let deviceName = $(obj).data('name');//设备名称
            let command = $(obj).attr('title');//命令描述

            if (chooseid.length != 0) {//判断是否存在已选择项
                let haveThisId = chooseid.findIndex(v => id == v);
                if (haveThisId !== -1) {
                    layer.msg('命令已存在', {
                        icon: 5,
                        time: 3000
                    });
                    return false;
                }
            }

            var html = `<tr>
                <td width="70">
                    <a title="移除" onclick="removeChoose(this)" data-id="`+ id + `" href="javascript:;" id="choose` + id + `">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
                <td>`+ deviceName + `</td>
                <td>`+ command + `</td>
            </tr>`;
            $('#chooseTable').append(html);
            chooseid.push(id);
            return chooseid;
        }
        //删除一项
        function removeChoose(obj) {
            $.each(chooseid, function (n, val) {
                if (val && $(obj).attr('data-id') == val) {
                    chooseid.splice(n, 1);
                    $(obj).parents('tr').remove();
                    $('#choosebox' + val).prop('checked', false);
                    form.render("checkbox");
                    return;
                }
            })
        }

    </script>
</body>

</html>