<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入关键词" name="query">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="online" name="online" lay-filter="online">
                                    <option value="">在线状态</option>
                                    <option value="true">在线</option>
                                    <option value="false">离线</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <form class="layui-form layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>通道编号</th>
                                    <th>设备编号</th>
                                    <th>通道名称</th>
                                    <th>快照</th>
                                    <th>子节点数</th>
                                    <th>厂家</th>
                                    <!-- <th>位置信息</th> -->
                                    <th>云台类型</th>
                                    <th>开启音频</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <script type="text/html" id="listtemplate">
                                {{if data && data.list.length!=0}} {{each data.list as list i}}
                                <tr>
                                    <td>{{list.channelId}}</td>
                                    <td>{{list.deviceId}}</td>
                                    <td>{{list.name}}</td>
                                    <td>
                                        <a href="{{list.photoimg}}" class="fancybox-view">
                                            <img src="{{list.photoimg}}" alt=""/>
                                        </a>
                                    </td>
                                    <td>{{list.subCount}}</td>
                                    <td>{{list.manufacture}}</td>
                                    <!-- <td>{{if list.latitude==0 && list.longitude==0}}无{{else}}位置{{/if}}</td> -->
                                    <td>{{list.PTZTypeText}}</td>
                                    <td><input type="checkbox" name="hasAudio" data-deviceId="{{list.deviceId}}"  data-channelId="{{list.channelId}}"  data-id="{{list.id}}" value="{{list.hasAudio}}" lay-skin="switch" lay-filter="hasAudio" {{ list.hasAudio === true ? 'checked' : '' }}></td>
                                    <td>{{if list.status===true}}在线{{else}}离线{{/if}}</td>
                                    <td>
                                        <a onclick="xadmin.open('视频播放','donghuan-dcim-video.html?ids={{list.deviceId}}_{{list.channelId}}')" title="视频播放" href="javascript:;">
                                            <i class="layui-icon">&#xe652;</i>
                                        </a>
                                        <a onclick="xadmin.open('设备录像','donghuan-camera-channel-detail.html?deviceId={{list.deviceId}}&channelId={{list.channelId}}')" title="设备录像" href="javascript:;">
                                            <i class="layui-icon">&#xe6ed;</i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}} {{else}}
                                <tr>
                                    <td colspan="20" style="text-align: center">暂无相关数据</td>
                                </tr>
                                {{/if}}
                            </script>
                        </table>
                        <div id="bottomPaging"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let videoparam = {
            page: 1,
            count: 15,
            query: '',
            online: '',
            channelType: ''
        }
        let deviceId = GetString("deviceId");
        var form = '';
        $(function () {
            layui.use(["form"], function () {
                $ = layui.jquery;
                form = layui.form;
                getChannelList(true);

                // 搜索提交
                form.on("submit(search)", function (data) {
                    videoparam.page = 1;
                    videoparam.query = data.field.query;
                    videoparam.online = data.field.online;
                    getChannelList(false);
                    return false;
                });
            })
        })
        //获取通道列表
        //first首次加载分页器
        function getChannelList(first) {
            //初始化数据
            videolist.info('get', 'api/device/query/devices/' + deviceId + '/channels', videoparam, function (re) {
                if (re.data?.list.length != 0) {
                    $.each(re.data.list, function (n, val) {
                        val.photoimg = videoUrl + 'api/device/query/snap/' + val.deviceId + '/' + val.channelId;
                    })
                }
                var html = template("listtemplate", re);
                $("tbody").html(html);

                // 确保FancyBox已加载
                if (typeof $.fancybox === 'function') {
                    // 先阻止默认行为
                    $('.fancybox-view').on('click', function (e) {
                        e.preventDefault();
                    });

                    // 再初始化FancyBox
                    setTimeout(function () {
                        $('.fancybox-view').fancybox({
                            type: 'image',
                            beforeLoad: function () {
                                // 确保使用正确的图片地址
                                this.href = $(this.element).attr('href');
                            }
                        });
                    }, 100); // 短暂延迟确保DOM完全就绪
                } else {
                    console.error('FancyBox未加载');
                }

                if (first) x_admin_page(re.data.total, videoparam.count, pagechange);

                form.render();
            });

            //开启音频
            form.on("switch(hasAudio)", function (data) {
                var hasAudio = data.elem.checked ? true : false;
                var deviceId = $(data.elem).attr('data-deviceId');
                var channelId = $(data.elem).attr('data-channelId');
                var id = $(data.elem).attr('data-id');
                videolist.info('post', 'api/device/query/channel/update/' + deviceId, {
                    channelId: channelId,
                    id: id,
                    hasAudio: hasAudio
                }, function (re) { })
            });

        }
        //分页回调
        function pagechange(curr) {
            // console.log(curr);
            videoparam.page = curr;
            getChannelList(false);
        }
    </script>
</body>

</html>