<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .mennav .layui-btn:first-child,
        #syncatt {
            display: none;
        }

        .mennav .layui-btn {
            transition: none;
            -webkit-transition: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body mennav">
                        <a class="layui-btn layui-btn-primary">
                            用户管理
                        </a>
                        <a class="layui-btn">
                            考勤记录
                        </a>
                        <a class="layui-btn layui-btn-primary">
                            控制记录
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="startDateTime" id="startDateTime" class="layui-input" placeholder="开始日期" >
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="endDateTime" id="endDateTime" class="layui-input" placeholder="结束日期">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" type="button" id="syncattOut"
                            style="margin-right: 10px;">导出</button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>出入状态</th>
                                    <th>验证方式</th>
                                    <th>门编号</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                                        <td>
                                            {{list.dataStatus}}
                                        </td>
                                        <td>
                                            {{list.Verify}}
                                        </td>
                                        <td>{{list.DevId}}</td>
                                        <td>{{list.Time}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                    <table id="listout" style="display: none;">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>出入状态</th>
                                <th>验证方式</th>
                                <th>门编号</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <script type="text/html" id="detail">
                        {{if data.length!=0}} {{each data as list i}}
                        <tr>
                            <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                            <td>
                                {{list.dataStatus}}
                            </td>
                            <td>
                                {{list.Verify}}
                            </td>
                            <td>{{list.DevId}}</td>
                            <td>{{list.Time}}</td>
                        </tr>
                        {{/each}} {{else}}
                        <tr>
                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                        </tr>
                        {{/if}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>
        var id = GetString("id");
        var SN = GetString("SerialNumber");
        var type = GetString("type");
        var url = "GetDoorZktAttListKey";
        var type = GetString("type");
        let allperson = [];
        $(function () {
            $('#syncatt').show();
            if (type && type == 'record') {
                $('.mennav a').eq(1).attr('href', 'donghuan-menZKTZatt-list.html?id=' + id + '&SerialNumber=' + SN + '&type=' + type).css('marginLeft', 0);
                // $('.mennav a').eq(2).attr('href','donghuan-menZKToper-list.html?id='+id+'&SerialNumber='+SN+'&type='+type);
                $('.mennav a').eq(2).attr('href', 'donghuan-menZKTZcmd-list.html?id=' + id + '&SerialNumber=' + SN + '&type=' + type);
            } else {
                $('.mennav a').eq(0).attr('href', 'donghuan-menZKTZcus-list.html?id=' + id + '&SerialNumber=' + SN).css('display', 'inline-block');
                $('.mennav a').eq(1).attr('href', 'donghuan-menZKTZatt-list.html?id=' + id + '&SerialNumber=' + SN);
                // $('.mennav a').eq(2).attr('href','donghuan-menZKToper-list.html?id='+id+'&SerialNumber='+SN);
                $('.mennav a').eq(2).attr('href', 'donghuan-menZKTZcmd-list.html?id=' + id + '&SerialNumber=' + SN);
            }
            //获取所有人员信息
            $.ajaxSettings.async = false;
            // list.info('GetDoorZktUserListKey',{
            //     token:token,
            //     ComboBox:'all',
            //     SN:SN
            list.info('GetEmpListKey', {
                token: token,
                ComboBox: 'all'
            }, function (r) {
                allperson = r.data
            })
            $.ajaxSettings.async = true;
            //获取列表数据
            param.SN = SN;
            list.get(url, param, dealdata);

            //搜索
            layui.use("form", function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;
                laydate.render({ 
                    elem: '#startDateTime',
                    type:'datetime'
                });
                laydate.render({ 
                    elem: '#endDateTime',
                    type:'datetime'
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    // param.search = data.field.search;
                    list.get(url, param, dealdata);
                    return false;
                });
            });

            $('#syncatt').click(function () {
                //通知同步数据
                list.info('ChangeDoorParamKey', {
                    token: token,
                    SN: SN,
                    attSync: 1
                }, function (res) {
                    layer.msg("等待数据同步！", {
                        icon: 1,
                        time: 4000
                    }, function () {
                        setTimeout(function () {
                            param.pageNo = 1;
                            list.get(url, param, dealdata);
                            layer.msg("数据已同步！", {
                                icon: 1,
                                time: 2000
                            }, function () {
                            })
                        }, 100)
                    });
                })
            })

            //导出
            $('#syncattOut').click(function () {
                list.info(url, {
                    token: token,
                    ComboBox: 'all',
                    search: param.search,
                    SN: SN
                }, function (res) {
                    if (res.data.length > 0) {
                        dealdata(res, function (r) {
                            let htmls = template("detail", r);
                            $("#listout tbody").html(htmls);
                            // let day =getDateTime().split(' ')[0];
                            displayexport('syncattOut', 'listout', '考勤记录', true);
                        });
                    }
                })
            })

        })
        function dealdata(r, callback) {
            let data = r.data.info;
            if (callback) data = r.data;
            $.each(data, function (n, val) {
                if (val.Pin) {
                    let findindex = allperson.findIndex(v => v.PersonNumber == val.Pin);
                    if (findindex > -1) {
                        val.Name = allperson[findindex].PersonName
                    }
                }
                val.dataStatus = parseInt(val.dataStatus);
                if (val.dataStatus == 0) {
                    val.dataStatus = '入';
                } else if (val.dataStatus == 1) {
                    val.dataStatus = '出';
                } else  {
                    val.dataStatus = '其他';
                }
                // switch(val.dataStatus){
                // case '0':val.dataStatus='成功';break;
                // case '1':val.dataStatus='探测人脸失败';break;
                // case '2':val.dataStatus='人脸遮挡';break;
                // case '3':val.dataStatus='清晰度不够';break;
                // case '4':val.dataStatus='人脸角度太大';break;
                // case '5':val.dataStatus='活体检测失败';break;
                // case '6':val.dataStatus='提取模板失败';break;
                // }
                switch (val.Verify) {
                    case '0': val.Verify = '指静脉或人脸或指纹或卡或密码 (自动识别)'; break;
                    case '1': val.Verify = '仅指纹'; break;
                    case '2': val.Verify = '工号验证'; break;
                    case '3': val.Verify = '仅密码'; break;
                    case '4': val.Verify = '仅卡'; break;
                    case '5': val.Verify = '指纹或密码'; break;
                    case '6': val.Verify = '指纹或卡'; break;
                    case '7': val.Verify = '卡或密码'; break;
                    case '8': val.Verify = '工号加指纹'; break;
                    case '9': val.Verify = '指纹加密码'; break;
                    case '10': val.Verify = '卡加指纹'; break;
                    case '11': val.Verify = '卡加密码'; break;
                    case '12': val.Verify = '指纹加密码加卡'; break;
                    case '13': val.Verify = '工号加指纹加密码'; break;
                    case '14': val.Verify = '工号加指纹 或 卡加指纹'; break;
                    case '15': val.Verify = '人脸'; break;
                    case '16': val.Verify = '人脸加指纹'; break;
                    case '17': val.Verify = '人脸加密码'; break;
                    case '18': val.Verify = '人脸加卡'; break;
                    case '19': val.Verify = '人脸加指纹加卡'; break;
                    case '20': val.Verify = '人脸加指纹加密码'; break;
                    case '21': val.Verify = '指静脉'; break;
                    case '22': val.Verify = '指静脉加密码'; break;
                    case '23': val.Verify = '指静脉加卡'; break;
                    case '24': val.Verify = '指静脉加密码加卡'; break;
                    case '25': val.Verify = '掌纹'; break;
                    case '26': val.Verify = '掌纹加卡'; break;
                    case '27': val.Verify = '掌纹加面部'; break;
                    case '28': val.Verify = '掌纹加指纹'; break;
                    case '29': val.Verify = '掌纹加指纹加面部'; break;
                    case '200': val.Verify = '其他'; break;
                }

                if (data.length == n + 1 && callback) {
                    let res = {
                        data: data
                    }
                    callback(res);
                }
            })
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param, dealdata);
        }


    </script>
</body>

</html>