<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .mennav .layui-btn {
            transition: none;
            -webkit-transition: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body mennav">
                        <a class="layui-btn layui-btn-primary">
                            用户管理
                        </a>
                        <a class="layui-btn layui-btn-primary">
                            考勤记录
                        </a>
                        <a class="layui-btn layui-btn-primary">
                            操作记录
                        </a>
                        <a class="layui-btn">
                            控制记录
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="startDateTime" id="startDateTime" class="layui-input"
                                    placeholder="开始日期">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="endDateTime" id="endDateTime" class="layui-input"
                                    placeholder="结束日期">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" type="button" id="syncattOut"
                            style="margin-left: 10px;">导出</button>
                        <button class="layui-btn x-right" type="button" id="open">远程开门</button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户名</th>
                                    <th>门禁卡号</th>
                                    <th>门名称</th>
                                    <th>动作</th>
                                    <th>结果</th>
                                    <th>记录时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td>{{(pageSize*(pageNo-1))+(i+1)}}</td>
                                        <td>{{list.EmpName}}</td>
                                        <td>{{list.IdCard}}</td>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{list.DevAction}}</td>
                                        <td>{{list.Result}}</td>
                                        <td>{{list.create_time}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                    <table id="listout" style="display: none;">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>门禁卡号</th>
                                <th>门名称</th>
                                <th>动作</th>
                                <th>结果</th>
                                <th>记录时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- 导出数据模版 -->
                    <script type="text/html" id="detail">
                        {{if data.length!=0}} {{each data as list i}}
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{list.EmpName}}</td>
                            <td>{{list.IdCard}}</td>
                            <td>{{list.DeviceName}}</td>
                            <td>{{list.DevAction}}</td>
                            <td>{{list.Result}}</td>
                            <td>{{list.create_time}}</td>
                        </tr>
                        {{/each}} {{else}}
                        <tr>
                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                        </tr>
                        {{/if}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>
        var id = GetString("id");
        var SN = GetString("SerialNumber");
        var code = GetString("code");
        var url = "GetDoorZktCmdListKey";
        var type = GetString("type");
        $(function () {

            $('.mennav a').eq(0).attr('href', 'donghuan-menCus-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(1).attr('href', 'donghuan-menAtt-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(2).attr('href', 'donghuan-menOper-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(3).attr('href', 'donghuan-menCmd-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);

            //根据不同的协议展示不是切换按钮
            if (code == '14001' || code == '14005') {//海康 掌静脉  只显示 舍去 操作记录  将考勤记录名称替换成 事件管理
                $('.mennav a').eq(1).text('事件记录');
                $('.mennav a').eq(2).hide();
            } else if (code == '14002') {
                //中控安防 4个都保留
            }

            if (type && type == 'record') {//从历史记录页过来，不显示用户信息
                $('.mennav a').eq(0).hide()
                $('.mennav a').eq(1).css('marginLeft', 0);
            }

            //获取列表数据
            param.DevID = id;
            list.get(url, param, dealdata);

            //远程开门
            $('#open').click(function () {
                list.info('CreateDoorZktCmdKey', {
                    token: token,
                    DevID: id,
                    DevAction: 1
                }, function (res) {
                    if(!res.data.id){
                        console.error('门禁远程开门记录未成功生成！')
                        return;
                    }
                    //通知同步数据
                    list.info('ChangeDoorParamKey', {
                        token: token,
                        DevId: id,
                        cmd: res.data.id
                    }, function (res) {
                        layer.msg("等待响应！", {
                            icon: 1,
                            time: 2000
                        });
                        if (code == '14001'){
                            getDoorInfo('hik', {
                                DevId:id
                            });
                        }
                        //执行5次 ，每5秒请求一次 同步结果
                        let time = 0;
                        var setCallBcakTime = setInterval(function () {
                            time += 1;
                            if (time <= 10) {
                                list.info("GetDoorParamDetailKey", {
                                    token: token,
                                    id: id
                                }, function (res) {
                                    if (res.data.cmd == 0) {
                                        clearInterval(setCallBcakTime);
                                        param.pageNo = 1;
                                        list.get(url, param, dealdata);
                                    }
                                })
                            } else {
                                clearInterval(setCallBcakTime);
                                layer.msg("控制出错！", {
                                    icon: 5,
                                    time: 2000
                                });
                            }
                        }, 5000)
                    })
                })
            })

            //搜索
            layui.use(["form", "laydate"], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;

                laydate.render({
                    elem: '#startDateTime,#endDateTime',
                    type: 'datetime'
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    if (param.startDateTime && !param.endDateTime) {
                        layer.msg("请选择结束时间！", {
                            icon: 5,
                            time: 2000
                        });
                        return false;
                    }
                    if (!param.startDateTime && param.endDateTime) {
                        layer.msg("请选择开始时间！", {
                            icon: 5,
                            time: 2000
                        });
                        return false;
                    }
                    list.get(url, param, dealdata);
                    return false;
                });
            });

            //导出
            $('#syncattOut').click(function () {
                let outParam = {
                    token: token,
                    ComboBox: 'all',
                    DevId: id
                }
                if (param.startDateTime && param.endDateTime) {
                    outParam.startDateTime = param.startDateTime;
                    outParam.endDateTime = param.endDateTime;
                }
                list.info(url, outParam, function (res) {
                    if (res.data.length > 0) {
                        dealdata(res, function (r) {
                            // console.log(r)
                            let htmls = template("detail", r);
                            $("#listout tbody").html(htmls);
                            setTimeout(function () {
                                displayexport('syncattOut', 'listout', '控制记录', true);
                            })
                        });
                    }
                })
            })

        })
        function dealdata(r, callback) {
            let data = r.data.info;
            if (callback) data = r.data;
            r.code = code;
            r.pageSize = parseInt(param.pageSize);
            r.pageNo = parseInt(param.pageNo);
            $.each(data, function (n, val) {
                switch (val.DevAction) {
                    case '1': val.DevAction = '开门'; break;
                    case '2': val.DevAction = '关门'; break;
                    case '3': val.DevAction = '常开'; break;
                    case '4': val.DevAction = '常关'; break;
                }
                if (val.Result == '0' || val.Result == 'OK') {
                    val.Result = '控制成功'
                } else if (val.Result == null || val.Result == '') {
                    val.Result = '等待响应'
                } else {
                    val.Result = '控制失败'
                }
                if (data.length == n + 1 && callback) {
                    let res = {
                        data: data,
                        code: code
                    }
                    callback(res);
                }
            })
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param, dealdata);
        }

    </script>
</body>

</html>