<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .mennav .layui-btn {
            transition: none;
            -webkit-transition: none;
        }

        #syncatt {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body mennav">
                        <a class="layui-btn layui-btn-primary">
                            用户管理
                        </a>
                        <a class="layui-btn">
                            考勤记录
                        </a>
                        <a class="layui-btn layui-btn-primary">
                            操作记录
                        </a>
                        <a class="layui-btn layui-btn-primary">
                            控制记录
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入用户名/工号" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="startDateTime" id="startDateTime" class="layui-input"
                                    placeholder="开始日期">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="endDateTime" id="endDateTime" class="layui-input"
                                    placeholder="结束日期">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" type="button" id="syncattOut">导出</button>
                        <button class="layui-btn x-right" type="button" id="syncatt"
                            style="margin-right: 10px;">考勤同步</button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                        </table>
                        <script type="text/html" id="headtemplate">
                            {{if code == '14001'}}
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>卡号</th>
                                    <th>事件类型</th>
                                    <th>事件时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            {{else if code == '14002'}}
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>考勤状态</th>
                                    <th>验证方式</th>
                                    <th>出入方向</th>
                                    <th>考勤时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            {{else if code == '14005'}}
                            <thead>
                                <tr>
                                    <th width="80">序号</th>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>出入状态</th>
                                    <th>验证方式</th>
                                    <th>时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            {{/if}}
                        </script>
                        <script type="text/html" id="listtemplate">
                            {{if code == '14001'}}
                                {{if data.info.length!=0}} {{each data.info as list i}}
                                <tr>
                                    <td>{{(pageSize*(pageNo-1))+(i+1)}}</td>
                                    <td>{{list.Pin}}</td>
                                    <td>{{list.Name}}</td>
                                    <td>{{list.DoorCardNum}}</td>
                                    <td>{{list.majorName}}</td>
                                    <td>{{list.Time}}</td>
                                </tr>
                                {{/each}} {{else}}
                                <tr>
                                    <td colspan="20" style="text-align: center">暂无相关数据</td>
                                </tr>
                                {{/if}}
                            {{else if code == '14002'}}
                                {{if data.info.length!=0}} {{each data.info as list i}}
                                <tr>
                                    <td>{{(pageSize*(pageNo-1))+(i+1)}}</td>
                                    <td>{{list.Pin}}</td>
                                    <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                                    <td>{{list.dataStatus}}</td>
                                    <td>{{list.Verify}}</td>
                                    <td>进入</td>
                                    <td>{{list.Time}}</td>
                                </tr>
                                {{/each}} {{else}}
                                <tr>
                                    <td colspan="20" style="text-align: center">暂无相关数据</td>
                                </tr>
                                {{/if}}
                            {{else if code == '14005'}}
                                {{if data.info.length!=0}} {{each data.info as list i}}
                                <tr>
                                    <td>{{(pageSize*(pageNo-1))+(i+1)}}</td>
                                    <td>{{list.Pin}}</td>
                                    <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                                    <td>{{list.dataStatus}}</td>
                                    <td>{{list.Verify}}</td>
                                    <td>{{list.Time}}</td>
                                </tr>
                                {{/each}} {{else}}
                                <tr>
                                    <td colspan="20" style="text-align: center">暂无相关数据</td>
                                </tr>
                                {{/if}}
                            {{/if}}
                        </script>
                        <div id="bottomPaging"></div>
                    </div>
                    <table id="listout" style="display: none;">
                    </table>
                    <!-- 导出数据模版 -->
                    <script type="text/html" id="detail">
                        {{if code == '14001'}}
                            {{if data.length!=0}} {{each data as list i}}
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{list.Pin}}</td>
                                <td>{{list.Name}}</td>
                                <td>{{list.DoorCardNum}}</td>
                                <td>{{list.majorName}}</td>
                                <td>&ensp;{{list.Time}}</td>
                            </tr>
                            {{/each}} {{else}}
                            <tr>
                                <td colspan="20" style="text-align: center">暂无相关数据</td>
                            </tr>
                            {{/if}}
                        {{else if code == '14002'}}
                            {{if data.length!=0}} {{each data as list i}}
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{list.Pin}}</td>
                                <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                                <td>{{list.dataStatus}}</td>
                                <td>{{list.Verify}}</td>
                                <td>进入</td>
                                <td>&ensp;{{list.Time}}</td>
                            </tr>
                            {{/each}} {{else}}
                            <tr>
                                <td colspan="20" style="text-align: center">暂无相关数据</td>
                            </tr>
                            {{/if}}
                        {{else if code == '14005'}}
                            {{if data.length!=0}} {{each data as list i}}
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{list.Pin}}</td>
                                <td>{{if list.Name}}{{list.Name}}{{else}}{{list.Pin}}{{/if}}</td>
                                <td>{{list.dataStatus}}</td>
                                <td>{{list.Verify}}</td>
                                <td>&ensp;{{list.Time}}</td>
                            </tr>
                            {{/each}} {{else}}
                            <tr>
                                <td colspan="20" style="text-align: center">暂无相关数据</td>
                            </tr>
                            {{/if}}
                        {{/if}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>
        var id = GetString("id");
        var SN = GetString("SerialNumber");
        var code = GetString("code");
        var url = "GetDoorZktAttListKey";
        var type = GetString("type");
        let allperson = [], eventlist;
        $(function () {

            $('.mennav a').eq(0).attr('href', 'donghuan-menCus-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(1).attr('href', 'donghuan-menAtt-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(2).attr('href', 'donghuan-menOper-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);
            $('.mennav a').eq(3).attr('href', 'donghuan-menCmd-list.html?id=' + id + '&SerialNumber=' + SN + '&code=' + code + '&type=' + type);


            //根据不同的协议展示不是切换按钮
            if (code == '14001' || code == '14005') {//海康 掌静脉  只显示 舍去 操作记录  将考勤记录名称替换成 事件管理
                $('.mennav a').eq(1).text('事件记录');
                $('.mennav a').eq(2).hide();
                if (code == '14001') {
                    $('#syncatt').show();   // 14001 显示“同步”按钮
                } else {
                    $('#syncatt').hide();   // 14005 隐藏
                }
                // if (code == '14001') {
                //     list.info('ChangeDoorParamKey', {
                //         token: token,
                //         DevId: id,
                //         attSync: 1
                //     }, function (res) {
                //         getDoorInfo('hik', {
                //             DevId: id
                //         });
                //     }
                //     )
                // }
            } else if (code == '14002') {
                //中控安防 4个都保留
                $('#syncatt').show();
            }

            if (type && type == 'record') {//从历史记录页过来，不显示用户信息
                $('.mennav a').eq(0).hide()
                $('.mennav a').eq(1).css('marginLeft', 0);
            }

            //根据不同类型显示表格头部
            let headdata = {
                code: code
            }
            var tableHead = template('headtemplate', headdata)
            $('.layui-table,#listout').html(tableHead);
            //海康事件匹配表
            eventlist = [
                { 'major': '0x1', 'minor': '0x404', 'name': '设备防拆报警' },
                { 'major': '0x1', 'minor': '0x405', 'name': '设备防拆恢复' },
                { 'major': '0x1', 'minor': '0x406', 'name': '读卡器防拆报警' },
                { 'major': '0x1', 'minor': '0x407', 'name': '读卡器防拆恢复' },
                { 'major': '0x1', 'minor': '0x408', 'name': '事件输入报警' },
                { 'major': '0x1', 'minor': '0x409', 'name': '事件输入恢复' },
                { 'major': '0x1', 'minor': '0x40a', 'name': '胁迫报警' },
                { 'major': '0x1', 'minor': '0x40b', 'name': '离线事件满 90%报警' },
                { 'major': '0x1', 'minor': '0x40c', 'name': '卡号认证失败超次报警' },
                { 'major': '0x1', 'minor': '0x40d', 'name': 'SD 卡存储满报警' },
                { 'major': '0x1', 'minor': '0x40f', 'name': '门控安全模块防拆报警' },
                { 'major': '0x1', 'minor': '0x410', 'name': '门控安全模块防拆恢复' },
                { 'major': '0x2', 'minor': '0x27', 'name': '网络断开' },
                { 'major': '0x2', 'minor': '0x400', 'name': '设备上电启动' },
                { 'major': '0x2', 'minor': '0x407', 'name': '网络恢复' },
                { 'major': '0x2', 'minor': '0x408', 'name': 'FLASH 读写异常' },
                { 'major': '0x2', 'minor': '0x409', 'name': '读卡器掉线' },
                { 'major': '0x2', 'minor': '0x40a', 'name': '读卡器掉线恢复' },
                { 'major': '0x2', 'minor': '0x40f', 'name': '门控安全模块掉线' },
                { 'major': '0x2', 'minor': '0x410', 'name': '门控安全模块在线' },
                { 'major': '0x2', 'minor': '0x41d', 'name': '身份证阅读器未连接' },
                { 'major': '0x2', 'minor': '0x41e', 'name': '身份证阅读器连接恢复' },
                { 'major': '0x2', 'minor': '0x423', 'name': 'COM 口未连接' },
                { 'major': '0x2', 'minor': '0x424', 'name': 'COM 口连接恢复' },
                { 'major': '0x2', 'minor': '0x426', 'name': '人证设备在线' },
                { 'major': '0x2', 'minor': '0x427', 'name': '人证设备离线' },
                { 'major': '0x2', 'minor': '0x428', 'name': '本地登录锁定' },
                { 'major': '0x2', 'minor': '0x429', 'name': '本地登录解锁' },
                { 'major': '0x3', 'minor': '0x50', 'name': '本地登陆' },
                { 'major': '0x3', 'minor': '0x5a', 'name': '本地升级' },
                { 'major': '0x3', 'minor': '0x70', 'name': '远程登录' },
                { 'major': '0x3', 'minor': '0x71', 'name': '远程注销登陆' },
                { 'major': '0x3', 'minor': '0x79', 'name': '远程布防' },
                { 'major': '0x3', 'minor': '0x7a', 'name': '远程撤防' },
                { 'major': '0x3', 'minor': '0x7b', 'name': '远程重启' },
                { 'major': '0x3', 'minor': '0x7e', 'name': '远程升级' },
                { 'major': '0x3', 'minor': '0x86', 'name': '远程导出配置文件' },
                { 'major': '0x3', 'minor': '0x87', 'name': '远程导入配置文件' },
                { 'major': '0x3', 'minor': '0x400', 'name': '远程开门' },
                { 'major': '0x3', 'minor': '0x401', 'name': '远程关门(受控)' },
                { 'major': '0x3', 'minor': '0x402', 'name': '远程常开(自由)' },
                { 'major': '0x3', 'minor': '0x403', 'name': '远程常关(禁用)' },
                { 'major': '0x3', 'minor': '0x404', 'name': '远程手动校时' },
                { 'major': '0x3', 'minor': '0x405', 'name': 'NTP 自动校时' },
                { 'major': '0x3', 'minor': '0x406', 'name': '远程清空卡号' },
                { 'major': '0x3', 'minor': '0x407', 'name': '远程恢复默认参数' },
                { 'major': '0x3', 'minor': '0x40a', 'name': '本地恢复默认参数' },
                { 'major': '0x3', 'minor': '0x40b', 'name': '远程抓拍' },
                { 'major': '0x3', 'minor': '0x40c', 'name': '修改网络中心参数配置' },
                { 'major': '0x3', 'minor': '0x40e', 'name': '修改中心组参数配置' },
                { 'major': '0x3', 'minor': '0x40f', 'name': '解除码输入' },
                { 'major': '0x3', 'minor': '0x419', 'name': '远程实时布防' },
                { 'major': '0x3', 'minor': '0x41a', 'name': '远程实时撤防' },
                { 'major': '0x5', 'minor': '0x01', 'name': '合法卡认证通过' },
                { 'major': '0x5', 'minor': '0x02', 'name': '刷卡加密码认证通过' },
                { 'major': '0x5', 'minor': '0x03', 'name': '刷卡加密码认证失败' },
                { 'major': '0x5', 'minor': '0x04', 'name': '数卡加密码认证超时' },
                { 'major': '0x5', 'minor': '0x05', 'name': '刷卡加密码超次' },
                { 'major': '0x5', 'minor': '0x06', 'name': '未分配权限' },
                { 'major': '0x5', 'minor': '0x07', 'name': '无效时段' },
                { 'major': '0x5', 'minor': '0x08', 'name': '卡号过期' },
                { 'major': '0x5', 'minor': '0x09', 'name': '无此卡号' },
                { 'major': '0x5', 'minor': '0x0a', 'name': '反潜回认证失败' },
                { 'major': '0x5', 'minor': '0x0c', 'name': '卡不属于多重认证群组' },
                { 'major': '0x5', 'minor': '0x0d', 'name': '卡不在多重认证时间段内' },
                { 'major': '0x5', 'minor': '0x0e', 'name': '多重认证模式超级权限认证失败' },
                { 'major': '0x5', 'minor': '0x0f', 'name': '多重认证模式远程认证失败' },
                { 'major': '0x5', 'minor': '0x10', 'name': '多重认证成功' },
                { 'major': '0x5', 'minor': '0x11', 'name': '首卡开门开始' },
                { 'major': '0x5', 'minor': '0x12', 'name': '首卡开门结束' },
                { 'major': '0x5', 'minor': '0x13', 'name': '常开状态开始' },
                { 'major': '0x5', 'minor': '0x14', 'name': '常开状态结束' },
                { 'major': '0x5', 'minor': '0x15', 'name': '门锁打开' },
                { 'major': '0x5', 'minor': '0x16', 'name': '门锁关闭' },
                { 'major': '0x5', 'minor': '0x17', 'name': '开门按钮打开' },
                { 'major': '0x5', 'minor': '0x18', 'name': '开门按钮放开' },
                { 'major': '0x5', 'minor': '0x19', 'name': '正常开门（门磁）' },
                { 'major': '0x5', 'minor': '0x1a', 'name': '正常关门（门磁）' },
                { 'major': '0x5', 'minor': '0x1b', 'name': '门异常打开（门磁）' },
                { 'major': '0x5', 'minor': '0x1b', 'name': '门异常打开（门磁）' },
                { 'major': '0x5', 'minor': '0x1c', 'name': '门打开超时（门磁）' },
                { 'major': '0x5', 'minor': '0x1d', 'name': '报警输出打开' },
                { 'major': '0x5', 'minor': '0x1e', 'name': '报警输出关闭' },
                { 'major': '0x5', 'minor': '0x1f', 'name': '常关状态开始' },
                { 'major': '0x5', 'minor': '0x20', 'name': '常关状态结束' },
                { 'major': '0x5', 'minor': '0x21', 'name': '多重多重认证需要远程开' },
                { 'major': '0x5', 'minor': '0x22', 'name': '多重认证超级密码认证成功事件' },
                { 'major': '0x5', 'minor': '0x23', 'name': '多重认证重复认证事件' },
                { 'major': '0x5', 'minor': '0x24', 'name': '多重认证重复认证事件' },
                { 'major': '0x5', 'minor': '0x25', 'name': '门铃响' },
                { 'major': '0x5', 'minor': '0x26', 'name': '指纹比对通过' },
                { 'major': '0x5', 'minor': '0x27', 'name': '指纹比对失败' },
                { 'major': '0x5', 'minor': '0x28', 'name': '刷卡加指纹认证通过' },
                { 'major': '0x5', 'minor': '0x29', 'name': '刷卡加指纹认证失败' },
                { 'major': '0x5', 'minor': '0x2a', 'name': '刷卡加指纹认证超时' },
                { 'major': '0x5', 'minor': '0x2b', 'name': '刷卡加指纹加密码认证通过' },
                { 'major': '0x5', 'minor': '0x2c', 'name': '刷卡加指纹加密码认证失败' },
                { 'major': '0x5', 'minor': '0x2d', 'name': '刷卡加指纹加密码认证超时' },
                { 'major': '0x5', 'minor': '0x2e', 'name': '指纹加密码认证通过' },
                { 'major': '0x5', 'minor': '0x2f', 'name': '指纹加密码认证失败' },
                { 'major': '0x5', 'minor': '0x30', 'name': '指纹加密码认证超时' },
                { 'major': '0x5', 'minor': '0x31', 'name': '指纹不存在' },
                { 'major': '0x5', 'minor': '0x33', 'name': '呼叫中心事件' },
                { 'major': '0x5', 'minor': '0x36', 'name': '人脸加指纹认证通过' },
                { 'major': '0x5', 'minor': '0x37', 'name': '人脸加指纹认证失败' },
                { 'major': '0x5', 'minor': '0x38', 'name': '人脸加指纹认证超时' },
                { 'major': '0x5', 'minor': '0x39', 'name': '人脸加密码认证通过' },
                { 'major': '0x5', 'minor': '0x3a', 'name': '人脸加密码认证失败' },
                { 'major': '0x5', 'minor': '0x3b', 'name': '人脸加密码认证超时' },
                { 'major': '0x5', 'minor': '0x3c', 'name': '人脸加刷卡认证通过' },
                { 'major': '0x5', 'minor': '0x3d', 'name': '人脸加刷卡认证失败' },
                { 'major': '0x5', 'minor': '0x3e', 'name': '人脸加刷卡认证超时' },
                { 'major': '0x5', 'minor': '0x3f', 'name': '人脸加密码加指纹认证通过' },
                { 'major': '0x5', 'minor': '0x40', 'name': '人脸加密码加指纹认证失败' },
                { 'major': '0x5', 'minor': '0x41', 'name': '人脸加密码加指纹认证超时' },
                { 'major': '0x5', 'minor': '0x42', 'name': '人脸加刷卡加指纹认证通过' },
                { 'major': '0x5', 'minor': '0x43', 'name': '人脸加刷卡加指纹认证失败' },
                { 'major': '0x5', 'minor': '0x44', 'name': '人脸加刷卡加指纹认证超时' },
                { 'major': '0x5', 'minor': '0x45', 'name': '工号加指纹认证通过' },
                { 'major': '0x5', 'minor': '0x46', 'name': '工号加指纹认证失败' },
                { 'major': '0x5', 'minor': '0x47', 'name': '工号加指纹认证超时' },
                { 'major': '0x5', 'minor': '0x48', 'name': '工号加指纹加密码认证通过' },
                { 'major': '0x5', 'minor': '0x49', 'name': '工号加指纹加密码认证失败' },
                { 'major': '0x5', 'minor': '0x4a', 'name': '工号加指纹加密码认证超时' },
                { 'major': '0x5', 'minor': '0x4b', 'name': '人脸认证通过' },
                { 'major': '0x5', 'minor': '0x4c', 'name': '人脸认证失败' },
                { 'major': '0x5', 'minor': '0x4d', 'name': '工号加人脸认证通过' },
                { 'major': '0x5', 'minor': '0x4e', 'name': '工号加人脸认证失败' },
                { 'major': '0x5', 'minor': '0x4f', 'name': '工号加人脸认证超时' },
                { 'major': '0x5', 'minor': '0x50', 'name': '人脸抓拍失败' },
                { 'major': '0x5', 'minor': '0x51', 'name': '首卡授权开始' },
                { 'major': '0x5', 'minor': '0x52', 'name': '首卡授权结束' },
                { 'major': '0x5', 'minor': '0x65', 'name': '工号加密码认证通过' },
                { 'major': '0x5', 'minor': '0x66', 'name': '工号加密码认证失败' },
                { 'major': '0x5', 'minor': '0x67', 'name': '工号加密码认证超时' },
                { 'major': '0x5', 'minor': '0x68', 'name': '真人检测失败' },
                { 'major': '0x5', 'minor': '0x69', 'name': '人证比对通过' },
                { 'major': '0x5', 'minor': '0x70', 'name': '人证比对失败' },
                { 'major': '0x5', 'minor': '0x71', 'name': '禁止名单事件' },
                { 'major': '0x5', 'minor': '0xb5', 'name': '密码认证通过' },
                { 'major': '0x5', 'minor': '0x97', 'name': '密码不匹配' },
                { 'major': '0x3', 'minor': '0x137', 'name': '远程登录锁定' },
                { 'major': '0x3', 'minor': '0xf0', 'name': '本地激活设备' }
            ];

            // //获取所有人员信息
            // $.ajaxSettings.async = false;
            // list.info('GetEmpListKey', {
            //     token: token,
            //     ComboBox: 'all'
            // }, function (r) {
            //     allperson = r.data
            // })
            // $.ajaxSettings.async = true;

            //获取列表数据
            param.DevId = id;
            list.get(url, param, dealdata);

            //搜索
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#startDateTime,#endDateTime',
                    type: 'datetime'
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    if (param.startDateTime && !param.endDateTime) {
                        layer.msg("请选择结束时间！", {
                            icon: 5,
                            time: 2000
                        });
                        return false;
                    }
                    if (!param.startDateTime && param.endDateTime) {
                        layer.msg("请选择开始时间！", {
                            icon: 5,
                            time: 2000
                        });
                        return false;
                    }
                    list.get(url, param, dealdata);
                    return false;
                });
            });

            //事件同步
            $('#syncatt').click(function () {
                if (code == '14001') {
                    // 海康：点击后直接发同步并刷新设备信息
                    list.info('ChangeDoorParamKey', {
                        token: token,
                        DevId: id,
                        attSync: 1
                    }, function (res) {
                        getDoorInfo('hik', {
                            DevId: id
                        });
                    });
                    return;
                }

                if (code == '14002') {
                    list.info('ChangeDoorParamKey', {
                        token: token,
                        DevId: id,
                        attSync: 1
                    }, function (res) {
                        layer.msg("已发送，等待同步", {
                            icon: 1,
                            time: 2000
                        });
                        //执行5次 ，每5秒请求一次 同步结果
                        let time = 0;
                        var setCallBcakTime = setInterval(function () {
                            time += 1;
                            if (time <= 5) {
                                list.info("GetDoorParamDetailKey", {
                                    token: token,
                                    id: id
                                }, function (res) {
                                    if (res.data.attSync == 0) {
                                        clearInterval(setCallBcakTime);
                                        layer.msg("已同步！", {
                                            icon: 1,
                                            time: 2000
                                        });
                                        param.pageNo = 1;
                                        list.get(url, param, dealdata);
                                    }
                                })
                            } else {
                                clearInterval(setCallBcakTime);
                                layer.msg("同步出错！", {
                                    icon: 5,
                                    time: 2000
                                });
                            }
                        }, 5000)
                    });
                    return;
                }

                // 14005 或其他 code
                layer.msg("当前设备类型不支持该同步操作", { icon: 0, time: 2000 });
            })

            //导出
            $('#syncattOut').click(function () {
                let outParam = {
                    token: token,
                    ComboBox: 'all',
                    DevId: id
                }
                if (param.startDateTime && param.endDateTime) {
                    outParam.startDateTime = param.startDateTime;
                    outParam.endDateTime = param.endDateTime;
                }
                outParam.search = param.search;
                list.info(url, outParam, function (res) {
                    if (res.data.length > 0) {
                        dealdata(res, function (r) {
                            // console.log(r)
                            let htmls = template("detail", r);
                            $("#listout tbody").html(htmls);
                            if (code == '14001' || code == '14005') {
                                displayexport('syncattOut', 'listout', '事件记录', true);
                            } else {
                                displayexport('syncattOut', 'listout', '考勤记录', true);
                            }
                        });
                    }
                })
            })

        })
        //数据处理
        function dealdata(r, callback) {
            let data = r.data.info;
            if (callback) data = r.data;
            r.code = code;
            r.pageSize = parseInt(param.pageSize);
            r.pageNo = parseInt(param.pageNo);
            $.each(data, function (n, val) {
                //姓名
                val.Name = val.PersonName;
                // if (val.Pin) {
                //     let findindex = allperson.findIndex(v => v.PersonNumber == val.Pin);
                //     if (findindex > -1) {
                //         val.Name = allperson[findindex].PersonName
                //     }
                // }

                //安防---考勤状态 掌静脉---出入状态
                val.dataStatus = parseInt(val.dataStatus);
                if (code == '14002') {
                    if (val.dataStatus >= 0 && val.dataStatus <= 250) {
                        val.dataStatus = '正常';
                    } else if (val.dataStatus == 252) {
                        val.dataStatus = '非法时间段';
                    } else if (val.dataStatus == 253) {
                        val.dataStatus = '非法开锁组合';
                    } else if (val.dataStatus == 254) {
                        val.dataStatus = '无效用户';
                    } else if (val.dataStatus == 255) {
                        val.dataStatus = '无考勤状态';
                    }
                } else if (code == '14005') {
                    if (val.dataStatus == 0) {
                        val.dataStatus = '入';
                    } else if (val.dataStatus == 1) {
                        val.dataStatus = '出';
                    } else {
                        val.dataStatus = '其他';
                    }
                }

                //安防+掌静脉----验证方式
                if (code == '14002' || code == '14005') {
                    switch (val.Verify) {
                        case '0': val.Verify = '指静脉或人脸或指纹或卡或密码 (自动识别)'; break;
                        case '1': val.Verify = '仅指纹'; break;
                        case '2': val.Verify = '工号验证'; break;
                        case '3': val.Verify = '仅密码'; break;
                        case '4': val.Verify = '仅卡'; break;
                        case '5': val.Verify = '指纹或密码'; break;
                        case '6': val.Verify = '指纹或卡'; break;
                        case '7': val.Verify = '卡或密码'; break;
                        case '8': val.Verify = '工号加指纹'; break;
                        case '9': val.Verify = '指纹加密码'; break;
                        case '10': val.Verify = '卡加指纹'; break;
                        case '11': val.Verify = '卡加密码'; break;
                        case '12': val.Verify = '指纹加密码加卡'; break;
                        case '13': val.Verify = '工号加指纹加密码'; break;
                        case '14': val.Verify = '工号加指纹 或 卡加指纹'; break;
                        case '15': val.Verify = '人脸'; break;
                        case '16': val.Verify = '人脸加指纹'; break;
                        case '17': val.Verify = '人脸加密码'; break;
                        case '18': val.Verify = '人脸加卡'; break;
                        case '19': val.Verify = '人脸加指纹加卡'; break;
                        case '20': val.Verify = '人脸加指纹加密码'; break;
                        case '21': val.Verify = '指静脉'; break;
                        case '22': val.Verify = '指静脉加密码'; break;
                        case '23': val.Verify = '指静脉加卡'; break;
                        case '24': val.Verify = '指静脉加密码加卡'; break;
                        case '25': val.Verify = '掌纹'; break;
                        case '26': val.Verify = '掌纹加卡'; break;
                        case '27': val.Verify = '掌纹加面部'; break;
                        case '28': val.Verify = '掌纹加指纹'; break;
                        case '29': val.Verify = '掌纹加指纹加面部'; break;
                        case '200': val.Verify = '其他'; break;
                    }
                }
                //海康事件匹配
                if (code == '14001') {
                    val.majorName = '';
                    val.SiteCode = parseInt(val.SiteCode);
                    val.Workcode = parseInt(val.Workcode);
                    let minorName = '0x' + (val.SiteCode.toString(16).length < 2 ? '0' + val.SiteCode.toString(16) : val.SiteCode.toString(16));
                    let majorName = '0x' + val.Workcode.toString(16);

                    let index = eventlist.findIndex(v => v.minor == minorName && v.major == majorName);
                    if (index > -1) {
                        val.majorName = eventlist[index].name;
                    } else {
                        val.majorName = '[' + val.Workcode + ']' + val.SiteCode
                    }
                }

                if (data.length == n + 1 && callback) {
                    let res = {
                        data: data,
                        code: code
                    }
                    callback(res);
                }
            })
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param, dealdata);
        }


    </script>
</body>

</html>