<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .instantFrame {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备名称<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="DeviceName" value="{{data.DeviceName}}" name="DeviceName" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联网模式<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <select id="LinkMode" name="LinkMode" lay-verify="required" lay-filter="LinkMode">
                                <option value="1" {{if data.LinkMode=='1'}}selected{{/if}}>TCP</option>
                                <option value="2" {{if data.LinkMode=='2'}}selected{{/if}}>COM</option>
                                <option value="3" {{if data.LinkMode=='3'}}selected{{/if}}>SNMP</option>
                            </select>
                        </div>
                    </div>
                    <div class="instantFrame">
                        <div class="layui-form-item">
                            <label class="layui-form-label">SNMP版本号<span class="x-red">*</span></label>
                            <div class="layui-input-inline">
                                <select id="SnmpVar" name="SnmpVar"  lay-filter="SnmpVar">
                                    <option value="0" {{if data.SnmpVar=='0'}}selected{{/if}}>V1</option>
                                    <option value="1" {{if data.SnmpVar=='1'}}selected{{/if}}>V2C</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">SNMP读权<span class="x-red">*</span></label>
                            <div class="layui-input-inline">
                                <input type="text" id="SnmpRead" value="{{data.SnmpRead}}" name="SnmpRead" autocomplete="off"
                                class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">SNMP写权</label>
                            <div class="layui-input-inline">
                                <input type="text" id="SnmpWrite" value="{{data.SnmpWrite}}" name="SnmpWrite" autocomplete="off"
                                class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item ipbox">
                        <label class="layui-form-label">IP<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="DeviceIP1" value="{{data.DeviceIP}}" name="DeviceIP1" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item ipbox">
                        <label class="layui-form-label">端口<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="DevicePort1" value="{{data.DevicePort}}" name="DevicePort1" lay-verify="required" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item combox">
                        <label class="layui-form-label">端口<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="DeviceIP2" value="{{data.DeviceIP}}" name="DeviceIP2" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item combox">
                        <label class="layui-form-label">比特率<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="DevicePort2" value="{{data.DevicePort}}" name="DevicePort2" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item doorCat1">
                        <label class="layui-form-label">门禁序列号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="SerialNumber" value="{{data.SerialNumber}}" name="SerialNumber" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item doorCat2">
                        <label class="layui-form-label">门禁账号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="account" value="{{data.account}}" name="account" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item doorCat2">
                        <label class="layui-form-label">门禁密码</label>
                        <div class="layui-input-inline">
                            <input type="text" id="password" value="{{data.password}}" name="password" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item udevice">
                        <label class="layui-form-label">账号<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="uaccount" value="{{data.account}}" name="uaccount" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item udevice">
                        <label class="layui-form-label">密码<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="upassword" value="{{data.password}}" name="upassword" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="serverCode">
                        <label class="layui-form-label">所属服务器<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <select class="layui-input" id="ServerCode" name="ServerCode" lay-verify="required" lay-filter="ServerCode">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属区域<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <select class="layui-input" id="AreaId" name="AreaId" lay-verify="required" lay-filter="AreaId">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var id = GetString("id");
            //获取详情
            list.info("GetDeviceDetailKey", {
                token: token,
                id: id
            }, function (r) {
                var html = template("detail", r);
                $("#formNow").html(html);
                if (r.data.LinkMode == 2) {
                    $('.ipbox').hide();
                    $('.combox').show();
                } else {
                    $('.combox').hide();
                    $('.ipbox').show();
                }
                if (r.data.LinkMode == 3) {
                    $('.instantFrame').show();
                } else {
                    $('.instantFrame').hide();
                }
                let codeval = r.data.ProtocolCode;
                $('.doorCat2,.doorCat1,.udevice').hide();
                if (codeval == '14001' || codeval == '14003') {
                    $('.doorCat2').show();
                    $('.doorCat1,.udevice').hide();
                }
                if (codeval == '14002' || codeval == '14005') {
                    $('.doorCat1').show();
                    $('.doorCat2,.udevice').hide();
                }
                if (codeval == '18001') {
                    $('.udevice').show();
                    $('.doorCat2,.doorCat1').hide();
                }
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    form.render();
                    //联网模式
                    form.on("select(LinkMode)", function (data) {
                        if (data.value == 2) {
                            $('.ipbox').hide();
                            $('.combox').show();
                        } else {
                            $('.combox').hide();
                            $('.ipbox').show();
                        }
                        if (data.value == 3) {
                            $('.instantFrame').show();
                        } else {
                            $('.instantFrame').hide();
                        }
                    });
                    //服务器
                    if (r.data.OnlyCode) {
                        $('#serverCode').remove();
                        getArea(form, { value: '' },function(){
                            layuiSelected("AreaId", r.data.AreaName);
                        })
                    } else {
                        getServer(form, function () {
                            //继成上个接口
                            layuiSelected("ServerCode", r.data.ServerName);
                            form.on("select(ServerCode)", function (data) {
                                getArea(form, data);
                            });
                            getArea(form, { value: r.data.ServerCode }, function () {
                                //继成上个接口
                                layuiSelected("AreaId", r.data.AreaName);
                            });
                        });
                    }

                    //区域
                    // getArea(form,{value:r.data.ServerCode});
                    //监听提交
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        if (strformData.get("LinkMode") == 1) {
                            if (!strformData.get("DeviceIP1")) {
                                layer.msg('ip不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            if (!strformData.get("DevicePort1")) {
                                layer.msg('端口不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            strformData.append('DeviceIP', strformData.get("DeviceIP1"));
                            strformData.append('DevicePort', strformData.get("DevicePort1"));
                        } else {
                            if (!strformData.get("DeviceIP2")) {
                                layer.msg('端口不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            if (!strformData.get("DevicePort2")) {
                                layer.msg('比特率不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            strformData.append('DeviceIP', strformData.get("DeviceIP2"));
                            strformData.append('DevicePort', strformData.get("DevicePort2"));
                        }
                        if (strformData.get("LinkMode") == '3') {
                            strformData.delete('ProtocolCode');
                            if (!strformData.get('SnmpVar')) {
                                layer.msg('SNMP版本号不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            if (!strformData.get('SnmpRead')) {
                                layer.msg('snmp读权不能为空', {
                                    icon: 5,
                                    time: 1000
                                });
                                return false;
                            }
                            strformData.append('DeviceIP', strformData.get("DeviceIP1"));
                            strformData.append('DevicePort', strformData.get("DevicePort1"));
                        }else{
                            if(codeval=='18001'){//u位设备 账号 密码不为空
                                if (!strformData.get('uaccount')) {
                                    layer.msg('账号不能为空', {
                                        icon: 5,
                                        time: 1000
                                    });
                                    return false;
                                }
                                if (!strformData.get('upassword')) {
                                    layer.msg('密码不能为空', {
                                        icon: 5,
                                        time: 1000
                                    });
                                    return false;
                                }
                                strformData.delete('account');
                                strformData.delete('password');
                                strformData.append('account',strformData.get('uaccount'));
                                strformData.append('password',strformData.get('upassword'));
                            }
                        }
                        strformData.delete('DeviceIP1');
                        strformData.delete('DeviceIP2');
                        strformData.delete('DevicePort1');
                        strformData.delete('DevicePort2');
                        strformData.delete('uaccount');
                        strformData.delete('upassword');
                        list.form("ChangeDeviceKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });
        })
    </script>
</body>

</html>