<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">卡号<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="cardNo" value="{{CardInfo.cardNo}}" name="cardNo" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">卡类型<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <select id="cardType" name="cardType" lay-verify="required" lay-filter="cardType">
                                <option value="normalCard" {{if CardInfo.cardType=="normalCard" }} selected {{/if}}>正常卡</option>
                                <option value="hijackCard" {{if CardInfo.cardType=="hijackCard" }} selected {{/if}}>胁迫卡</option>
                                <option value="dismissingCard" {{if CardInfo.cardType=="dismissingCard" }} selected {{/if}}>解除卡</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var ocardNo = GetString("cardNo");
            var ocardType = GetString("cardType");
            var data = {
                CardInfo: {
                    'cardNo': ocardNo,
                    'cardType': ocardType
                }
            }
            var html = template("detail", data);
            $("#formNow").html(html);
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                form.render();
                //监听提交
                form.on("submit(submit)", function (data) {
                    var strformData = new FormData($("#formNow")[0]);
                    var cardNo = strformData.get('cardNo').trim();
                    var cardType = strformData.get('cardType');
                    //判断卡号是否重复
                    var next = true;
                    $.each($(window.parent.document).find('#cardbox label'), function (n, val) {
                        var no = $(val).attr('id');
                        if (no == cardNo && no != ocardNo) {
                            next = false;
                            layer.msg('卡号已存在', {
                                icon: 5,
                                time: 3000
                            });
                            return false;
                        }
                    })

                    if (!next) return false;

                    $(window.parent.document).find('#'+ocardNo).remove()

                    setHtml();

                    function setHtml() {
                        var text = '';
                        var color = '';
                        switch (cardType) {
                            case 'normalCard': text = '正常卡'; color = '#009688'; break;
                            case 'hijackCard': text = '胁迫卡'; color = '#1e37c5'; break;
                            case 'dismissingCard': text = '解除卡'; color = '#999'; break;
                        }
                        var html = `
                                <label id="`+ cardNo + `" style="background-color:` + color + `">
                                    <input type="hidden" name="cardNo" title="`+ cardNo + `" data-cardType="` + cardType + `" data-cardNo="` + cardNo + `">
                                    <i class="layui-icon">&#xe672;</i>
                                    <div>`+ cardNo + `</div>
                                    <div>` + text + `</div>
                                    <ul>
                                        <li><a title="编辑" onclick="editCard(this,'`+ cardNo + `','` + cardType + `')"><i class="layui-icon">&#xe642;</i></a></li>
                                        <li><a title="删除" onclick="delCard(this,'`+ cardNo + `')"><i class="layui-icon">&#xe640;</i></a></li>
                                    </ul>
                                </label>
                                `;
                        $(window.parent.document).find('#cardbox').append(html);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }

                });
            });
        })
    </script>
</body>

</html>