<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="Name" value="{{data.Name}}" name="Name" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <!-- <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <select id="Gender" name="Gender">
                                <option value="">请选择</option>
                                <option value="1" {{if data.Gender==1}}selected{{/if}}>男</option>
                                <option value="2" {{if data.Gender==2}}selected{{/if}}>女</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="number" id="Phone" value="" name="Phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>  -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">工号<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="Pin" value="{{data.Pin}}" name="Pin" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">卡号<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="Card" value="{{data.Card}}" name="Card" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">权限<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <select id="Pri" name="Pri" lay-verify="required">
                                <option value="0" {{if data.Pri==0}}selected{{/if}}>普通用户</option>
                                <option value="2" {{if data.Pri==2}}selected{{/if}}>登记员</option>
                                <option value="6" {{if data.Pri==6}}selected{{/if}}>管理员</option>
                                <option value="14" {{if data.Pri==14}}selected{{/if}}>超级管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="Passwd" value="{{data.value}}" name="Passwd" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">使用时间段编号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="TZ" value="{{data.TZ}}" name="TZ" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">登录人脸</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="" name="AreaImg" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="" id="ViewImg">预览
                            <img src="" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)">清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">登录指纹</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="" name="AreaImg" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="" id="ViewImg">预览
                            <img src="" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)">清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var id = GetString("id");
            var SN = GetString("SerialNumber");

            //获取详情
            list.info("GetDoorZktUserDetailKey", {
                token: token,
                id: id
            }, function (r) {
                var html = template("detail", r);
                $("#formNow").html(html);
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    form.render();
                    //监听提交
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        if(!strformData.get("Passwd"))strformData.delete("Passwd");
                        list.form("ChangeDoorZktUserKey", strformData, function (r) {
                            //通知同步数据
                            list.info('ChangeDoorParamKey', {
                                token: token,
                                SN: SN,
                                changeUser:id
                            }, function (res) {
                                backToparent("修改成功");
                            })
                        });

                    });
                });
            });
        });
    </script>
</body>

</html>