<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>消息中心->待办工单</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入工单名称、工单编号" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="FaultTypeId" name="FaultTypeId" lay-filter="FaultTypeId">
                                    <option value="">故障类型</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="FaultSubTypeId" name="FaultSubTypeId" lay-filter="FaultSubTypeId">
                                    <option value="">故障子类型</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="OrderType" name="OrderType" lay-filter="OrderType">
                                    <option value="">工单类型</option>
                                    <option value="手动工单">手动工单</option>
                                    <option value="自动工单">自动工单</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>工单编号</th>
                                    <th>工单名称</th>
                                    <th>工单描述</th>
                                    <th>工单类型</th>
                                    <th>故障类型</th>
                                    <th>故障子类型</th>
                                    <th>SLA服务等级</th>
                                    <th>执行人</th>
                                    <th>发起人</th>
                                    <th>发起时间</th>
                                    <th>转派执行人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr>
                                        <td>{{list.OrderNumber}}</td>
                                        <td>{{list.OrderName}}</td>
                                        <td>{{list.OrderDescript}}</td>
                                        <td>{{list.OrderType}}</td>
                                        <td>{{list.FaultTypeName}}</td>
                                        <td>{{list.FaultSubTypeName}}</td>
                                        {{if list.SLA == '1'}}
                                        <td> 一般</td>
                                         {{/if}}
                                        {{if list.SLA == '2'}}
                                        <td> 次要</td>
                                        {{/if}}
                                        {{if list.SLA == '3'}}
                                        <td> 重要</td>
                                        {{/if}}
                                        {{if list.SLA == '4'}}
                                         <td> 严重</td>
                                         {{/if}}
                                        {{if list.SLA == '5'}}
                                        <td> 紧急</td>
                                        {{/if}}
                                        <td>{{list.EmpName}}</td>
                                        <td>{{list.CreateEmpName}}</td>
                                        <td>{{list.create_time}}</td>
                                        <td>{{list.ZhuanExecuteEmpName}}</td>
                                        <td>
                                            <a title="接收" onclick="x_admin_tips('确认接收？','ReceiveYWWorkOrderKey','{{list.id}}',this)" href="javascript:;">
                                                <i class="layui-icon">&#xe605;</i>
                                            </a>
                                            <a title="转派" onclick="xadmin.open('转派','yunwei-order-zhuan.html','','','{{list.id}}')" href="javascript:;">
                                                <i class="layui-icon">&#xe666;</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetYWWorkOrderKey";
        function x_admin_tips(tips, url, id, obj, callback) {
            layer.confirm(tips, function (index) {
                list.info(url, {
                    token: token,
                    Lsh: id,
                    OrderStatus: '处理中'
                }, function (r) {
                    $(obj).parents("tr").remove();
                    layer.msg("已接收!", {
                        icon: 6,
                        time: 1000
                    });
                    if (callback) callback(r, obj);
                    layer.close(index);
                })
            });
        }
        $(function () {
            param.OrderStatus = '待办';
            //初始化数据
            list.get(url, param);
            layui.use("form", function () {
                $ = layui.jquery;
                var form = layui.form;
                param.ComboBox = "all";
                list.info("GetFaultTypeListKey", param, function (res) {
                    var html = "<option value=''>请选择故障类型</option>";
                    $.each(res.data, function (n, val) {
                        html += "<option value=\"" + val.id + "\">" + val.FaultTypeName + "</option>";
                    });
                    $("#FaultTypeId").html(html);
                    form.render("select");
                    form.on("select(FaultTypeId)", function (data) {
                        param.ComboBox = "all";
                        param.FaultTypeId = data.value;
                        list.info("GetFaultSubTypeListKey", param, function (res) {
                            var subhtml = "<option value=''>请选择故障子类型</option>";
                            $.each(res.data, function (n, val) {
                                subhtml += "<option value=\"" + val.id + "\">" + val.FaultSubTypeName + "</option>";
                            });
                            $("#FaultSubTypeId").html(subhtml);
                            form.render("select");
                        });
                    });
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    delete param['ComboBox'];
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.FaultTypeId = data.field.FaultTypeId;
                    param.FaultSubTypeId = data.field.FaultSubTypeId;
                    param.OrderType = data.field.OrderType;
                    list.get(url, param);
                    return false;
                });
            });
        })
        //分页回调
        function pagechange(curr) {
            delete param['ComboBox'];
            param.pageNo = curr;
            list.get(url, param);
        }
    </script>
</body>

</html>