<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>消息中心->动环告警->未告警事件</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn layui-btn-primary" href="message-donghuan-list1.html">
                            未确认告警
                        </a>
                        <a class="layui-btn layui-btn-primary" href="message-donghuan-list2.html">
                            确认告警
                        </a>
                        <a class="layui-btn layui-btn-primary" href="message-donghuan-list3.html">
                            未确认已解除告警
                        </a>
                        <a class="layui-btn" href="message-donghuan-list4.html">
                            未告警事件
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <!-- <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入报警事件" name="search">
                            </div> -->
                            <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">服务器</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId">
                                    <option value="">区域</option>
                                </select>
                            </div>
                            <!-- <div class="layui-inline layui-show-xs-block">
                                <select id="AlarmLevel" name="AlarmLevel" lay-filter="AlarmLevel">
                                    <option value="">告警等级</option>
                                    <option value="1">一般告警</option>
                                    <option value="2">次要告警</option>
                                    <option value="3">主要告警</option>
                                    <option value="4">严重告警</option>
                                    <option value="5">紧急告警</option>
                                </select>
                            </div> -->
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" type="button"
                            onclick="xadmin.open('参数配置','system-parameter-list.html')">参数配置</button>
                        <button class="layui-btn x-right" type="button" style="margin-right: 10px;"
                            onclick="xadmin.open('事件配置','donghuan-event-list.html')">事件配置</button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>报警区域</th>
                                    <th>报警等级</th>
                                    <th>报警来源</th>
                                    <th>报警事件</th>
                                    <th>产生值</th>
                                    <th>报警时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr class="level1color">
                                        <td>{{list.AreaName}}</td>
                                        <td>事件</td>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{if list.TextMessage}}{{list.TextMessage.split(',')[2]}}{{else}}{{list.TypeName}}{{/if}}</td>
                                        <td>{{if list.ParamValue}}{{list.ParamValue}}{{else}}-{{/if}}</td>
                                        <td>{{if list.TextMessage}}
                                            {{list.create_time.split('-')[0]}}-{{(list.TextMessage.split(',')[4]).replace('月','-').replace('日',' ')}}
                                            {{else}}
                                            {{list.update_time}}
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetRealAlarmsKey";
        $(function () {
            param.type = '0';
            param.DevClass = '11';
            //初始化数据
            list.get(url, param);
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                //服务器
                getServer(form, function () {
                    form.on("select(ServerCode)", function (data) {
                        param.ServerCode = data.value;
                        param.ComboBox = "all";
                        getArea(form, data);
                    });
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    // param.AlarmLevel = data.field.AlarmLevel;
                    // param.search = data.field.search;
                    param.ServerCode = data.field.ServerCode;
                    param.AreaId = data.field.AreaId;
                    delete param['ComboBox'];
                    list.get(url, param);
                    return false;
                });
            });
        })
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            delete param['ComboBox'];
            list.get(url, param);
        }
    </script>
</body>

</html>