<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="./css/video.css">
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>消息中心->动环告警->未确认已解除告警</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn layui-btn-primary" href="message-donghuan-list1.html">
                            未确认告警
                        </a>
                        <a class="layui-btn layui-btn-primary" href="message-donghuan-list2.html">
                            确认告警
                        </a>
                        <a class="layui-btn" href="message-donghuan-list3.html">
                            未确认已解除告警
                        </a>
                        <!-- <a class="layui-btn layui-btn-primary" href="message-donghuan-list4.html">
                            未告警事件
                        </a> -->
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入报警事件" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode" lay-search>
                                    <option value="">服务器</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId" lay-search>
                                    <option value="">区域</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="DevId" name="DevId" lay-filter="DevId" lay-search>
                                    <option value="">全部设备</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="DeviceClass" name="DeviceClass" lay-filter="DeviceClass" lay-search>
                                    <option value="">设备分类</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AlarmLevel" name="AlarmLevel" lay-filter="AlarmLevel" lay-search>
                                    <option value="">告警等级</option>
                                    <option value="1">一般告警</option>
                                    <option value="2">次要告警</option>
                                    <option value="3">主要告警</option>
                                    <option value="4">严重告警</option>
                                    <option value="5">紧急告警</option>
                                </select>
                            </div>
                            <!-- <div class="layui-inline layui-show-xs-block">
                                <select id="OrderId" name="OrderId" lay-filter="OrderId">
                                    <option value="">派单情况</option>
                                    <option value="false">未派单</option>
                                    <option value="true">已派单</option>
                                </select>
                            </div> -->
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                        <button class="layui-btn x-right" type="button"
                            onclick="xadmin.open('参数配置','system-parameter-list.html')">参数配置</button>
                        <button class="layui-btn x-right" type="button" style="margin-right: 10px;"
                            onclick="xadmin.open('事件配置','donghuan-event-list.html')">事件配置</button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                    <th>报警区域</th>
                                    <th>报警等级</th>
                                    <th>报警来源</th>
                                    <th>报警事件</th>
                                    <th>产生值</th>
                                    <th>报警时间</th>
                                    <th>派单情况</th>
                                    <th>影像</th>
                                    <th>解除时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.info.length!=0}} {{each data.info as list i}}
                                    <tr class="
                                        {{if list.AlarmLevel==1}}
                                        level1color
                                        {{else if list.AlarmLevel==2}}
                                        level2color
                                        {{else if list.AlarmLevel==3}}
                                        level3color
                                        {{else if list.AlarmLevel==4}}
                                        level4color
                                        {{else if list.AlarmLevel==5}}
                                        level5color
                                        {{/if}}
                                    ">
                                        <td>{{list.AreaName}}</td>
                                        <td>{{list.LevelName}}</td>
                                        <td>{{list.DeviceName}}</td>
                                        <!-- <td>{{list.TypeName}}</td> -->
                                        <td>{{if list.TextMessage}}{{list.TextMessage.split(',')[2]}}{{else}}{{list.TypeName}}{{/if}}</td>
                                        <td>{{if list.ParamValue}}{{list.ParamValue}}{{else}}-{{/if}}</td>
                                        <!-- <td>{{list.update_time}}</td> -->
                                        <td>{{if list.TextMessage}}
                                            {{list.create_time.split('-')[0]}}-{{(list.TextMessage.split(',')[4]).replace('月','-').replace('日',' ')}}
                                            {{else}}
                                            {{list.update_time}}
                                            {{/if}}
                                        </td>
                                        {{if dcim==-1}}
                                        <td>{{if !list.OrderNumber}}未派单{{else}}已派单{{/if}}</td>
                                        {{else}}
                                        <td>-</td>
                                        {{/if}}
                                        {{if list.VideoImgArr && list.VideoImgArr.length>0 || list.VideoUrlArr && list.VideoUrlArr.length>0}}
                                        <td>
                                            {{if list.VideoImgArr && list.VideoImgArr.length>0}}
                                                {{each list.VideoImgArr as m n}}
                                                {{if m}}
                                                <a href="{{m}}" rel="group{{list.id}}" class="fancybox-view layui-icon layui-icon-picture" {{if n>0}}style="display:none"{{/if}}></a>
                                                {{/if}}
                                                {{/each}}
                                            {{/if}}
                                            {{if list.VideoUrlArr && list.VideoUrlArr.length>0}}
                                                {{each list.VideoUrlArr as v n}}
                                                {{if v}}
                                                <a href="javascript:;" rel="group{{list.id}}" class="fancybox-view layui-icon layui-icon-video" onclick="openVideo({{list.VideoUrlArrJson}})" {{if n > 0}}style="display:none"{{/if}}></a>
                                                {{/if}}
                                                {{/each}}
                                            {{/if}}
                                        </td>
                                        {{else}}
                                        <td>-</td>
                                        {{/if}}
                                        <td>{{list.CancelTime}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <div id="bottomPaging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetRealAlarmsKey";
        $(function () {
            param.type = '3';
            //初始化数据
            list.get(url, param, dealdata, showimg);
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                //服务器
                getServer(form, function () {
                    form.on("select(ServerCode)", function (data) {
                        getDev();
                        param.ServerCode = data.value;
                        param.ComboBox = "all";
                        getArea(form, data,function(){
                            form.on("select(AreaId)", function (val) {
                                getDev();
                            })
                        });
                    });
                });
                // 设备分类
                list.info("GetClassListKey", {
                    token: token,
                    ComboBox: 'all'
                }, function (res) {
                    var classhtml = '<option value="">全部分类</option>';
                    $.each(res.data, function (n, val) {
                        classhtml += "<option value=\"" + val.id + "\">" + val.ClassName + "</option>";
                    });
                    $("#DeviceClass").html(classhtml);
                    form.render("select");
                });
                getDev();
                // 设备
                function getDev() {
                    list.info("GetDeviceListKey", {
                        token: token,
                        ComboBox: 'all',
                        ServerCode: $("#ServerCode").val(),
                        AreaId: $("#AreaId").val()
                    }, function (res) {
                        var devhtml = '<option value="">全部设备</option>';
                        $.each(res.data, function (n, val) {
                            devhtml += "<option value=\"" + val.id + "\">" + val.DeviceName + "</option>";
                        });
                        $("#DevId").html(devhtml);
                        form.render("select");
                    });
                }
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.AlarmLevel = data.field.AlarmLevel;
                    param.search = data.field.search;
                    param.ServerCode = data.field.ServerCode;
                    param.AreaId = data.field.AreaId;
                    param.DevClass = data.field.DeviceClass;
                    param.DevId = data.field.DevId;
                    delete param['ComboBox'];
                    list.get(url, param, dealdata, showimg);
                    return false;
                });
            });
        })
        //数据处理
        function dealdata(r) {
            r.dcim = dm;
            $.each(r.data.info, function (n, val) {
                val.VideoImgArr = [];//联动截图数组
                val.VideoUrlArr = []; // 视频URL数组
                if (val.VideoImg) {
                    val.VideoImgArr = val.VideoImg.split(',').filter(Boolean);
                }
                if (val.VideoMP4) {
                    val.VideoUrlArr = val.VideoMP4.split(',').filter(Boolean);
                }
                val.VideoUrlArrJson = JSON.stringify(val.VideoUrlArr);
            })
        }
        let currentVideoIndex = 0;
        let videoUrls = [];

        function openVideo(videoUrlsParam) {
            if (typeof videoUrlsParam === 'string') {
                try {
                    videoUrls = JSON.parse(videoUrlsParam);
                } catch (e) {
                    console.error('解析 JSON 字符串失败:', e);
                    layer.msg('解析视频URL失败', { icon: 5, time: 1000 });
                    return;
                }
            } else {
                videoUrls = videoUrlsParam;
            }

            if (!Array.isArray(videoUrls) || videoUrls.length === 0) {
                layer.msg('没有可用的视频', { icon: 5, time: 1000 });
                return;
            }

            currentVideoIndex = 0; // 初始化当前视频索引
            showCurrentVideo();
        }

        function showCurrentVideo() {
            let videoContent = `
                <div style="position: relative;">
                    <video width="100%" height="auto" controls>
                        <source src="${videoUrls[currentVideoIndex]}" type="video/mp4">
                        您的浏览器不支持 video 标签。
                    </video>
                    <a class="fancybox-nav fancybox-prev" onclick="prevVideo()" href="javascript:;"><span></span></a>
                    <a class="fancybox-nav fancybox-next" onclick="nextVideo()" href="javascript:;"><span></span></a>
                </div>
            `;

            // 打开模态框
            layer.open({
                type: 1,
                title: '视频播放',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '510px'],
                content: videoContent,
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
        }

        function nextVideo() {
            currentVideoIndex = (currentVideoIndex + 1) % videoUrls.length;
            layer.closeAll(); // 关闭当前视频
            showCurrentVideo();
        }

        function prevVideo() {
            currentVideoIndex = (currentVideoIndex - 1 + videoUrls.length) % videoUrls.length;
            layer.closeAll(); // 关闭当前视频
            showCurrentVideo();
        }
        //图片展示
        function showimg(r) {
            fnFancyBox('.fancybox-view');
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            delete param['ComboBox'];
            list.get(url, param, dealdata, showimg);
        }
    </script>
</body>

</html>