<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>报表->动环监控->通知记录</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn layui-btn-primary" href="report-donghuan-alart1.html" >
                            报警消息
                        </a>
                        <a class="layui-btn layui-inline" href="report-donghuan-alart2.html">
                            通知记录
                        </a>
                    </div>
                    <div class="layui-card-body">
                        <div class="two-left three-left-big">
                            <form class="layui-form layui-col-md12">
                                <text>服务器</text>
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">请选择</option>
                                </select>
                                <text>通知类型</text>
                                <select id="NotifyType" name="NotifyType">
                                    <option value="">全部</option>
                                    <option value="1">电话通知</option>
                                    <option value="2">短信通知</option>
                                    <option value="3">微信通知</option>
                                    <option value="4">企业微信通知</option>
                                    <option value="5">钉钉通知</option>
                                    <option value="6">邮件通知</option>
                                </select>
                                <text>日期范围</text>
                                <input type="text" id="startDateTime" name="startDateTime" class="layui-input" placeholder="开始日期" >
                                <input type="text" id="endDateTime" name="endDateTime" class="layui-input" placeholder="结束日期">
                                <text>关键字</text>
                                <input  type="text" name="search"  placeholder="输入电话号码、邮箱、报警内容" autocomplete="off" class="layui-input">
                                <div class="two-search">
                                    <button class="layui-btn" lay-submit lay-filter="search" type="button">搜索</button>
                                    <button class="layui-btn" type="button" onclick="exportlist(this,'ExportAlarmNotifyKey')">导出</button>
                                </div>
                            </form>
                        </div>
                        <div class="two-right-big">
                            <table class="layui-table" id="noticetable">
                                <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>通知类型</th>
                                        <th>电话/邮箱</th>
                                        <th>报警内容</th>
                                        <th>结果</th>
                                        <th>记录时间</th>
                                        <th>更新时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <script type="text/html" id="listtemplate">
                                        {{if data.info.length!=0}} {{each data.info as list i}}
                                        <tr>
                                            <td>{{(data.page.p-1)*15+(i+1)}}</td>
                                            <td>{{if list.NotifyType=='1'}}
                                                电话通知
                                                {{else if list.NotifyType=='2'}}
                                                短信通知
                                                {{else if list.NotifyType=='3'}}
                                                微信通知
                                                {{else if list.NotifyType=='4'}}
                                                企业微信通知
                                                {{else if list.NotifyType=='5'}}
                                                钉钉通知
                                                {{else if list.NotifyType=='6'}}
                                                邮件通知
                                                {{/if}}
                                            </td>
                                            <td>{{list.NotifyAddr}}</td>
                                            <td>{{list.NotifyContent}}</td>
                                            <td>{{list.NotifyResult}}</td>
                                            <td>{{list.create_time}}</td>
                                            <td>{{list.update_time}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                            <div id="bottomPaging"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetAlarmNotifyListKey";
        $(function(){
            //初始化数据
            list.get(url, param);
            layui.use(["form","laydate"], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;

                laydate.render({ 
                    elem: '#startDateTime',
                    type:'datetime'
                });
                laydate.render({ 
                    elem: '#endDateTime',
                    type:'datetime'
                });
                //服务器
                getServer(form);
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.ServerCode = data.field.ServerCode;
                    param.NotifyType = data.field.NotifyType;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    delete(param['ComboBox']);
                    list.get(url, param);
                    return false;
                });  
            });
        })
        //导出数据模板
        //obj 操作 a对象
        function exportlist(obj,url){
            var html='<a href='+ajaxUrl+url+'?token='+token;
                if(param.search)html+='&search='+param.search;
                if(param.ServerCode)html+='&ServerCode='+param.ServerCode;
                if(param.NotifyType)html+='&NotifyType='+param.NotifyType;
                if(param.startDateTime)html+='&startDateTime='+ (Date.parse(param.startDateTime)/1000)
                if(param.endDateTime)html+='&endDateTime='+ (Date.parse(param.endDateTime)/1000);
                html+=' id="exportlist"></a>';
            $(obj).parent().append(html);

            $('#exportlist')[0].click();
            setTimeout(function(){
                $('#exportlist').remove();
            },3000);
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            delete(param['ComboBox']);
            list.get(url, param);
        }
    </script>
</body>
</html>