<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入参数名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>参数ID</th>
                                    <th>名称</th>
                                    <th>计算方式</th>
                                    <th>参数组1</th>
                                    <th>参数组2</th>
                                </tr>
                            </thead>
                            <tbody id="allTable">
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr onclick="chooseOne(this)" data-id="{{list.id}}" data-Calc="{{list.Calc}}" data-ParamName="{{list.ParamName}}" data-ParamIdOne="{{list.ParamIdOne}}" data-ParamIdTwo="{{list.ParamIdTwo}}">
                                        <td>{{list.id}}</td>
                                        <td>{{list.ParamName}}</td>
                                        <td>{{if list.Calc=='1+2'}}参数组1和参数组2求和{{/if}}
                                            {{if list.Calc=='1-2'}}参数组1和参数组2差值{{/if}}
                                            {{if list.Calc=='1:2'}}参数组1和参数组2比值{{/if}}
                                            {{if list.Calc=='1*2'}}参数组1和参数组2相乘{{/if}}
                                            {{if list.Calc=='avg1'}}参数组1平均值{{/if}}
                                            {{if list.Calc=='sum1'}}参数组1求和{{/if}}
                                            {{if list.Calc=='dayavg'}}当天均值{{/if}}
                                            {{if list.Calc=='max'}}当前最大值{{/if}}
                                            {{if list.Calc=='min'}}当前最小值{{/if}}
                                            {{if list.Calc=='daymax'}}当天最大值{{/if}}
                                            {{if list.Calc=='daymin'}}当天最小值{{/if}}
                                        </td>
                                        <td>{{list.ParamIdOne}}</td>
                                        <td>{{list.ParamIdTwo}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <label style="clear:both">已配置项</label>
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>参数ID</th>
                                    <th>名称</th>
                                    <th>计算方式</th>
                                    <th>参数组1</th>
                                    <th>参数组2</th>
                                </tr>
                            </thead>
                            <tbody id="chooseTable" class="chooseTable"></tbody>
                        </table>
                        <div class="layui-form-item">
                            <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit"
                                type="button">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetParamListKey";
        var alldata = [];//所有数据
        var chooseid=[];//已选择属性的id，方便排除重复选择，提交数据
        var inputid = GetString("inputid");//返回值填充id
        var value = GetString("value");//默认选中的值
        var multi = GetString("multi");//是否多选
        value=value.indexOf('paramKey')>=0?'':value;//如果是参数过来就默认未选
        $(function(){
            layui.use(["form"], function () {
                $ = layui.jquery;
                form = layui.form;
                if (value != '') {
                    chooseid = value.split(',');;
                }
                //初始化数据
                param.ComboBox = "all";
                list.info(url, param,function (r) {
                    alldata=r;
                    dealdata(r);
                    setTimeout(function(){
                        var html = template("listtemplate", r);
                        $("#allTable").html(html);
                    },1000)
                });
                //监听搜索
                form.on("submit(search)", function (data) {
                    var search = data.field.search;
                    var newdata={
                        'data':[]
                    };
                    if(alldata.length!=0){
                        $.each(alldata.data,function(n,val){
                            if(val.DeviceName.indexOf(search)>=0){
                                newdata.data.push(val);
                            }
                        })
                        
                    }
                    var html = template("listtemplate", newdata);
                    $("#allTable").html(html);
                    form.render();
                    return false;
                });
                //监听提交
                form.on("submit(submit)", function (data) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    $(window.parent.document).find('#'+inputid).val(String(chooseid));
                    if(window.parent.setParam)window.parent.setParam();//整点短信的参数配置项
                });
            })
        })
        //选择一项
        function chooseOne(obj){
            var id=$(obj).data('id');
            var Calc=$(obj).attr('data-Calc');
            var ParamName=$(obj).attr('data-ParamName');
            var ParamIdOne=$(obj).attr('data-ParamIdOne');
            var ParamIdTwo=$(obj).attr('data-ParamIdTwo');

            if(chooseid.length!=0){
                var next=true;
                $.each(chooseid,function(n,val){
                    if(id==val){
                        layer.msg('参数已存在', {
                            icon: 5,
                            time: 1000
                        });
                        next=false;
                        return;
                    }
                })
                if(!next)return false;
            }

            if (chooseid.length == 1 && !multi) {
                layer.msg('只能选择一个参数', {
                    icon: 5,
                    time: 1000
                });
                return false;
            }
        
            switch(Calc){
                case '1+2':Calc='参数组1和参数组2求和';break;
                case '1-2':Calc='参数组1和参数组2差值';break;
                case '1:2':Calc='参数组1和参数组2比值';break;
                case '1*2':Calc='参数组1和参数组2相乘';break;
                case 'avg1':Calc='参数组1平均值';break;
                case 'sum1':Calc='参数组1求和';break;
                case 'dayavg':Calc='当天均值';break;
                case 'max':Calc='当前最大值';break;
                case 'min':Calc='当前最小值';break;
                case 'daymax':Calc='当天最大值';break;
                case 'daymin':Calc='当天最小值';break;
            }

            var html=`<tr>
                            <td>
                                <a title="移除" onclick="removeChoose(this)" data-id="`+id+`" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                            <td>`+id+`</td>
                            <td>`+ParamName+`</td>
                            <td>`+Calc+`</td>
                            <td>`+ParamIdOne+`</td>
                            <td>`+ParamIdTwo+`</td>
                        </tr>`;
            $('#chooseTable').append(html);
            chooseid.push(id);
            return chooseid;
        }
        //删除一项
        function removeChoose(obj){
            $(obj).parents('tr').remove();
            chooseid.splice(chooseid.indexOf($(obj).data('id')),1);
        }
        //数据处理
        function dealdata(r) {
            if(chooseid.length != 0){
                var html='';
                $.each(r.data, function (x, y) {
                    $.each(chooseid, function (m, n) {
                        if (y.id == n) {
                            switch(y.Calc){
                                case '1+2':Calc='参数组1和参数组2求和';break;
                                case '1-2':Calc='参数组1和参数组2差值';break;
                                case '1:2':Calc='参数组1和参数组2比值';break;
                                case '1*2':Calc='参数组1和参数组2相乘';break;
                                case 'avg1':Calc='参数组1平均值';break;
                                case 'sum1':Calc='参数组1求和';break;
                                case 'dayavg':Calc='当天均值';break;
                                case 'max':Calc='当前最大值';break;
                                case 'min':Calc='当前最小值';break;
                                case 'daymax':Calc='当天最大值';break;
                                case 'daymin':Calc='当天最小值';break;
                            }

                            html += `<tr>
                            <td>
                                <a title="移除" onclick="removeChoose(this)" data-id="`+y.id+`" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                            <td>`+y.id+`</td>
                            <td>`+y.ParamName+`</td>
                            <td>`+y.Calc+`</td>
                            <td>`+y.ParamIdOne+`</td>
                            <td>`+y.ParamIdTwo+`</td>
                        </tr>`;
                            return;
                        }
                    })
                });
                $('#chooseTable').append(html);
            }
        }
    </script>
</body>

</html>