<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/echarts.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .massage-box{min-height:270px}
        .massage-chart{height:250px}
        .massage-box-md12 {
            width: calc(100% - 10px)
        }
    </style>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>报表管理->资产管理->维保剩余期限统计</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <button class="layui-btn" lay-submit type="button" onclick="displayexport('down','numTable','维保剩余期限统计');displayexport('down','view-route','资产详细信息')" id="down">导出</button>
                    </div>
                    <div class="layui-card-body">
                        <div class="two-left1 massage-boxsmall">
                            <div class="capacity-statistics-title">维保剩余期限统计</div>
                            <table class="layui-table" id="numTable">
                                <thead>
                                    <tr>
                                        <th>维保剩余期限</th>
                                        <th>资产数量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0年</td>
                                        <td id="data0">0</td>
                                    </tr>
                                    <tr>
                                        <td>0-1年</td>
                                        <td id="data1">0</td>
                                    </tr>
                                    <tr>
                                        <td>1-2年</td>
                                        <td id="data2">0</td>
                                    </tr>
                                    <tr>
                                        <td>2-3年</td>
                                        <td id="data3">0</td>
                                    </tr>
                                    <tr>
                                        <td>3年以上</td>
                                        <td id="data4">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="massage-box">
                            <div class="capacity-statistics-title">维保剩余期限统计</div>
                            <div id="changeChart" class="massage-chart"></div>
                        </div>
                        <div class="massage-box">
                            <div class="capacity-statistics-title">维保剩余期限统计</div>
                            <div id="classChart" class="massage-chart"></div>
                        </div>
                        <div class="two-left1  massage-box-md12">
                            <div class="capacity-statistics-title">资产详细信息</div>
                            <form class="x-right layui-form">
                                <label>维保剩余期限：</label>
                                <div class="layui-inline layui-show-xs-block">
                                    <select id="type" name="type" lay-filter="type">
                                        <option value="null">全部</option>
                                        <option value="0">0年</option>
                                        <option value="12">0-1年</option>
                                        <option value="24">1-2年</option>
                                        <option value="36">2-3年</option>
                                        <option value="48">3年以上</option>
                                    </select>
                                </div>
                            </form>
                            <div class="chartmargin"></div>
                            <table class="layui-table" id="view-route">
                                <thead>
                                    <tr>
                                        <th>资产编号</th>
                                        <th>资产类型</th>
                                        <th>型号</th>
                                        <th>资产描述</th>
                                        <th>资产状态</th>
                                        <th>维保状态</th>
                                        <th>维保到期日期</th>
                                        <th>维保剩余期限</th>
                                        <th>购置日期</th>
                                        <th>区域</th>
                                        <th>所属服务器</th>
                                        <th>机柜列</th>
                                        <th>机柜</th>
                                        <th>占用U位</th>
                                        <th>管理部门</th>
                                        <th>管理人员</th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    <script type="text/html" id="listtemplate">
                                        {{if data.length!=0}} {{each data as list i}}
                                        <tr class="{{if list.WeiBaoSurplus < 8}}colorred{{/if}}">
                                            <td>{{list.AssetsNumber}}</td>
                                            <td>{{list.AssetsTypeName}}</td>
                                            <td>{{list.BrandModel}}</td>
                                            <td>{{list.AssetsDescribe}}</td>
                                            {{if list.AssetStatus=='I'}}<td>入库</td>
                                            {{else if list.AssetStatus=='W'}}<td>待上架</td>
                                            {{else if list.AssetStatus=='F'}}<td>在架</td> 
                                            {{else if list.AssetStatus=='FR'}}<td>在架维修</td>
                                            {{else if list.AssetStatus=='IR'}}<td>在库维修</td>
                                            {{else if list.AssetStatus=='L'}}<td>领用</td>
                                            {{else if list.AssetStatus=='G'}}<td>赠送</td>
                                            {{else if list.AssetStatus=='Y'}}<td>遗失</td>
                                            {{else if list.AssetStatus=='R'}}<td>报废</td>
                                            {{else if list.AssetStatus=='DF'}}<td>外送维修（在架）</td>
                                            {{else if list.AssetStatus=='DI'}}<td>外送维修（在库）</td>
                                            {{else if list.AssetStatus=='O'}}<td>待安装</td>
                                            {{else if list.AssetStatus=='T'}}<td>安装</td>
                                            {{else if list.AssetStatus=='B'}}<td>借用</td>
                                            {{else}}<td>下架</td>
                                            {{/if}}
                                            <td>{{list.WeiBaoStatus}}</td>
                                            <td>{{list.WeiBaoEndTime}}</td>
                                            <td>{{list.WeiBaoSurplus}}</td>
                                            <td>{{list.BuyTime}}</td>
                                            <td>{{list.AreaName}}</td>
                                            <td>{{list.ServerName}}</td>
                                            <td>{{list.column}}</td>
                                            <td>{{list.position}}</td>
                                            <td>{{list.ULocation}}</td>
                                            <td>{{list.DeptName}}</td>
                                            <td>{{list.PersonName}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var listparam = {
                token: token,
                WeiBaoSurplus: 'null'
            }
            var first = true;
            getData();
            function getData() {
                list.info('GetAssetsSurplusStatisticKey', listparam, function (r) {
                    var html = template("listtemplate", r);
                    $("#list").html(html);

                    if (!first) {
                        return false;
                    }

                    var data0 = 0;
                    var data1 = 0;
                    var data2 = 0;
                    var data3 = 0;
                    var data4 = 0;

                    $.each(r.data, function (n, val) {
                        if (val.WeiBaoSurplus <= 0) {
                            data0++;
                        }
                        if (val.WeiBaoSurplus > 0 && val.WeiBaoSurplus <= 12) {
                            data1++;
                        }
                        if (val.WeiBaoSurplus > 12 && val.WeiBaoSurplus <= 24) {
                            data2++;
                        }
                        if (val.WeiBaoSurplus > 24 && val.WeiBaoSurplus <= 36) {
                            data3++;
                        }
                        if (val.WeiBaoSurplus > 36) {
                            data4++;
                        }
                    });

                    $('#data0').html(data0);
                    $('#data1').html(data1);
                    $('#data2').html(data2);
                    $('#data3').html(data3);
                    $('#data4').html(data4);

                    var classChartDom = document.getElementById('classChart');
                    var classChart = echarts.init(classChartDom);
                    var classtitle = [{ 'name': '0年', 'icon': 'circle' },
                    { 'name': '0-1年', 'icon': 'circle' },
                    { 'name': '1-2年', 'icon': 'circle' },
                    { 'name': '2-3年', 'icon': 'circle' },
                    { 'name': '3年以上', 'icon': 'circle' }];
                    var classdata = [{ 'value': data0, 'name': '0年' },
                    { 'value': data1, 'name': '0-1年' },
                    { 'value': data2, 'name': '1-2年' },
                    { 'value': data3, 'name': '2-3年' },
                    { 'value': data4, 'name': '3年以上' }];

                    var classChartoption = {
                        legend: {
                            orient: 'vertical',
                            data: classtitle,
                            right: 10,
                            top: 55,
                            itemWidth: 6,
                            itemHeight: 6,
                            textStyle: {
                                color: '#A2CAE1',
                                fontSize: '11',
                                lineHeight: 15,
                            },
                            formatter: function (name) {
                                var total = 0;
                                var tarValue = 0;
                                for (var i = 0, l = classdata.length; i < l; i++) {
                                    total += parseInt(classdata[i].value);
                                    if (classdata[i].name == name) {
                                        tarValue = classdata[i].value;
                                    }
                                }
                                total = total == 0 ? 1 : total;
                                var p = (tarValue / total * 100).toFixed(2);
                                return name + ' ' + p + '%';
                            }
                        },
                        color: ['#35DFFC', '#3783FF', '#913BFE', '#FFCA35', '#FF9100'],
                        series: [
                            {
                                name: '',
                                type: 'pie',
                                radius: ['65%', '90%'],
                                top: 25,
                                left: -120,
                                bottom: 0,
                                itemStyle: {
                                    shadowColor: 'rgba(225, 229, 255, 0.69)',
                                    shadowBlur: 16
                                },
                                emphasis: {
                                    label: {
                                        show: true,
                                        fontSize: '14.3',
                                        fontWeight: 'bold',
                                        formatter: '{b}:{c}'
                                    }
                                },
                                label: {
                                    show: false,
                                    position: 'center',
                                    textStyle: {
                                        color:'#ffffff',
                                        fontSize:'14',
                                        lineHeight: 15
                                    },
                                },
                                data: classdata,
                            }
                        ]
                    };
                    classChartoption && classChart.setOption(classChartoption);

                    var changeChartDom = document.getElementById('changeChart');
                    var changeChart = echarts.init(changeChartDom);
                    var changetitle = ['0年', '0-1年', '1-2年', '2-3年', '3年以上'];
                    var changedata = [data0, data1, data2, data3, data4]
                    var changeChartoption = {
                        xAxis: {
                            type: 'category',
                            data: changetitle,
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    type: 'solid',
                                    color: '#1898ED',
                                    width: '1'
                                }
                            },
                            axisLabel: {
                                interval: 0,
                                textStyle: {
                                    color: '#A2CAE1',
                                    fontSize: '13'
                                },
                            }
                        },
                        yAxis: {
                            type: 'value',
                            axisLabel: {
                                textStyle: {
                                    color: '#A2CAE1',
                                    fontSize: '13'
                                },

                            },
                            splitLine: {
                                lineStyle: {
                                    color: 'rgba(24, 152, 237, 0.17）',
                                    type: 'dashed'
                                }
                            },
                        },
                        grid: {
                            top: '30',
                            bottom: '30',
                            left: '80',
                            right: '20'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        series: [{
                            data: changedata,
                            label: {
                                show: true,
                                position: 'top'
                            },
                            type: 'bar',
                            barWidth: 20,
                            showBackground: true,
                            backgroundStyle: {
                                color: '#F4F8FB'
                            },
                        }]
                    };
                    changeChartoption && changeChart.setOption(changeChartoption);
                })
            };
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;

                //监听条件
                form.on("select(type)", function (data) {
                    listparam.WeiBaoSurplus = data.value;
                    getData();
                    first = false;
                    return false;
                });
            });
        })
    </script>
</body>

</html>