<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入设备名称" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入参数关键词" name="searchKey">
                            </div>
                            <!-- <div class="layui-inline layui-show-xs-block">
                                <select id="ServerCode" name="ServerCode" lay-filter="ServerCode">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <select id="AreaId" name="AreaId" lay-filter="AreaId">
                                    <option value="">请选择</option>
                                </select>
                            </div> -->
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>设备名称</th>
                                    <th>所属服务器</th>
                                    <th>所属区域</th>
                                    <th>参数</th>
                                </tr>
                            </thead>
                            <tbody id="allTable">
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{list.ServerName}}</td>
                                        <td>{{list.AreaName}}</td>
                                        <td>
                                        {{if list.DeviceLastDataArr}}
                                            {{each list.DeviceLastDataArr as x y}}
                                                <input type="checkbox" value="{{x.paramKey}}" id="choosebox{{list.id}}{{x.paramKey}}" lay-filter="checkone" title="{{x.paramKey}}" lay-skin="primary" data-id="{{list.id}}" data-name="{{list.DeviceName}}" {{if x.paramcheck==1}} checked {{/if}}> 
                                            {{/each}}
                                        {{else}}
                                            &nbsp;
                                        {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <label style="clear:both">已配置项</label>
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>设备名称</th>
                                    <th>已选参数</th>
                                </tr>
                            </thead>
                            <tbody id="chooseTable" class="chooseTable"></tbody>
                        </table>
                        <div class="layui-form-item">
                            <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit"
                                type="button">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetDeviceListKey";
        var form;
        var alldata = [];//所有数据
        var chooseid = [];//已选择属性的id，方便排除重复选择，提交数据
        var inputid = GetString("inputid");//返回值填充id
        var value = decodeURI(GetString("value"));//默认选中的值
        var one = decodeURI(GetString("one"));//允许选中的参数数量
        value = value.indexOf('paramKey') >= 0 ? value : '';//如果是自定义参数过来就默认未选
        $(function () {
            layui.use(["form"], function () {
                $ = layui.jquery;
                form = layui.form;
                if (value != '') {
                    chooseid = JSON.parse(value);
                }
                //初始化设备数据
                param.ComboBox = "all";
                list.info(url, param, function (r) {
                    alldata = r;
                    dealdata(r);
                    setTimeout(function () {
                        var html = template("listtemplate", r);
                        $("#allTable").html(html);
                        form.render();
                    }, 1000)
                });
                //服务器
                // getServer(form, function () {
                //     form.on("select(ServerCode)", function (data) {
                //         param.ServerCode = data.value;
                //         param.ComboBox = "all";
                //         delete (param['search']);
                //         getArea(form, data, function () {
                //             form.on("select(AreaId)", function (data) {
                //                 param.AreaId = data.value;
                //             })
                //         });
                //     });
                // });
                //监听搜索
                form.on("submit(search)", function (data) {
                    var search = data.field.search;
                    var searchKey = data.field.searchKey;
                    var newdata = {
                        'data': []
                    };
                    // console.log(alldata)
                    const originalDataArr = JSON.parse(JSON.stringify(alldata));
                    if (originalDataArr.length != 0) {
                        if (search && !searchKey) {//search是搜索设备  searchKey是搜索设备参数
                            newdata.data = originalDataArr.data.filter(function (element) {
                                return element.DeviceName.indexOf(search) >= 0;
                            });
                        } else if (!search && searchKey) {
                            newdata.data = originalDataArr.data.filter(function (element) {
                                let newarrr = element.DeviceLastDataArr.filter(function (ele) {
                                    return ele.paramKey.indexOf(searchKey) >= 0;
                                });
                                if (newarrr.length > 0) {
                                    element.DeviceLastDataArr = newarrr;
                                    return element
                                }
                            });
                        } else if (search && searchKey) {
                            newdata.data = originalDataArr.data.filter(function (element) {
                                let newarrr = element.DeviceLastDataArr.filter(function (ele) {
                                    return ele.paramKey.indexOf(searchKey) >= 0;
                                });
                                if (newarrr.length > 0 && element.DeviceName.indexOf(search) >= 0) {
                                    element.DeviceLastDataArr = newarrr;
                                    return element
                                }
                            });
                        } else {
                            newdata = originalDataArr;
                        }
                    }
                    newdata = dealDataCheck(newdata);
                    var html = template("listtemplate", newdata);
                    $("#allTable").html(html);
                    form.render();
                    return false;
                });
                //监听选择
                form.on('checkbox(checkone)', function (data) {
                    if (data.elem.checked) {
                        chooseOne(data.elem)
                    } else {
                        removeChoose('#choose' + $(data.elem).data('id') + $(data.elem).val());
                    }
                });
                //监听提交
                form.on("submit(submit)", function (data) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    $(window.parent.document).find('#' + inputid).val(JSON.stringify(chooseid));
                    if (window.parent.setParam) window.parent.setParam();//整点短信的参数配置项
                })
            });
        })
        //chooseid 有值数据搜索选中处理
        function dealDataCheck(data) {
            $.each(data.data, function (n, val) {
                $.each(val.DeviceLastDataArr, function (x, y) {
                    y.paramcheck = -1;
                    let hasCommonElement = chooseid.findIndex(n => y.paramKey == n.paramKey && val.id == n.id);
                    if (hasCommonElement !== -1) {
                        y.paramcheck = 1;
                    }
                });
            })
            return data;
        }
        //选择一项
        function chooseOne(obj) {
            var id = $(obj).data('id');
            var deviceName = $(obj).data('name');
            var paramKey = $(obj).val();

            if (chooseid.length != 0) {
                var next = true;
                $.each(chooseid, function (n, val) {
                    if (id == val.id && paramKey == val.paramKey) {
                        layer.msg('参数已存在', {
                            icon: 5,
                            time: 3000
                        });
                        next = false;
                        return;
                    }
                })
                if (!next) return false;
            }

            if (one && chooseid.length == 1) {
                layer.msg('只能选择一个参数', {
                    icon: 5,
                    time: 3000
                });
                $(obj).prop('checked', false);
                form.render("checkbox");
                return false;
            }

            var html = `<tr>
                <td width="70">
                    <a title="移除" onclick="removeChoose(this)" data-id="`+ id + `"  data-paramKey="` + paramKey + `" href="javascript:;" id="choose` + id + paramKey + `">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
                <td>`+ deviceName + `</td>
                <td>`+ paramKey + `</td>
            </tr>`;
            $('#chooseTable').append(html);
            chooseid.push({
                id: id,
                paramKey: paramKey
            });
            return chooseid;

        }
        //删除一项
        function removeChoose(obj) {
            $.each(chooseid, function (n, val) {
                if (val && $(obj).attr('data-id') == val.id && $(obj).attr('data-paramKey') == val.paramKey) {
                    chooseid.splice(n, 1);
                    $(obj).parents('tr').remove();
                    $('#choosebox' + val.id + val.paramKey).prop('checked', false);
                    form.render("checkbox");
                    return;
                }
            })
        }
        //数据处理
        function dealdata(r) {
            $.each(r.data, function (n, val) {
                val.DeviceLastDataArr = [];
                if (val.DeviceLastData) {
                    val.DeviceLastData = val.DeviceLastData.replace(/'/g, '"');
                    // console.log(JSON.parse(val.DeviceLastData))
                    var jsonarr = '';
                    try {
                        jsonarr = JSON.parse(val.DeviceLastData);
                    } catch {
                        console.log(val.DeviceLastData)
                    }
                    if (!jsonarr) return true;
                    for (var key in jsonarr) {
                        val.DeviceLastDataArr.push({
                            'paramKey': key,
                            'paramVal': jsonarr[key]
                        });
                    }
                    if (chooseid.length != 0) {
                        var html = '';
                        $.each(val.DeviceLastDataArr, function (x, y) {
                            y.paramcheck = -1;
                            $.each(chooseid, function (m, n) {
                                if (y.paramKey == n.paramKey && val.id == n.id) {
                                    y.paramcheck = 1;
                                    html += `<tr>
                                        <td width="70">
                                            <a title="移除" onclick="removeChoose(this)" data-id="`+ val.id + `"  data-paramKey="` + y.paramKey + `" href="javascript:;" id="choose` + val.id + y.paramKey + `">
                                                <i class="layui-icon">&#xe640;</i>
                                            </a>
                                        </td>
                                        <td>`+ val.DeviceName + `</td>
                                        <td>`+ y.paramKey + `</td>
                                    </tr>`;
                                    return;
                                }
                            })
                        });
                        $('#chooseTable').append(html);
                    }
                }
            })
        }
    </script>
</body>

</html>