<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" placeholder="请输入设备/事件关键词" name="search">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn search" lay-submit lay-filter="search" type="button">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form" id="test" lay-filter="test">
                            <thead>
                                <tr>
                                    <th>事件ID</th>
                                    <th>事件名称</th>
                                    <th>设备名称</th>
                                    <th>电话通知</th>
                                    <th>短信通知</th>
                                    <th>邮件通知</th>
                                    <th>语音通知</th>
                                    <th>报警用户</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr onclick="chooseOne(this)" data-id="{{list.id}}" data-AlarmKey="{{list.AlarmKey}}" data-DeviceName="{{list.DeviceName}}" data-PhoneNotify="{{list.PhoneNotify}}" data-NoiseNotify="{{list.NoiseNotify}}" data-SMSNotify="{{list.SMSNotify}}" data-EmailNotify="{{list.EmailNotify}}" data-PersonName="{{list.PersonName}}">
                                        <td>{{list.id}}</td>
                                        <td>{{list.AlarmKey}}</td>
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{if list.PhoneNotify==1}}启用{{else}}禁用{{/if}}</td>
                                        <td>{{if list.SMSNotify==1}}启用{{else}}禁用{{/if}}</td>
                                        <td>{{if list.EmailNotify==1}}启用{{else}}禁用{{/if}}</td>
                                        <td>{{if list.NoiseNotify==1}}启用{{else}}禁用{{/if}}</td>
                                        <td>{{list.PersonName}}</td>
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                        <label style="clear:both">已配置项</label>
                        <table class="layui-table layui-form chooseTable">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>事件ID</th>
                                    <th>事件名称</th>
                                    <th>设备名称</th>
                                    <th>电话通知</th>
                                    <th>短信通知</th>
                                    <th>邮件通知</th>
                                    <th>语音通知</th>
                                    <th>报警用户</th>
                                </tr>
                            </thead>
                            <tbody id="chooseTable"></tbody>
                        </table>
                        <div class="layui-form-item">
                            <button class="layui-btn x-right" id="submit" lay-submit lay-filter="submit"
                                type="button">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetAlarmTypeListKey";
        var form;
        var chooseid = [];//已选择属性的id，方便排除重复选择，提交数据
        var SlaveNotifyMode = GetString("SlaveNotifyMode");
        var MasterNotifyMode = GetString("MasterNotifyMode");
        var type = GetString("type");
        param.ComboBox = '1';
        $(function () {
            layui.use(["form", "table"], function () {
                $ = layui.jquery;
                form = layui.form;
                table = layui.table;

                if (SlaveNotifyMode) {
                    chooseid = SlaveNotifyMode.split(',');
                }

                //初始化数据
                // list.info(url, param, function (r) {
                //     dealdata(r);
                //     setTimeout(function(){
                //         var html = template("listtemplate", r);
                //         $("table:not('.chooseTable') tbody").html(html);
                //         form.render();
                //     },1000)
                // });
                let r = {
                    'data': []
                }
                var html = template("listtemplate", r);
                $("table:not('.chooseTable') tbody").html(html);
                form.render();

                if (chooseid.length != 0) {
                    $('#chooseTable').html('');
                    $.each(chooseid, function (m, n) {
                        //获取详情
                        list.info("GetAlarmTypeDetailKey", {
                            token: token,
                            id: n
                        }, function (res) {
                            var PhoneNotify = res.data.PhoneNotify == 1 ? '启用' : '禁用';
                            var SMSNotify = res.data.SMSNotify == 1 ? '启用' : '禁用';
                            var EmailNotify = res.data.EmailNotify == 1 ? '启用' : '禁用';
                            var NoiseNotify = res.data.NoiseNotify == 1 ? '启用' : '禁用';
                            var html = `<tr>
                                <td width="70">
                                    <a title="移除" onclick="removeChoose(this)" data-id="`+ n + `">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                </td>
                                <td>`+ res.data.id + `</td>
                                <td>`+ res.data.AlarmKey + `</td>
                                <td>`+ res.data.DeviceName + `</td>
                                <td>`+ PhoneNotify + `</td>
                                <td>`+ SMSNotify + `</td>
                                <td>`+ EmailNotify + `</td>
                                <td>`+ NoiseNotify + `</td>
                                <td>`+ res.data.PersonName + `</td>
                            </tr>`;
                            $('#chooseTable').append(html);
                        });
                    })
                }

                //监听提交
                form.on("submit(submit)", function (data) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    $(window.parent.document).find('#SlaveNotifyMode').val(String(chooseid));
                })

                //监听搜索
                form.on("submit(search)", function (data) {
                    param.search = data.field.search;
                    list.info(url, param, function (r) {
                        dealdata(r);
                        // setTimeout(function(){
                        //     $.each(r.data,function(n,val){
                        //         if(val && val.DeviceName.indexOf(data.field.search)>=0){
                        //             r.data.splice(n, 1);
                        //         }
                        //     })
                        var html = template("listtemplate", r);
                        $("table:not('.chooseTable') tbody").html(html);
                        form.render();
                        // },1000)
                    });
                    return false;
                });

            });
        })
        //数据处理
        function dealdata(r) {
            if (MasterNotifyMode) {
                var index = r.data.findIndex(i => i.id == MasterNotifyMode);
                r.data.splice(index, 1);
            }
            return r;
        }
        //选择一项
        function chooseOne(obj) {
            var id = $(obj).data('id');
            var AlarmKey = $(obj).data('alarmkey');
            var DeviceName = $(obj).data('devicename');
            var PhoneNotify = $(obj).data('phonenotify') == 1 ? '启用' : '禁用';
            var SMSNotify = $(obj).data('smsnotify') == 1 ? '启用' : '禁用';
            var EmailNotify = $(obj).data('emailnotify') == 1 ? '启用' : '禁用';
            var NoiseNotify = $(obj).data('noisenotify') == 1 ? '启用' : '禁用';
            var PersonName = $(obj).data('personname');
            if (chooseid.length != 0) {
                var next = true;
                $.each(chooseid, function (n, val) {
                    if (id == val) {
                        layer.msg('事件已存在', {
                            icon: 5,
                            time: 1000
                        });
                        next = false;
                        return;
                    }
                })
                if (!next) return false;
            }
            var html = `<tr>
                            <td>
                                <a title="移除" onclick="removeChoose(this)" data-id="`+ id + `" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                            <td>`+ id + `</td>
                            <td>`+ AlarmKey + `</td>
                            <td>`+ DeviceName + `</td>
                            <td>`+ PhoneNotify + `</td>
                            <td>`+ SMSNotify + `</td>
                            <td>`+ EmailNotify + `</td>
                            <td>`+ NoiseNotify + `</td>
                            <td>`+ PersonName + `</td>
                        </tr>`;
            $('#chooseTable').append(html);
            chooseid.push(id);
            return chooseid;
        }
        //删除一项
        function removeChoose(obj) {
            $(obj).parents('tr').remove();
            var index = chooseid.findIndex(i => i == $(obj).data('id'))
            chooseid.splice(index, 1);
        }
    </script>
</body>

</html>