<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    .parambox .layui-form-label {
        width: 115px;
    }
</style>

<body>
    <!-- <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>系统配置->参数配置->告警参数</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" hr ef="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div> -->
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>系统配置->系统信息</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn layui-btn-primary" href="system-parameter-platform.html">
                            平台设置
                        </a>
                        <a class="layui-btn" href="system-pushset-list.html">
                            推送配置
                        </a>
                        <a class="layui-btn layui-btn-primary" href="system-information-list.html">
                            系统信息
                        </a>
                        <a class="layui-btn layui-btn-primary" href="system-about-list.html">
                            关于我们
                        </a>
                    </div>
                    <form class="layui-form parambox" method="post" enctype="multipart/form-data" id="formNow">
                        <script type="text/html" id="detail">
                            <text class="text">推送配置</text>
                            <!-- <text class="text">告警参数</text>
                            <div class="layui-form-item paraminputbox">
                                <label class="layui-form-label">布防：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="DeployStatus" title="一键布防" value="1" lay-skin="primary" lay-filter="DeployStatus" {{if data.DeployStatus==1}}checked{{/if}}>
                                    <input type="radio" name="DeployStatus" title="一键撤防" value="0" lay-skin="primary" lay-filter="DeployStatus" {{if data.DeployStatus==0}}checked{{/if}}>
                                </div>
                            </div>
                            <div class="layui-form-item paraminputbox">
                                <label class="layui-form-label">告警模式：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="MasterSlave" title="主从" value="1" lay-skin="primary" lay-filter="MasterSlave" {{if data.MasterSlave==1}}checked{{/if}}>
                                    <input type="radio" name="MasterSlave" title="平级" value="0" lay-skin="primary" lay-filter="MasterSlave" {{if data.MasterSlave==0}}checked{{/if}}>
                                </div>
                            </div>
                            <div class="layui-form-item paraminputbox">
                                <label class="layui-form-label">告警取消通知：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="CancelNotify" title="开启" value="1" lay-skin="primary" lay-filter="CancelNotify" {{if data.CancelNotify==1}}checked{{/if}}>
                                    <input type="radio" name="CancelNotify" title="关闭" value="0" lay-skin="primary" lay-filter="CancelNotify" {{if data.CancelNotify==0}}checked{{/if}}>
                                </div>
                            </div> -->
                        <div class="layui-form-item paraminputbox">
                            <label class="layui-form-label">3D数据推送：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="pushData" title="推送" value="1" lay-skin="primary"
                                    lay-filter="pushData" {{if pushData==1}}checked{{/if}}>
                                <input type="radio" name="pushData" title="不推送" value="-1" lay-skin="primary"
                                    lay-filter="pushData" {{if pushData==-1}}checked{{/if}}>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-bottom: 20px;">
                            <label class="layui-form-label">3D推送地址：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" placeholder="输入格式：127.0.0.1:80" name="pushAddr" type="text"
                                    lay-filter="pushAddr" id="pushAddr" value="{{pushAddr}}">
                            </div>
                        </div>
                        <div class="layui-form-item paraminputbox">
                            <label class="layui-form-label">门楣屏推送：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="DoorPush" title="推送" value="1" lay-skin="primary"
                                    lay-filter="DoorPush" {{if DoorPush==1}}checked{{/if}}>
                                <input type="radio" name="DoorPush" title="不推送" value="-1" lay-skin="primary"
                                    lay-filter="DoorPush" {{if DoorPush==-1}}checked{{/if}}>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-bottom: 20px;">
                            <label class="layui-form-label">门楣屏推送地址：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" placeholder="输入格式：127.0.0.1:80" name="DoorPushAddr"
                                    type="text" lay-filter="DoorPushAddr" id="DoorPushAddr" value="{{DoorPushAddr}}">
                            </div>
                        </div>
                        <!-- <div class="layui-form-item" style="margin-bottom: 20px;">
                                <label class="layui-form-label">告警播报方式：</label>
                                <div class="layui-input-inline">
                                    <select id="EventType" lay-filter="EventType" name="EventType">
                                        <option value="1">事件播报</option>
                                        <option value="2">内置语音播报</option>
                                    </select>
                                </div>
                            </div> -->
                        <!-- <div class="parambottom">
                                <input type="checkbox"  name="event" title="启用告警自动弹出事件栏" lay-skin="primary" lay-filter="event" {{if data.event==1}}checked{{/if}}>
                                {{if dcim==-1}}
                                <input type="checkbox"  name="massage" title="启用消息自动弹出消息栏" lay-skin="primary" lay-filter="massage" {{if data.massage==1}}checked{{/if}}>
                                {{/if}}
                            </div> -->
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;

                list.info('GetAlarmParamKey', {
                    token: token,
                    id: 1
                }, function (r) {
                    r.dcim = dm;
                    list.info('GetLogoKey', {
                        token: token
                    }, function (res) {
                        // r.dcim = res.data[0].dcim;
                        r.pushData = res.data[0].pushData;
                        r.DoorPush = res.data[0].DoorPush;
                        console.log(r.pushData);
                        
                        console.log(r.DoorPush);
                        
                        r.pushAddr = res.data[0].pushAddr;
                        r.DoorPushAddr = res.data[0].DoorPushAddr;
                        var html = template("detail", r);
                        $("#formNow").html(html);

                        // console.log(type)
                        // let typetxt = r.data.EventType == '1' ? '事件播报' : '内置语音播报';
                        // layuiSelected("EventType", typetxt);
                        form.render();
                        form.on("radio(pushData)", function (data) {
                            setpushParam();
                        });
                        form.on("radio(DoorPush)", function (data) {
                            setpushParam();
                        });
                        $('#pushAddr').blur(function () {
                            setpushParam();
                        });
                        $('#DoorPushAddr').blur(function () {
                            setpushParam();
                        });
                    })
                })
            })
        })
        //告警参数
        function setParam() {
            var strformData = new FormData($("#formNow")[0]);
            // var event = strformData.get("event");
            // var massage = strformData.get("massage");
            strformData.delete("pushData");
            strformData.delete("DoorPush");
            // strformData.delete("event");
            // strformData.delete("massage");
            strformData.delete("pushAddr");
            strformData.delete("DoorPushAddr");
            strformData.append("token", token);
            strformData.append("id", 1);
            // strformData.append("event", event == 'on' ? 1 : -1);
            // strformData.append("massage", massage == 'on' ? 1 : -1);
            list.form("ChangeAlarmParamKey", strformData, function (r) { });
        }
        function setpushParam() {
            var strformData = new FormData($("#formNow")[0]);
            var pushData = strformData.get("pushData");
            var DoorPush = strformData.get("DoorPush");
            strformData.append("token", token);
            list.form("ChangePlatKey", strformData, function (r) { });
        }
    </script>
</body>

</html>