<!-- 权限管理 -->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/head.js"></script>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>系统配置->权限管理</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <button class="layui-btn x-right add_" onclick="xadmin.open('新增','system-power-add.html')">
                            <i class="layui-icon"></i>新增
                        </button>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>角色</th>
                                    <th>菜单权限</th>
                                    <th>动环权限</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <script type="text/html" id="listtemplate">
                                    {{if data.info.length>1}}
                                        {{each data.info as list i}}
                                        {{if list}}
                                        <tr>
                                            <td width="120">{{list.role_name}}</td>
                                            <td>{{list.menutext}}</td>
                                            <td>{{list.pagetext}}</td>
                                            <td width="150">{{list.create_time}}</td>
                                            <td width="150">{{list.update_time}}</td>
                                            <td  class="td-manage">
                                                {{if list.role_name!="门禁权限组" && list.role_name!="超级管理员" }}
                                                <a title="编辑" class="detail_" onclick="xadmin.open('编辑','system-power-edit.html?id={{list.id}}')" href="javascript:;">
                                                    <i class="layui-icon">&#xe642;</i>
                                                </a>
                                                <a title="删除" onclick="x_admin_del('确认删除吗？','DelRole','{{list.id}}',this)" href="javascript:;">
                                                    <i class="layui-icon">&#xe640;</i>
                                                </a>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td colspan="10" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                    {{/if}}
                                </script>
                        </table>
                        <div id="bottomPaging" class="x-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var listurl = 'RoleList';
    var form = '';
    var menuall, pageall,personall;

    $(function () {
        layui.use('form', function () {
            form = layui.form;
            $.ajaxSettings.async = false;
            //菜单
            list.info('MenuList', {
                token: token
            }, function (res) {
                menuall = res.data;
            });
            list.info('GetDmpageListKey', {
                token: token,
                ComboBox: 'all'
            }, function (res) {
                pageall = res.data;
            });
            $.ajaxSettings.async = true;
            list.get(listurl, param, dealdata);

            //搜索
            form.on("submit(search)", function (data) {
                param.p = 1;
                param.search = data.field.name;
                list.get(listurl, param, dealdata);
                //权限
                return false;
            });
        });
    });

    //权限
    function dealdata(r) {
        $.each(r.data.info, function (n, val) {
            if (val.id != 1) {
                val.menutext = '';
                val.pagetext = '';
                var menuscheck = [];
                var pagecheck = [];
                if (val.role_menus !== undefined && val.role_menus !== null && val.role_menus !== '') {
                    menuscheck = String(val.role_menus).split(',').map(function (v) {
                        return $.trim(String(v));
                    }).filter(function (v) {
                        return v !== '';
                    });
                }
                if (val.role_dmpage !== undefined && val.role_dmpage !== null && val.role_dmpage !== '') {
                    pagecheck = String(val.role_dmpage).split(',').map(function (v) {
                        return $.trim(String(v));
                    }).filter(function (v) {
                        return v !== '';
                    });
                }
                $.each(menuall, function (x, y) {
                    //菜单
                    if (menuscheck.indexOf(String(y.id)) > -1) {
                        val.menutext += y.menu_name + '、';
                    }
                    if (y.children && y.children.length != 0) {
                        $.each(y.children, function (a, b) {
                            if (menuscheck.indexOf(String(b.id)) > -1) {
                                val.menutext += y.menu_name + '-' + b.menu_name + '、';
                            }
                        });
                    }

                });

                $.each(pageall, function (x, y) {
                    //东环
                    if (pagecheck.indexOf(String(y.id)) > -1) {
                        val.pagetext += y.PageName + '、';
                    }
                    if (y.children && y.children.length != 0) {
                        $.each(y.children, function (a, b) {
                            if (pagecheck.indexOf(String(b.id)) > -1) {
                                val.pagetext += y.PageName + '-' + b.PageName + '、';
                            }
                            if (b.children && b.children.length != 0) {
                                $.each(b.children, function (m, n) {
                                    if (pagecheck.indexOf(String(n.id)) > -1) {
                                        val.pagetext += y.PageName + '-' + b.PageName + '-' + n.PageName + '、';
                                    }
                                });
                            }
                        });
                    }
                })
                if (val.menutext) val.menutext = val.menutext.substring(0, val.menutext.length - 1);
                if (val.pagetext) val.pagetext = val.pagetext.substring(0, val.pagetext.length - 1);
            } else {
                // delete r.data.info[n]
                val.menutext = '全部权限';
                val.pagetext = '全部权限';
            }
        });
    }


    //分页回调
    function pagechange(curr) {
        param.pageNo = curr;
        list.get(listurl, param, dealdata);
    }
</script>

</html>
