<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <a class="layui-btn layui-btn-primary" href="system-parameter-list.html">
              告警参数
            </a>
            <a class="layui-btn layui-btn-primary" href="sms-deployment-list.html">
              事件关系
            </a>
            <a class="layui-btn layui-btn-primary" href="donghuan-eventlevel-list.html">
              事件等级
            </a>
            <a class="layui-btn" href="system-parameter-sms.html">
              短信/语音/邮件
            </a>
            <a class="layui-btn layui-btn-primary" href="sms-query-list.html">
              短信查询定义
            </a>
            <a class="layui-btn layui-btn-primary" href="sms-control-list.html">
              短信控制定义
            </a>
            <a class="layui-btn layui-btn-primary" href="system-masterslave-list.html">
              主从模式
            </a>
            <a class="layui-btn layui-btn-primary" href="donghuan-timealert-list.html">
              时段告警配置
            </a>
          </div>
          <form class="layui-form " method="post" enctype="multipart/form-data" id="formNow">
            <script type="text/html" id="detail">
            <div class="parambox">
              <div class="text">整点短信</div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item parambottom">
                    <input type="checkbox" name="SmsOnhourAlarm" title="系统整点短信报告" lay-skin="primary"
                      lay-filter="SmsOnhourAlarm" {{if data.SmsOnhourAlarm==1}}checked{{/if}}>
                  </div>
                </div>
              </div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item">
                    <label class="layui-form-label">
                      内容短信
                    </label>
                    <div class="layui-input-inline">
                      <select id="SmsContent" name="SmsContent" lay-filter="SmsContent">
                        <option value="">请选择</option>
                        <option value="1" {{if data.SmsContent==1}}selected{{/if}}>告警数量</option>
                        <option value="2" {{if data.SmsContent==2}}selected{{/if}}>详细报警信息</option>
                        <option value="3" {{if data.SmsContent==3}}selected{{/if}}>定制内容</option>
                        <option value="4" {{if data.SmsContent==4}}selected{{/if}}>参数</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md7">
                  <div class="layui-form-item">
                    <label class="layui-form-label">定制内容</label>
                    <div class="layui-input-inline">
                      <input type="text" id="SmsCustomContent" name="SmsCustomContent" placeholder="请输入内容"
                        autocomplete="off" class="layui-input" value="{{data.SmsCustomContent}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item">
                    <label class="layui-form-label">目标手机</label>
                    <div class="layui-input-inline">
                      <textarea placeholder="请输入手机号，如：152XXX/152XXX,150XXX" id="SmsTargetPhone" name="SmsTargetPhone"
                        class="layui-textarea">{{data.SmsTargetPhone}}</textarea>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md7">
                  <div class="layui-form-item">
                    <label class="layui-form-label">时间点</label>
                    <div class="layui-input-inline">
                      <input type="text" id="SmsTime" value="{{data.SmsTime}}" name="SmsTime"
                        placeholder="请输入整点，如：16/15,16" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-row">
                <div class="layui-col-md12">
                  <div class="layui-form-item">
                    <label class="layui-form-label">参数ID</label>
                    <div class="layui-input-inline">
                      <textarea placeholder="请选择参数" id="ParamId" name="SmsParamId"
                        class="layui-textarea">{{data.SmsParamId}}</textarea>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                      <a class="layui-btn"
                        onclick="xadmin.open('选择参数','report-tableparam-choose.html?inputid=ParamId&value='
                        +encodeURI(encodeURI($('#ParamId').val())))">选择参数</a>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                      <a class="layui-btn"
                        onclick="xadmin.open('选择自定义参数','report-tableparam-chooseparam.html?inputid=ParamId&multi=true&value='
                        +encodeURI(encodeURI($('#ParamId').val())))">选择自定义参数</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="parambox">
              <div class="text">整点电话</div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item parambottom">
                    <input type="checkbox" name="TelOnhourAlarm" title="系统整点电话报告" lay-skin="primary"
                      lay-filter="TelOnhourAlarm" {{if data.TelOnhourAlarm==1}}checked{{/if}}>
                  </div>
                </div>
              </div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item">
                    <label class="layui-form-label">目标手机</label>
                    <div class="layui-input-inline">
                      <textarea placeholder="请输入手机号，如：152XXX/152XXX,150XXX" id="TelTargetPhone" name="TelTargetPhone"
                        class="layui-textarea">{{data.TelTargetPhone}}</textarea>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md7">
                  <div class="layui-form-item">
                    <label class="layui-form-label">时间点</label>
                    <div class="layui-input-inline">
                      <input type="text" id="TelTime" value="{{data.TelTime}}" name="TelTime"
                        placeholder="请输入整点，如：16/15,16" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="parambox">
              <div class="text" style="width: 120px;">邮件服务器配置</div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item">
                    <label class="layui-form-label">Smtp地址</label>
                    <div class="layui-input-inline">
                      <input type="text" id="Smtp" value="{{data.Smtp}}" name="Smtp" placeholder="请输入正确的Smtp地址"
                        autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
                <div class="layui-col-md7">
                  <div class="layui-form-item">
                    <label class="layui-form-label">发件人邮箱账号</label>
                    <div class="layui-input-inline">
                      <input type="text" id="SmAccount" value="{{data.SmAccount}}" name="SmAccount" placeholder="请输入账号"
                        autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-row">
                <div class="layui-col-md5">
                  <div class="layui-form-item">
                    <label class="layui-form-label">发件人邮箱密码</label>
                    <div class="layui-input-inline">
                      <input type="text" id="SmPass" value="{{data.SmPass}}" name="SmPass" placeholder="请输入密码"
                        autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </script>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function () {
      layui.use(["form"], function () {
        $ = layui.jquery;
        var form = layui.form;

        list.info('GetAlarmParamKey', {
          token: token,
          id: 1
        }, function (r) {
          var html = template("detail", r);
          $("#formNow").html(html);
          form.render();
          //监听定制内容
          $('input[name=SmsCustomContent]').on('change', function (data) {
            setParam()
          })
          //监听系统整点短信
          form.on("checkbox(SmsOnhourAlarm)", function (data) {
            setParam()
          });
          //监听内容短信
          form.on("select(SmsContent)", function (data) {
            setParam()
          });
          //监听时间点
          $('input[name=SmsTime]').on('change', function (data) {
            setParam()
          })
          //监听目标手机SmsTargetPhone
          $('textarea[name=SmsTargetPhone]').on('change', function (data) {
            setParam()
          })
          //监听参数id
          $('textarea[name=SmsParamId]').on('change', function (data) {
            setParam()
          })
          //监听系统整点电话
          form.on("checkbox(TelOnhourAlarm)", function (data) {
            setParam()
          });
          //监听时间点
          $('input[name=TelTime]').on('change', function (data) {
            setParam()
          })
          //监听目标手机TelTargetPhone
          $('textarea[name=TelTargetPhone]').on('change', function (data) {
            setParam()
          })
          //监听smtp,邮箱账号,邮箱密码
          $('input[name=Smtp],input[name=SmAccount],input[name=SmPass]').on('change', function (data) {
            setParam()
          })
        })
      })
    })
    //告警参数
    function setParam() {
      var strformData = new FormData($("#formNow")[0]);
      var SmsOnhourAlarm = strformData.get("SmsOnhourAlarm");
      var TelOnhourAlarm = strformData.get("TelOnhourAlarm");
      strformData.delete("SmsOnhourAlarm");
      strformData.delete("TelOnhourAlarm");
      strformData.append("token", token);
      strformData.append("id", 1);
      strformData.append("SmsOnhourAlarm", SmsOnhourAlarm == 'on' ? 1 : 0);
      strformData.append("TelOnhourAlarm", TelOnhourAlarm == 'on' ? 1 : 0);
      list.form("ChangeAlarmParamKey", strformData, function (r) { });
    }
  </script>
</body>

</html>