<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">供应商名称<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="SupplierName" value="{{data.SupplierName}}" name="SupplierName" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">注册地址及电话</label>
                        <div class="layui-input-inline">
                            <input type="text" id="SupplierAddress" value="{{data.SupplierAddress}}" name="SupplierAddress" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">开户行及账号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="BankAccount" value="{{data.BankAccount}}" name="BankAccount" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人及电话1</label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone1" value="{{data.phone1}}" name="phone1" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人及电话2</label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone2" value="{{data.phone2}}" name="phone2" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人及电话3</label>
                        <div class="layui-input-inline">
                            <input type="text" id="phone3" value="{{data.phone3}}" name="phone3" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">开户许可证</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" value="{{data.SupplierLicence}}" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="{{data.SupplierLicence}}" name="SupplierLicence" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.SupplierLicence}}">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="{{data.SupplierLicence}}" id="ViewImg" {{if !data.SupplierLicence}} style="display:none" {{/if}}>预览
                            <img src="{{data.SupplierLicence}}" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.SupplierLicence}} style="display:none" {{/if}}>清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">企业证件照</label>
                        <div class="layui-input-inline">
                            <input type="text" id="FileImg" value="{{data.SupplierPhoto}}" autocomplete="off" class="layui-input" readonly>
                            <input id="BaseImg" type="hidden" value="{{data.SupplierPhoto}}" name="SupplierPhoto" >
                        </div>
                        <a class="layui-btn">
                            <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.SupplierPhoto}}">
                            选择文件
                        </a>
                        <a class="layui-btn-warm layui-btn fancybox-view" href="{{data.SupplierPhoto}}" id="ViewImg" {{if !data.SupplierPhoto}} style="display:none" {{/if}}>预览
                            <img src="{{data.SupplierPhoto}}" alt="">
                        </a>
                        <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.SupplierPhoto}} style="display:none" {{/if}}>清空</a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function(){
            var id = GetString("id");

            //获取详情
            list.info("GetSupplierDetailKey", {
                token: token,
                id: id
            }, function (r) {
                if(r.data.SupplierLicence && r.data.SupplierLicence.indexOf('http')<0){
                    r.data.SupplierLicence=imgUrl+r.data.SupplierLicence;
                }
                if(r.data.SupplierPhoto && r.data.SupplierPhoto.indexOf('http')<0){
                    r.data.SupplierPhoto=imgUrl+r.data.SupplierPhoto;
                }
                var html = template("detail", r);
                $("#formNow").html(html);
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    //预览图片
                    fnFancyBox('.fancybox-view');
                     //监听提交
				    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        list.form("ChangeSupplierKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });	
        })
    </script>
</body>

</html>