<!DOCTYPE html>
<html style="min-width:auto;">

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    .layui-layer-page .layui-layer-content {
        position: relative;
        overflow: hidden;
        height: 155px !important;
        margin: 10px 10px 0px 10px;
    }

    .layui-layer-page {
        z-index: 19891015;
        width: 300px !important;
        height: 225px !important;
        position: fixed;
        top: 15px !important;
        left: 115px !important;
    }

    .video-container {
        position: relative;
    }

    .video-container video {
        width: 100%;
        height: auto;
    }

    .video-container .arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(168, 168, 168);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .video-container .arrow-button-left {
        left: 10px;
    }

    .video-container .arrow-button-right {
        right: 10px;
    }

    .video-buttom {
        height: 30px;
        line-height: 30px;
        color: #fff !important;
        border-color: #535151;
        border-radius: 50%;
        padding: 0 10px !important;
    }

    .PNsp {
        top: 35% !important;
    }

    .fancybox-nav {
        top: 23%;
        height: 35%;
    }
</style>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    <th>报警来源</th>
                                    <th>报警事件</th>
                                    <th>报警时间</th>
                                    <th>影像</th>
                                </tr>
                            </thead>
                            <tbody>
                                <script type="text/html" id="listtemplate">
                                    {{if data.length!=0}} {{each data as list i}}
                                    <tr class="
                                            {{if list.AlarmLevel==1}}
                                            level1color
                                            {{else if list.AlarmLevel==2}}
                                            level2color
                                            {{else if list.AlarmLevel==3}}
                                            level3color
                                            {{else if list.AlarmLevel==4}}
                                            level4color
                                            {{else if list.AlarmLevel==5}}
                                            level5color
                                            {{/if}}
                                        ">
                                        <td>{{list.DeviceName}}</td>
                                        <td>{{if list.TextMessage}}{{list.TextMessage.split(',')[2]}}{{else}}{{list.TypeName}}{{/if}}</td>
                                        <!-- <td>{{list.update_time}}</td> -->
                                        <td>{{if list.TextMessage}}
                                            {{list.create_time.split('-')[0]}}-{{(list.TextMessage.split(',')[4]).replace('月','-').replace('日',' ')}}
                                            {{else}}
                                            {{list.update_time}}
                                            {{/if}}
                                        </td>
                                        {{if list.VideoImgArr && list.VideoImgArr.length>0 || list.VideoUrlArr && list.VideoUrlArr.length>0}}
                                        <td>
                                            {{if list.VideoImgArr && list.VideoImgArr.length>0}}
                                                {{each list.VideoImgArr as m n}}
                                                {{if m}}
                                                <a href="{{m}}" rel="group{{list.id}}" class="fancybox-view layui-icon layui-icon-picture" {{if n>0}}style="display:none"{{/if}}></a>
                                                {{/if}}
                                                {{/each}}
                                            {{/if}}
                                            {{if list.VideoUrlArr && list.VideoUrlArr.length>0}}
                                                {{each list.VideoUrlArr as v n}}
                                                {{if v}}
                                                <a href="javascript:;" rel="group{{list.id}}" class="fancybox-view layui-icon layui-icon-video" onclick="openVideo({{list.VideoUrlArrJson}})" {{if n > 0}}style="display:none"{{/if}}></a>
                                                {{/if}}
                                                {{/each}}
                                            {{/if}}
                                        </td>
                                        {{else}}
                                        <td>-</td>
                                        {{/if}}
                                    </tr>
                                    {{/each}} {{else}}
                                    <tr>
                                        <td colspan="20" style="text-align: center">暂无相关数据</td>
                                    </tr>
                                    {{/if}}
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetRealAlarmsKey";
        var form;
        $(function () {
            // window.speechSynthesis.cancel();
            param.type = '1';
            layui.use(["form"], function () {
                $ = layui.jquery;
                form = layui.form;
                //初始化数据
                param.ComboBox = "all";
                list.info(url, param, function (r) {

                    listTodealAndShow(r);

                    //比较上次播报时间
                    let uptxtTime = localStorage.getItem('txtTime') || '';
                    let txtWord = '';
                    if (uptxtTime) {
                        $.each(r.data, function (n, val) {
                            if (val.TextMessage && parseInt(new Date(val.create_time).getTime()) > uptxtTime) {
                                txtWord += trimSpecial(val.TextMessage) + ';';
                            }
                        })
                    } else {
                        // $.each(r.data,function(n,val){
                        //     if(val.TextMessage){
                        //         txtWord+=trimSpecial(val.TextMessage)+';';
                        //     }
                        // })
                        txtWord += trimSpecial(r.data[0].TextMessage)
                    }
                    //是否静音
                    var voiceBtn = true;
                    if ($(window.parent.document.getElementById('open')).css('display') == 'none') {
                        voiceBtn = false;
                    }
                    if (voiceBtn) {
                        // speak(trimSpecial(arr[0]+arr[1]+timestr));
                        let alramPlayWay = localStorage.getItem('alramPlayWay') || 'event';
                        if (alramPlayWay == 'event') {
                            // speak(trimSpecial(r.data[0].TextMessage))
                            speak(txtWord);
                        } else {
                            // alert('images/btn.mp3')
                            setTimeout(function () {
                                console.log('音频替换播放')
                                $(window.top.document).find('embed').remove();
                                $(window.top.document).find('.body-bg').append(`<embed src="images/alarm.mp3" autostart="true" hidden="true" loop="false" class = "btn-bgm">`);
                                setTimeout(function () {
                                    $(window.top.document).find('embed').remove();
                                }, 4000)
                            }, 1100)
                        }
                    }
                    //存储本次播报时间
                    let txtTime = parseInt(new Date(r.data[0].create_time).getTime());
                    localStorage.setItem('txtTime', txtTime);
                });
            });
        });
        //列表数据返回处理与展示
        function listTodealAndShow(r) {
            r.dcim = dm;
            $.each(r.data, function (n, val) {
                console.log(val);

                val.VideoImgArr = [];//联动截图数组
                val.VideoUrlArr = []; // 视频URL数组
                if (val.VideoImg) {
                    val.VideoImgArr = val.VideoImg.split(',').filter(Boolean);
                }
                if (val.VideoMP4) {
                    val.VideoUrlArr = val.VideoMP4.split(',').filter(Boolean);
                }
                val.VideoUrlArrJson = JSON.stringify(val.VideoUrlArr);
            })
            var html = template("listtemplate", r);
            $("table tbody").html(html);
            fnFancyBox('.fancybox-view');
        }
        let currentVideoIndex = 0;
        let videoUrls = [];

        function openVideo(videoUrlsParam) {
            if (typeof videoUrlsParam === 'string') {
                try {
                    videoUrls = JSON.parse(videoUrlsParam);
                } catch (e) {
                    console.error('解析 JSON 字符串失败:', e);
                    layer.msg('解析视频URL失败', { icon: 5, time: 1000 });
                    return;
                }
            } else {
                videoUrls = videoUrlsParam;
            }

            if (!Array.isArray(videoUrls) || videoUrls.length === 0) {
                layer.msg('没有可用的视频', { icon: 5, time: 1000 });
                return;
            }

            currentVideoIndex = 0; // 初始化当前视频索引
            showCurrentVideo();
        }

        function showCurrentVideo() {
            let videoContent = `
                <div style="position: relative;">
                    <video width="100%" height="auto" controls>
                        <source src="${videoUrls[currentVideoIndex]}" type="video/mp4">
                        您的浏览器不支持 video 标签。
                    </video>
                    <a class="fancybox-nav fancybox-prev" onclick="prevVideo()" href="javascript:;"><span class="PNsp"></span></a>
                    <a class="fancybox-nav fancybox-next" onclick="nextVideo()" href="javascript:;"><span class="PNsp"></span></a>
                </div>
            `;

            // 打开模态框
            layer.open({
                type: 1,
                title: '视频播放',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '465px'],
                content: videoContent,
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
        }

        function nextVideo() {
            currentVideoIndex = (currentVideoIndex + 1) % videoUrls.length;
            layer.closeAll(); // 关闭当前视频
            showCurrentVideo();
        }

        function prevVideo() {
            currentVideoIndex = (currentVideoIndex - 1 + videoUrls.length) % videoUrls.length;
            layer.closeAll(); // 关闭当前视频
            showCurrentVideo();
        }
        // speak(trimSpecial('[动环监控]210-通信机房区域,210通信机房3号漏水检测,断线设备连接异常,一般报警,09月11日12:21:27,当前值:1.00'))
        //郎读文字
        function speak(textToSpeak) {
            if (!('speechSynthesis' in window)) {
                console.log('您的浏览器不支持语音合成！');
            } else {
                // 检查是否已授权
                if (!speechSynthesis.getVoices().length) {
                    // console.log(speechSynthesis.getVoices().length);
                    console.log('再次尝试获取播报权限。');
                    setTimeout(() => {
                        if (speechSynthesis.getVoices().length > 0) {
                            // voices = speechSynthesis.getVoices();
                            // console.log('可用语音列表:', voices);
                            // 执行语音播报
                            txtPlay(textToSpeak);
                        } else {
                            console.log('可用语音列表为0');
                        }
                    }, 1000);
                } else {
                    txtPlay(textToSpeak);
                }
            }
        }
        // 执行语音播报
        function txtPlay(textToSpeak) {
            var synth = window.speechSynthesis;
            var u = new SpeechSynthesisUtterance();
            //汉语
            u.lang = 'zh-CN';
            u.rate = 1;
            u.text = textToSpeak;
            synth.speak(u);
        }
        //去掉所有特殊字符
        function trimSpecial(string) {
            //替换字符串中的所有特殊字符（包含空格）
            if (string != "") {
                // const pattern=/[`~!@#$^\-&*()=|{}';',\\\[\]<>\/?~！@#￥……&*（）——|{}【】'；：""'。，、？\s]/g;
                const pattern = /[\-\[\]]/g;
                string = string.replace(pattern, "");
            }
            return string;
        }
    </script>
</body>

</html>