<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .host,
        .spare {
            display: none;
        }

        .Select {
            margin-top: 25px;
        }

        .layui-input {
            margin: 0 15px;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn layui-btn-primary" href="system-parameter-list.html">
                            告警参数
                        </a>
                        <a class="layui-btn layui-btn-primary" href="sms-deployment-list.html">
                            事件关系
                        </a>
                        <a class="layui-btn layui-btn-primary" href="donghuan-eventlevel-list.html">
                            事件等级
                        </a>
                        <a class="layui-btn layui-btn-primary" href="system-parameter-sms.html">
                            短信/语音/邮件
                        </a>
                        <a class="layui-btn layui-btn-primary" href="sms-query-list.html">
                            短信查询定义
                        </a>
                        <a class="layui-btn layui-btn-primary" href="sms-control-list.html">
                            短信控制定义
                        </a>
                        <a class="layui-btn" href="system-masterslave-list.html">
                            主从模式
                        </a>
                        <a class="layui-btn layui-btn-primary" href="donghuan-timealert-list.html">
                            时段告警配置
                        </a>
                    </div>
                    <form class="layui-form parambox" id="formNow">
                        <script type="text/html" id="detail">
                        <text class="text">主从模式</text>
                        <div class="layui-form-item paraminputbox">
                            <label class="layui-form-label">主从模式：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="MasterSlaveOpen" title="开启" value="2"
                                    lay-filter="MasterSlaveOpen" {{if MasterSlaveOpen==2}}checked{{/if}}>
                                <input type="radio" name="MasterSlaveOpen" title="关闭" value="1"
                                    lay-filter="MasterSlaveOpen" {{if MasterSlaveOpen==1}}checked{{/if}}>
                            </div>
                        </div>
                        <div class="layui-form-item paraminputbox">
                            <label class="layui-form-label">主从关系：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="MasterSlaveRelation" title="主机" value="1"
                                    lay-filter="MasterSlaveRelation" {{if MasterSlaveRelation==1}}checked{{/if}}>
                                <input type="radio" name="MasterSlaveRelation" title="从机" value="2"
                                    lay-filter="MasterSlaveRelation" {{if MasterSlaveRelation==2}}checked{{/if}}>
                            </div>
                        </div>
                        <div class="layui-form-item spare paraminputbox" {{if MasterSlaveRelation==2}}
                            style="display: block;" {{/if}}>
                            <label class="layui-form-label">主机地址：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="MasterIp" type="text" value="{{MasterIp}}"
                                    placeholder="输入格式：127.0.0.1" lay-filter="MasterIp" id="MasterIp">
                            </div>
                        </div>
                        <div class="layui-form-item spare paraminputbox" {{if MasterSlaveRelation==2}}
                            style="display: block;" {{/if}}>
                            <label class="layui-form-label">备用机地址：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="MasterSpareIp" type="text" value="{{MasterSpareIp}}"
                                    placeholder="输入格式：127.0.0.1" lay-filter="MasterSpareIp" id="MasterSpareIp">
                            </div>
                        </div>
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                list.info('GetLogoKey', {
                    token: token
                }, function (res) {
                    var html = template("detail", res.data[0]);
                    $("#formNow").html(html);
                    form.render();
                    form.on('radio(MasterSlaveRelation)', function (data) {
                        if (data.value === "2") {
                            $(".spare").show();
                        } else {
                            $(".spare").hide();
                        }
                        // if (data.value === "2") {
                        //     $(".host").show().siblings().hide();
                        // }
                        dealData()
                    });
                    form.on("radio(MasterSlaveOpen)", function (data) {
                        dealData()
                    });
                    $('#MasterIp,#MasterSpareIp').blur(function () {
                        dealData()
                    });
                })
            })
        })
        //数据提交
        function dealData() {
            var strformData = new FormData($("#formNow")[0]);
            strformData.append("token", token);
            list.form("ChangePlatKey", strformData, function (r) { });
        }
    </script>
</body>

</html>