<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称<span class="x-red">*</span></label>
                    <div class="layui-input-inline">
                        <input type="text" id="EventName" value="{{data.EventName}}" name="EventName"
                            lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" id="KeyWord" value="{{data.KeyWord}}" name="KeyWord" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        故障类型<span class="x-red">*</span>
                    </label>
                    <div class="layui-input-inline">
                        <select id="FaultTypeId" name="FaultTypeId" lay-verify="required" lay-filter="FaultTypeId">
                            <option value="">请选择故障类型</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        故障子类型<span class="x-red">*</span>
                    </label>
                    <div class="layui-input-inline">
                        <select id="FaultSubTypeLsh" name="FaultSubTypeLsh" lay-verify="required" lay-filter="FaultSubTypeLsh">
                            <option value="">请选择故障子类型</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">解决方案</label>
                    <div class="layui-input-block">
                        <textarea name="FaultSolution" id="FaultSolution" class="layui-textarea">{{data.FaultSolution}}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">附件</label>
                    <div class="layui-input-inline">
                        <input type="text" id="FileImg" value="{{data.KnowledgeFile}}" autocomplete="off" class="layui-input" readonly>
                        <input id="BaseImg" type="hidden" value="{{data.KnowledgeFile}}" name="KnowledgeFile" >
                    </div>
                    <a class="layui-btn">
                        <input type="file" class="layui-btn" onchange="uploadImg(this)" accept="image/*" value="{{data.KnowledgeFile}}">
                        选择文件
                    </a>
                    <a class="layui-btn-warm layui-btn fancybox-view" href="{{data.KnowledgeFile}}" id="ViewImg" {{if !data.KnowledgeFile}} style="display:none" {{/if}}>预览
                        <img src="{{data.KnowledgeFile}}" alt="">
                    </a>
                    <a class="layui-btn-danger layui-btn" id="CleanImg" onclick="CleanImg(this)" {{if !data.KnowledgeFile}} style="display:none" {{/if}}>清空</a>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remark" id="remark" class="layui-textarea">{{data.remark}}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var id = GetString("id");
            //获取详情
            list.info("GetKnowledgeBaseDetailKey", {
                token: token,
                id: id
            }, function (r) {
                if(r.data.KnowledgeFile && r.data.KnowledgeFile.indexOf('http')<0){
                    r.data.KnowledgeFile=imgUrl+r.data.KnowledgeFile;
                }
                var html = template("detail", r);
                $("#formNow").html(html);
                //预览图片
                fnFancyBox('.fancybox-view');
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    param.ComboBox = "all";
                    list.info("GetFaultTypeListKey", param, function (res) {
                        var html = "<option value=''>请选择故障类型</option>";
                        $.each(res.data, function (n, val) {
                            html += "<option value=\"" + val.id + "\">" + val.FaultTypeName + "</option>";
                        });
                        $("#FaultTypeId").html(html);
                        form.render("select");
                        layuiSelected("FaultTypeId", r.data.FaultTypeName);
                        form.on("select(FaultTypeId)", function (data) {
                            getsub(data)
                        });
                        getsub({value:r.data.FaultTypeId},function(){
                            layuiSelected("FaultSubTypeLsh", r.data.FaultSubTypeName);
                        })
                    });
                    //获取子类型
                    function getsub(data,callback){
                        param.FaultTypeId = data.value;
                        list.info("GetFaultSubTypeListKey", param, function (res) {
                            var subhtml = "<option value=''>请选择故障子类型</option>";
                            $.each(res.data, function (n, val) {
                                subhtml += "<option value=\"" + val.id + "\">" + val.FaultSubTypeName + "</option>";
                            });
                            $("#FaultSubTypeLsh").html(subhtml);
                            form.render("select");
                            if(callback)callback();
                        });
                    }
                    //监听提交
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        list.form("ChangeKnowledgeBaseKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });
        });
    </script>
</body>

</html>