<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a>
                <cite>运维管理->记录查询->维保任务记录</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon">&#xe666;</i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="two-left three-left-big">
                            <form class="layui-form layui-col-md12">
                                <text>计划完成时间</text>
                                <div class="layui-input-inline">
                                    <input type="text" id="startDateTime"  name="startDateTime" class="layui-input" placeholder="开始日期" >
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" id="endDateTime"  name="endDateTime" class="layui-input" placeholder="结束日期" >
                                </div>
                                <text>状态</text>
                                <select id="WHStatus" name="WHStatus" lay-filter="WHStatus">
                                    <option value="">维护状态</option>
                                    <option value="待执行">待执行</option>
                                    <option value="逾期未执行">逾期未执行</option>
                                    <option value="待确认">待确认</option>
                                    <option value="完成">完成</option>
                                    <option value="逾期终止">逾期终止</option>
                                </select>
                                <text>关键词</text>
                                <input type="text" name="search"  placeholder="输入任务名称、任务编号" autocomplete="off" class="layui-input">
                                <div class="two-search">
                                    <button class="layui-btn" lay-submit lay-filter="search" type="button">查询</button>
                                </div>
                            </form>
                        </div>
                        <div class="two-right-big">
                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th>操作</th>
                                        <th>任务编号</th>
                                        <th>任务名称</th>
                                        <th>关联设备</th>
                                        <th>维护内容</th>
                                        <th>发起人</th>
                                        <th>维护负责人</th>
                                        <th>计划完成时间</th>
                                        <th>状态</th>
                                        <th>任务创建时间</th>
                                        <th>系统派发</th>
                                        <th>完成提交时间</th>
                                        <th>维护人</th>
                                        <th>维护情况</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <script type="text/html" id="listtemplate">
                                        {{if data.info.length!=0}} {{each data.info as list i}}
                                        <tr>
                                            <td>
                                                {{if list.WHImg}}
                                                <a title="浏览图片" class="fancybox-view" href="{{list.WHImg}}">
                                                    <i class="layui-icon">&#xe64a;</i>
                                                    <img src="{{list.WHImg}}" alt="" style="display:none;">
                                                </a>
                                                {{else}}
                                                -
                                                {{/if}}
                                            </td>
                                            <td>{{list.WHTaskNumber}}</td>
                                            <td>{{list.WHTaskName}}</td>
                                            <td>{{list.WHTaskCon}}</td>
                                            <td>{{list.WHDeviceId}}</td>
                                            <td>{{list.CreateEmpName}}</td>
                                            <td>{{list.WHEmpName}}</td>
                                            <td>{{list.PlanComplateDate}}</td>
                                            <td>{{list.WHStatus}}</td>
                                            <td>{{list.create_time}}</td>
                                            <td>{{if list.system==1}}否{{else}}是{{/if}}</td>
                                            <td>{{list.EndTime}}</td>
                                            <td>{{list.WHPeople}}</td>
                                            <td>{{list.WHSituation}}</td>
                                        </tr>
                                        {{/each}} {{else}}
                                        <tr>
                                            <td colspan="20" style="text-align: center">暂无相关数据</td>
                                        </tr>
                                        {{/if}}
                                    </script>
                                </tbody>
                            </table>
                            <div id="bottomPaging"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //请求地址
        var url = "GetWHTaskListKey";
        $(function () {
            //初始化数据
            list.get(url, param,dealdata);
            layui.use(["form","laydate"], function () {
                $ = layui.jquery;
                var form = layui.form;
                var laydate = layui.laydate;
                laydate.render({
                    elem:'#startDateTime'
                });
                laydate.render({
                    elem:'#endDateTime'
                });
                //监听提交
                form.on("submit(search)", function (data) {
                    param.pageNo = 1;
                    param.search = data.field.search;
                    param.Status = data.field.WHStatus;
                    param.startDateTime = data.field.startDateTime;
                    param.endDateTime = data.field.endDateTime;
                    list.get(url, param,dealdata);
                    return false;
                });
                //预览图片
                fnFancyBox('.fancybox-view');
            });
            
        })
        //数据处理
        function dealdata(r){
            $.each(r.data.info,function(n,val){
                if(val.WHImg  && val.WHImg.indexOf('http')<0){
                    val.WHImg=imgUrl+val.WHImg;
                }
            });
        }
        //分页回调
        function pagechange(curr) {
            param.pageNo = curr;
            list.get(url, param,dealdata);
        }
    </script>
</body>
</html>