<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                <div class="layui-form-item">
                    <label class="layui-form-label">巡检计划名称<span class="x-red">*</span></label>
                    <div class="layui-input-inline">
                        <input type="text" id="XJModelName" value="{{data.XJModelName}}" name="XJModelName" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">
                        巡检模式
                    </label>
                    <div class="layui-input-inline">
                        <select id="XJModelType" name="XJModelType" lay-filter="XJModelType">
                            <option value="自由" {{if data.XJModelType=='自由'}} selected{{/if}}>自由</option>
                            <option value="按线路" {{if data.XJModelType=='按线路'}} selected{{/if}}>按线路</option>
                        </select>
                    </div>
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label">巡检人<span class="x-red">*</span></label>
                    <div class="layui-input-inline">
                        <input type="text" id="PersonName" value="{{data.XJEmpName}}" name="XJEmpName" lay-verify="required" autocomplete="off" class="layui-input" readonly>
                        <input type="hidden" id="EmpId" value="{{data.XJEmpId}}" name="XJEmpId" lay-verify="required" autocomplete="off" class="layui-input" readonly>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <a class="layui-btn" onclick="xadmin.open('选择人员','choose-person.html?type=person')">选择</a>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">巡检点<span class="x-red">*</span></label>
                    <div class="layui-input-inline">
                        <select id="XJPointId" name="XJPointId" lay-filter="XJPointId">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">周期性巡检</label>
                    <div class="layui-input-inline">
                        <select id="XJCycle" name="XJCycle" lay-filter="XJCycle">
                            <option value="1" {{if data.XJCycle==1}} selected{{/if}}>启用</option>
                            <option value="-1" {{if data.XJCycle==-1}} selected{{/if}}>禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">完成期限(天)</label>
                    <div class="layui-input-inline">
                        <input type="number" id="XJComplateDays" value="{{data.XJComplateDays}}" name="XJComplateDays" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">派发周期</label>
                    <div class="layui-input-inline">
                        <select id="DistributeCycle" name="DistributeCycle" lay-filter="DistributeCycle">
                            <option value="week" {{if data.DistributeCycle=='week'}} selected{{/if}}>周</option>
                            <option value="month" {{if data.DistributeCycle=='month'}} selected{{/if}}>月</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">派发时间</label>
                    <div class="layui-input-inline">
                        <select id="DistributeTime" name="DistributeTime" lay-filter="DistributeTime">
                            {{if data.DistributeCycle=='week'}}
                            <option value="1">星期一</option>
                            <option value="2">星期二</option>
                            <option value="3">星期三</option>
                            <option value="4">星期四</option>
                            <option value="5">星期五</option>
                            <option value="6">星期六</option>
                            <option value="0">星期日</option>
                            {{else}}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            {{/if}}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                </div>
            </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var id = GetString("id");
            layui.use(["form"], function () {
                $ = layui.jquery;
                var form = layui.form;
                //获取详情
                list.info("GetXJModelDetailKey", {
                    token: token,
                    id: id
                }, function (r) {
                    var html = template("detail", r);
                    $("#formNow").html(html);
                    if (r.data.DistributeCycle == 'week') {
                        var DistributeTime = '';
                        switch (r.data.DistributeTime) {
                            case '1': DistributeTime = '星期一'; break;
                            case '2': DistributeTime = '星期二'; break;
                            case '3': DistributeTime = '星期三'; break;
                            case '4': DistributeTime = '星期四'; break;
                            case '5': DistributeTime = '星期五'; break;
                            case '6': DistributeTime = '星期六'; break;
                            case '0': DistributeTime = '星期日'; break;
                        }
                    }

                    list.info('GetXJPointListKey', {
                        token: token,
                        ComboBox: 'all'
                    }, function (res) {
                        var html = "";
                        $.each(res.data, function (n, val) {
                            html += "<option value=\"" + val.id + "\">" + val.XJPointName + "</option>";
                        });
                        $("#XJPointId").append(html);
                        form.render("select");
                        layuiSelected("XJPointId", r.data.XJPointName);
                        if (r.data.DistributeCycle == 'week') {
                            layuiSelected("DistributeTime", DistributeTime);
                        } else {
                            layuiSelected("DistributeTime", r.data.DistributeTime);
                        }
                    })
                    //派发周期
                    form.on("select(DistributeCycle)", function (data) {
                        $('#DistributeTime').html('');
                        var option = '';
                        if (data.value == 'week') {
                            option = `
                                <option value="1">星期一</option>
                                <option value="2">星期二</option>
                                <option value="3">星期三</option>
                                <option value="4">星期四</option>
                                <option value="5">星期五</option>
                                <option value="6">星期六</option>
                                <option value="0">星期日</option>
                            `;
                        } else {
                            option = `
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            `;
                        }
                        $('#DistributeTime').html(option);
                        form.render();
                    });
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        strformData.append("XJModelType", "自由");
                        list.form("ChangeXJModelKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });
        })
    </script>
</body>

</html>