<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/head.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" method="post" enctype="multipart/form-data" id="formNow">
                <script type="text/html" id="detail">
                    <div class="layui-form-item">
                        <label class="layui-form-label">巡检点名称<span class="x-red">*</span></label>
                        <div class="layui-input-inline">
                            <input type="text" id="XJPointName" value="{{data.XJPointName}}" name="XJPointName" lay-verify="required"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">巡检点类型</label>
                        <div class="layui-input-inline">
                            <select id="XJPointType" name="XJPointType" lay-filter="XJPointType">
                                <option value="无" {{if data.XJPointType=='无'}}selected{{/if}}>无</option>
                                <option value="二维码" {{if data.XJPointType=='二维码'}}selected{{/if}}>二维码</option>
                                <option value="电子标签" {{if data.XJPointType=='电子标签'}}selected{{/if}}>电子标签</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">巡检点识别信息</label>
                        <div class="layui-input-inline">
                            <input type="text" id="XJPointInfo" value="{{data.XJPointInfo}}" name="XJPointInfo" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">巡检设备</label>
                        <div class="layui-input-inline">
                            <input type="text" id="DeviceId" value="{{data.XJPointParamId}}" name="XJPointParamId" autocomplete="off" class="layui-input" readonly>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <a class="layui-btn" onclick="xadmin.open('选择设备','choose-device.html?inputid=DeviceId&value='+$('#DeviceId').val())">选择</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" id="remark" class="layui-textarea">{{data.remark}}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" id="submit" lay-submit lay-filter="submit" type="button">确定</button>
                    </div>
                </script>
            </form>
        </div>
    </div>
    <div class="wait">
        <img src="images/time.gif" alt="">
    </div>
    <script>
        $(function () {
            var id = GetString("id");
            //获取详情
            list.info("GetXJPointDetailKey", {
                token: token,
                id: id
            }, function (r) {
                var html = template("detail", r);
                $("#formNow").html(html);
                layui.use(["form"], function () {
                    $ = layui.jquery;
                    var form = layui.form;
                    form.render();
                    form.on("submit(submit)", function (data) {
                        var strformData = new FormData($("#formNow")[0]);
                        strformData.append("token", token);
                        strformData.append("id", id);
                        list.form("ChangeXJPointKey", strformData, function (r) {
                            backToparent("修改成功");
                        });
                    });
                });
            });
        })
    </script>
</body>

</html>